@charset "utf-8";
/* CSS Document */
.ba-round-icon i { background: #ffffff;color: #fa8a20;border-radius: 4px;text-align: center; padding:8px;font-size: 16px; border: 2px solid #e6e6e6;}
.b-r-clm { border:1px solid  #ddd; padding:15px; margin:15px; font-size:13px; }
.b-r-clm h2 { font-size:16px; font-weight:bold; }
.m-logos-left1 {}
.m-logos1 { width:86px; height:60px; float:left; margin-left:5px; margin-right:5px; margin-bottom:15px; }
.m-logos1 img { width:100%; height:100%; }
.m-logos-left1 { margin:auto; display:table; }
.m-logos-left2 { margin:auto; display:table; }

@media screen and (max-width:479px) {
	.site { height:60vh; }
	.adds { height:40vh; position:fixed; bottom:0; background:#fff; float:none;left:auto; right:auto; }
	.fter { margin-bottom:40vh;}
	.navbar-default .navbar-toggle { border:none; background:none; }
	.navbar-default .navbar-toggle:hover  {border:none; background:none; }
	.navbar-default .navbar-toggle:focus  {border:none; background:none; }
	.nav > li { text-align:center; }
.navbar { padding-left:15px; padding-right:15px;  }
.b-logo img {width: 115px; }
.container-fluids { margin:0; }
.free-reg { width:138px; margin:auto; margin-top:49px; float:none; }
.free-reg h2 { margin-top:10px; }
.mt { margin:0; }
.j-banner { margin-bottom:15px; height:100vh; }
.j-banner h1 { font-size:28px; margin-left:auto; margin-right:auto; width:80%; }
.j-banner h5 { margin:auto; width:95%; }
.ctr-clum ul img { height:18px; }
.ctr-clum li { float:left; width:50%; margin-right:0; margin-bottom:15px; }
.ctr-clum { width:80%; }
.ctr-clum ul { padding-left:0; }
.ctr-clum h2 { font-size:18px; }
.round { width:250px; height:250px; }
.holderCircle { width:250px; height:250px; margin:0 auto; }
.title-box p { font-size:14px; }
.contentCircle { width:200px; }
.titles h2 { font-size:20px;} 
.titles { padding-top:15px; }
.j-three-clms { height:829px; margin-bottom:15px; }
.j-4clms { margin-bottom:80px; }
.j-4clms-itxt-clm { height:auto; }
.j-4clms-itxt-clm h3 { font-size:16px; }
.j-three-clms { padding-top:15px; margin-top:15px; }
.j-dates { width:80%; margin:auto; margin-top:15px; }
.j-d { text-align:right; }
.main-spo { height:auto; }
.j-br-coutr { padding-top:15px; padding-bottom:15px; }
/*--*/
.e-r-f form { margin-top:15px; }
/*--*/
.titles h5 { font-size:14px; }
.q1 { margin-left: 30px;    margin-top: 10px;    margin-right: 30px;}
.q1 h6 { font-size:14px; margin-top:15px; margin-bottom: 3px; }
.q1 li {margin-left:30px; font-size:13px; margin-bottom:4px; }
/*--*/
.sign-in form { width:80%; }
.path-tosignin { margin-top:20px; }
/*--*/
.frm-sb-sections { padding-top:15px; padding-bottom:15px; }
.hidden-div { padding-top:15px; padding-bottom:15px; }
.checkbox-inline + .checkbox-inline { margin-left:0; }


}
@media screen and (min-width:480px) and (max-width:574px) {
	.site { height:60vh; }
	.adds { height:40vh; position:fixed; bottom:0; background:#fff; float:none;left:auto; right:auto; }
	.fter { margin-bottom:40vh;}
	.navbar-default .navbar-toggle { border:none; background:none; }
	.navbar-default .navbar-toggle:hover  {border:none; background:none; }
	.navbar-default .navbar-toggle:focus  {border:none; background:none; }
	.nav > li { text-align:center; }
.navbar { padding-left:15px; padding-right:15px;  }
.b-logo img {width: 115px; }
.container-fluids { margin:0; }
.free-reg { width:138px; margin:auto; margin-top:49px; float:none; }
.free-reg h2 { margin-top:10px; }
.mt { margin:0; }
.j-banner { margin-bottom:15px; height:100vh; }
.j-banner h1 { font-size:28px; margin-left:auto; margin-right:auto; width:80%; }
.j-banner h5 { margin:auto; width:95%; }
.ctr-clum ul img { height:18px; }
.ctr-clum li { float:left; width:50%; margin-right:0; margin-bottom:15px; }
.ctr-clum { width:80%; }
.ctr-clum ul { padding-left:0; }
.ctr-clum h2 { font-size:18px; }
.round { width:250px; height:250px; }
.holderCircle { width:250px; height:250px; margin:0 auto; }
.title-box p { font-size:14px; }
.contentCircle { width:200px; }
.titles h2 { font-size:24px;} 
.titles { padding-top:15px; }
.j-three-clms { height:829px; margin-bottom:15px; }
.j-4clms { margin-bottom:80px; }
.j-4clms-itxt-clm { height:auto; }
.j-4clms-itxt-clm h3 { font-size:16px; }
.j-three-clms { padding-top:15px; margin-top:15px; }
.j-dates { width:80%; margin:auto; margin-top:15px; }
.j-d { text-align:right; }
.main-spo { height:auto; }
.j-br-coutr { padding-top:15px; padding-bottom:15px; }
.m-logos1 {
    width: 48px;
    height: 30px;
}
.j-4clms-img-clm { height:280px; }
.j-three-clms { height:auto;}
.j-4clms-img-clm img { height:100%;}
/*--*/
.e-r-f form { margin-top:20px; }
/*--*/
.titles h5 { font-size:16px; }
.q1 { margin-left: 30px;    margin-top: 10px;    margin-right: 30px;}
.q1 h6 { font-size:14px; }
.n2-img { width:60%; margin:auto; }
.titles h2 {
    font-size: 20px;
}
/*--*/
.sign-in form { width:80%; }
.path-tosignin { margin-top:20px; }
/*--*/
.frm-sb-sections { padding-top:15px; padding-bottom:15px; }
.hidden-div { padding-top:15px; padding-bottom:15px; }
.checkbox-inline + .checkbox-inline { margin-left:0; }
.main-spo { width: 50%; float: left;}
.main-spo h2 { font-size:13px; }
.co-spo h2 { font-size:13px; margin-top: 0px; border-top:none; }

}
@media screen and (min-width:575px) and (max-width:767px) {
	.site { height:60vh; }
	.adds { height:40vh; position:fixed; bottom:0; background:#fff; float:none;left:auto; right:auto; }
	.fter { margin-bottom:40vh;}
	.navbar-default .navbar-toggle { border:none; background:none; }
	.navbar-default .navbar-toggle:hover  {border:none; background:none; }
	.navbar-default .navbar-toggle:focus  {border:none; background:none; }
	.nav > li { text-align:center; }
.navbar { padding-left:15px; padding-right:15px;  }
.b-logo img {width: 115px; }
.container-fluids { margin:0; }
.free-reg { width:138px; margin:auto; margin-top:49px; float:none; }
.free-reg h2 { margin-top:10px; }
.mt { margin:0; }
.j-banner { margin-bottom:15px; height:100vh; }
.j-banner h1 { font-size:28px; margin-left:auto; margin-right:auto; width:80%; }
.j-banner h5 { margin:auto; width:95%; }
.ctr-clum ul img { height:18px; }
.ctr-clum li { float:left; width:50%; margin-right:0; margin-bottom:15px; }
.ctr-clum { width:80%; }
.ctr-clum ul { padding-left:0; }
.ctr-clum h2 { font-size:18px; }
.round { width:250px; height:250px; }
.holderCircle { width:250px; height:250px; margin:0 auto; }
.title-box p { font-size:14px; }
.contentCircle { width:200px; }
.titles h2 { font-size:24px;} 
.titles { padding-top:15px; }
.j-three-clms { height:829px; margin-bottom:15px; }
.j-4clms { margin-bottom:80px; }
.j-4clms-itxt-clm { height:auto; }
.j-4clms-itxt-clm h3 { font-size:16px; }
.j-three-clms { padding-top:15px; margin-top:15px; }
.j-dates { width:80%; margin:auto; margin-top:15px; }
.j-d { text-align:right; }
.main-spo { height:auto; }
.j-br-coutr { padding-top:15px; padding-bottom:15px; }
.m-logos1 { width:99px;}
.j-4clms-img-clm { height:280px; }
.j-three-clms { height:auto; width:480px; margin:auto; }
.j-4clms-img-clm img { height:100%;}
/*--*/
.e-r-f form { margin-top:20px; }
/*--*/
.titles h5 { font-size:16px; }
.q1 { margin-left: 30px;    margin-top: 10px;    margin-right: 30px;}
.q1 h6 { font-size:14px; }
.n2-img { width:60%; margin:auto; }
/*--*/
.sign-in form { width:80%; }
.path-tosignin { margin-top:20px; }
/*--*/
.frm-sb-sections { padding-top:15px; padding-bottom:15px; }
.hidden-div { padding-top:15px; padding-bottom:15px; }
.checkbox-inline + .checkbox-inline { margin-left:0; }
.m-logos1 {
    width: 48px;
    height: 30px;
}
.main-spo { width: 50%; float: left;}
.main-spo h2 { font-size:13px; }
.co-spo h2 { font-size:13px; margin-top: 0px; border-top:none; }
}
@media screen and (min-width:768px) and (max-width:991px) {
.free-reg { width:44%; }
.j-banner h1 { font-size:30px; }
.j-banner h5 { font-size:16px; }
.m-logos { width:90px; height:50px; }
.dotCircle .itemDot { width:50px; height:50px; line-height:28px; }
.dotCircle .itemDot i { font-size:16px; }
.dotCircle .itemDot .forActive { width:15px; height:15px; }
.title-box p { font-size:16px; }
.title-box .title { font-size:28px; }
.j-4clms-img-clm img { height:100%; }
.j-4clms-img-clm { height:154px; }
.j-4clms-itxt-clm h3 { font-size:16px; margin-bottom: 18px; margin-top: 10px; }
.j-4clms-itxt-clm { height:100px; }
.j-three-clms { height:508px; }
.j-three-clms .col-sm-6 { margin-bottom: 85px; }
.j-dates { width:75%; }
.ctr-clum li { margin-right:20px; }
.ctr-clum ul img { height:24px; }
.ctr-clum p { font-size:14px; }
.ctr-clum h2 { font-size:30px; }
/*--*/
.titles h5 { font-size:16px; }
.q1 { margin-left: 30px;    margin-top: 10px;    margin-right: 30px;}
.q1 h6 { font-size:14px; }
.n2-img { width:60%; margin:auto; }
.q1 { margin-left:30px; }
/*--*/
.sign-in form { width:80%; }
/*--*/
.frm-sb-sections { padding-top:15px; padding-bottom:15px; }
.hidden-div { padding-top:15px; padding-bottom:15px; }
.checkbox-inline + .checkbox-inline { margin-left:0; }

.navbar-new { height:110px; }
.logo-clm img { height:88px; }
.navbar-new h2 { font-size:28px; }
.c-img-clm { margin-right:8px; }
.polition-img img { height:60px; }
.polition-img2 img { height:102px; margin-top:7px; }
.c-img-clm img { height:28px; }
.main-c-img-clm img { height:36px; }
.navbar-new .col-sm-6 { padding:0; }
.modi-logo-rig { width:100%; }
.polition-log { margin-right:0; }
}
@media screen and (min-width:992px) and (max-width:1200px) {
.free-reg { width:44%; }
.j-banner h1 { font-size:30px; }
.j-banner h5 { font-size:16px; }
.m-logos { width:90px; height:50px; }
.dotCircle .itemDot { width:50px; height:50px; line-height:28px; }
.dotCircle .itemDot i { font-size:16px; }
.dotCircle .itemDot .forActive { width:15px; height:15px; }
.title-box p { font-size:16px; }
.title-box .title { font-size:28px; }
.j-4clms-img-clm img { height:100%; }
.j-4clms-img-clm { height:154px; }
.j-4clms-itxt-clm h3 { font-size:16px; margin-bottom: 18px; margin-top: 10px; }
.j-4clms-itxt-clm { height:100px; }
.j-three-clms { height:265px; }
.j-three-clms .col-sm-6 { margin-bottom: 85px; }
.j-dates { width:75%; }
.ctr-clum li { margin-right:20px; }
.ctr-clum ul img { height:30px; }
.ctr-clum p { font-size:16px; }
.ctr-clum h2 { font-size:36px; }
/*--*/
.no-comp h2 { font-size:12px;}

.navbar-new { height:110px; }
.logo-clm img { height:88px; }
.navbar-new h2 { font-size:28px; }
.c-img-clm { margin-right:8px; }
.polition-img img { height:60px; }
.polition-img2 img { height:99px; margin-top:10px; }
.c-img-clm img { height:28px; }
.main-c-img-clm img { height:36px; }
.navbar-new .col-sm-6 { padding:0; }
.modi-logo-rig { width:100%; }
.polition-log { margin-right:0; }
.polition-log a { padding:0 4px; }
}
