@charset "utf-8";
/* =========================
	Project: BigLeap Overseas
	Version: 1.1
	Last change: 20/01/2020
	Author : Shabeel Kanichadi
========================= */



.abt-service .section-lead {
  max-width: 600px;
  margin: 1rem auto 1.5rem;
}

.abt-service .service a {
  color: #5b7abb;
  display: block;
}

.abt-service .service h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #56ceba;
  font-size: 1.6rem;
  margin: 1rem 0 0.6rem;
}

.abt-service .services-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.abt-service .service {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e7e7e7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.abt-service .service:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}
a.abt-btn {
	    margin-top: 40px;
}
.abt-service .service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}

.abt-service .service1 i,
.abt-service .service1 h4,
.abt-service .service1 .cta {
  color: #42b7ca;
}

.abt-service .service1:hover {
  border: 2px solid #42b7ca;
}

.abt-service .service2 i,
.abt-service .service2 h4,
.abt-service .service2 .cta {
  color: #425fca;
}

.service2:hover {
  border: 2px solid #425fca;
}

.service3 i,
.service3 h4,
.service3 .cta {
  color: #9c42ca;
}

.abt-service .service3:hover {
  border: 2px solid #9c42ca;
}

.abt-service .service .cta .fa {
  font-size: 2rem;
	vertical-align: middle;
}

.abt-service .service > * {
  flex: 1 1 100%;
}

.abt-service .service .cta {
  align-self: flex-end;
}

@media all and (max-width:900px) {
.abt-service .services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
.service-sect {
	margin: 6rem 0;
}
.service-box{
            position: relative;
            overflow: hidden;
            margin-bottom:10px;
            perspective:1000px;
            -webkit-perspective:1000px;
	margin-top: 40px;
        }
        .service-icon{
            width: 100%;
            height: 270px;
            padding: 20px;
            text-align: center;
            transition: all .5s ease;
        }

        .service-content{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            width: 100%;
            height: 270px;
            padding: 20px;
            text-align: center;
            transition: all .5s ease;
            background-color: #474747;
            backface-visibility:hidden;
            transform-style: preserve-3d;
            -webkit-transform: translateY(110px) rotateX(-90deg);
            -moz-transform: translateY(110px) rotateX(-90deg);
            -ms-transform: translateY(110px) rotateX(-90deg);
            -o-transform: translateY(110px) rotateX(-90deg);
            transform: translateY(110px) rotateX(-90deg);
        }
        .service-box .service-icon .front-content{
            position: relative;
            top:100px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .service-box .service-icon .front-content i {
            font-size:54px;
			    margin-bottom: 10px;
            color: #fff;
            font-weight: normal;
        }

        .service-box .service-icon .front-content h3 {
            font-size: 18px;
            color: #fff;
            text-align: center;
            margin-bottom: 15px;
            text-transform: uppercase;
			    font-weight: 600;
        }
        .service-box .service-content h3 {
            font-size: 15px;
            font-weight: 700;
            color: #fff;
            margin-bottom:10px;
            text-transform: uppercase;
        }
        .service-box .service-content p {
    font-size: 14px;
    color: #b1b1b1;
    margin: 0;
    line-height: 20px;
        }
        .yellow{background-color: #ffc000;}
        .orange{background-color: #fc7f0c;}
        .red{background-color: #e84b3a;}
        .grey{background-color: #474747;}
.green{background-color: #1a9493;}

        .service-box:hover .service-icon{
            opacity: 0;
            -webkit-transform: translateY(-110px) rotateX(90deg);
            -moz-transform: translateY(-110px) rotateX(90deg);
            -ms-transform: translateY(-110px) rotateX(90deg);
            -o-transform: translateY(-110px) rotateX(90deg);
            transform: translateY(-110px) rotateX(90deg);
        }
        .service-box:hover .service-content {
            opacity: 1;
            -webkit-transform: rotateX(0);
            -moz-transform: rotateX(0);
            -ms-transform: rotateX(0);
            -o-transform: rotateX(0);
            transform: rotateX(0);
        }






@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?rcsubp');
	src: url('fonts/icomoon.eot?rcsubp#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?rcsubp') format('truetype'), url('fonts/icomoon.woff?rcsubp') format('woff'), url('fonts/icomoon.svg?rcsubp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 999;
}
#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}
.icon-accounting5:before {
	content: "\e900";
}
.icon-book200:before {
	content: "\e901";
}
.icon-book236:before {
	content: "\e902";
}
.icon-caduceus8:before {
	content: "\e903";
}
.icon-chemistry29:before {
	content: "\e904";
}
.icon-cocktail32:before {
	content: "\e905";
}
.icon-earth132:before {
	content: "\e906";
}
.icon-educational18:before {
	content: "\e907";
}
.icon-group2:before {
	content: "\e908";
}
.icon-statistics:before {
	content: "\e909";
}
.icon-teacher4:before {
	content: "\e90a";
}
.icon-user255:before {
	content: "\e90b";
}
.icon-win5:before {
	content: "\e90c";
}
.kf_course_outerwrap .cntry-sub {
	margin: 50px 0;
}
.kf_course_outerwrap .cntry-sub .cnd-sub-img {
	overflow: hidden;
}
.kf_course_outerwrap .cntry-sub h2 {
	font-size: 20px;
	padding: 10px 0;
	border-bottom: 5px solid #f00;
	margin-bottom: 10px;
}
.kf_course_outerwrap .cntry-sub img {
	width: 100%;
	transition: transform .6s;
}
.kf_course_outerwrap .cntry-sub:hover img {
	transform: scale(1.2);
}
.kf_course_outerwrap .cntry-sub p {
	text-align: justify;
	line-height: 26px;
}
.bg-overseas, header, section, .kf_content_wrap, footer {
	float: left;
	width: 100%;
}
footer {
	background-color: #1b1b1b;
	padding: 40px 0 30px;
}
.bg-overseas, section, .kf_content_wrap, footer {
	overflow: hidden;
}
section, .kf_footer_bg {
	padding: 70px 0px;
}
.inner-content-holder {
	float: left;
	width: 100%;
	padding: 70px 0px;
}
.no_padding {
	padding: 0px;
}
.kf_edu2_nav_wrap {
	float: left;
	width: 100%;
}
.kf_edu2_logo {
	float: left;
	padding: 15px;
	text-align: center;
	width: 100%;
}
.edu2_navigation {
	float: left;
	width: 100%;
	text-align: center;
}
.kf_topbar_wrap {
	float: left;
	width: 100%;
}
.kf_topbar_wrap .pull-left ul {
	float: left;
	margin: 9px 0px;
}
.kf_topbar_wrap .pull-left li {
	float: left;
	margin-left: 34px;
}
.kf_topbar_wrap .pull-left li:first-child {
	margin-left: 0px;
}
.kf_topbar_wrap .pull-left li > a {
	color: #fff;
	display: block;
	font-size: 12px;
	font-weight: normal;
	text-transform: capitalize;
}
.member-area {
	float: right;
}
.kf_topbar_wrap .member-area li > a:hover, .kf_topbar_wrap .pull-left li > a:hover {
	text-decoration: underline;
}
.kf_topbar_wrap .member-area span {
	color: #fff;
	float: left;
	font-size: 14px;
	font-weight: normal;
	margin-right: 20px;
	padding: 7px 0 10px;
	text-transform: capitalize;
}
.kf_topbar_wrap .member-area > ul {
	float: left;
}
.searchlink {
	float: right;
	display: block;
	right: 0;
	font-size: 14px;
	cursor: pointer;
	color: #fff;
}
.show {
	padding: 17px 25px;
	display: block;
}
.searchform {
	display: none;
	position: absolute;
	width: 100%;
	line-height: 40px;
	top: 144px;
	right: 0;
	padding: 26px 35px;
	cursor: default;
	background: #fff;
	z-index: 1;
}
.searchlink.open .searchform {
	display: block;
	background: rgba(225, 225, 225, 0.75);
}
.searchform form {
	float: left;
	width: 100%;
}
.searchform form input[type="text"] {
	float: left;
	color: #666;
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	line-height: 14px;
	font-size: 14px;
	padding: 15px;
}
.kf_topbar_wrap .member-area li {
	float: left;
}
.kf_topbar_wrap .member-area li > a {
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: normal;
	padding: 7px 14px 10px;
	position: relative;
	text-transform: capitalize;
}
.kf_topbar_wrap .member-area li > a i {
	margin-right: 10px;
}
.nav_des {
	float: left;
	margin: 19px 30px;
	display: inline-block;
}
.nav_des li {
	float: left;
	position: relative;
}
.nav_des > li:last-child {
	border: medium none;
}
.nav_des > li:last-child:before {
	width: 0;
	height: 0;
}
.nav_des li a {
	color: #333;
	display: block;
	font-size: 14px;
	padding: 10px 20px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
}
.nav_des a::before {
	content: "";
	height: 1px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
}
.nav_des a::after {
	content: "";
	height: 1px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	bottom: 50%;
	width: 0;
}
.nav_des li a:hover::before {
	top: 0;
	width: 100%;
}
.nav_des li a:hover::after {
	bottom: 1px;
	width: 100%;
}
.edu2_navigation ul ul {
	position: absolute;
	top: 120%;
	left: 0px;
	width: 250px;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0 18px 13px -9px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 18px 13px -9px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 18px 13px -9px rgba(0, 0, 0, 0.3);
	padding: 30px 0px 0px 0px;
}
.edu2_navigation ul ul li {
	position: relative;
	width: 100%;
	display: inline-block;
	padding: 0px;
	background-color: #fff;
	text-align: left;
}
.edu2_navigation ul ul li a {
	width: 100%;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px 12px 20px;
}
.edu2_navigation ul ul li a:hover {
	color: #fff;
}
.edu2_navigation ul ul li a::before {
	display: none;
}
.edu2_navigation ul ul li a::after {
	display: none;
}
.edu2_navigation ul li:hover > ul {
	top: 100%;
	opacity: 1;
	visibility: visible;
}
.edu2_navigation ul ul ul {
	position: absolute;
	top: 0px;
	left: 90%;
	visibility: hidden;
}
.edu2_navigation ul ul li:hover > ul {
	top: 0px;
	left: 100%;
	visibility: visible;
}
.get-admition {
	float: right;
	font-size: 14px;
	font-weight: bold;
	margin: 18px 10px;
	padding: 10px 20px;
	text-transform: uppercase;
	color: #fff;
}
.get-admition:hover {
	background-color: #000;
	color: #fff;
}
#news {
	float: left;
	margin: 9px 0px;
	width: 100%;
}
#news li {
	color: #fff;
	text-align: left;
}
#mobile-header {
	display: none;
}
#header_2 {
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
	position: relative;
	z-index: 10;
}
#header_2 .login_wrap, #header_2 .top_nav, #header_2 .lng_wrap {
	float: right;
}
.top_bar_2 {
	float: left;
	width: 100%;
	line-height: normal;
}
.contct_2 {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	display: block;
	padding: 11px 0;
}
.contct_2 a {
	color: #fff;
	padding-left: 5px;
}
.contct_2 i {
	margin-right: 5px;
}
.login_wrap {
	float: right;
}
.login_wrap li {
	display: inline-block;
}
.login_wrap li a {
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	display: block;
	padding: 10px 12px 8px;
}
.login_wrap li i {
	float: left;
	margin: 3px 5px 0px 0px;
}
.top_nav li a:hover, .login_wrap li a:hover {
	text-decoration: underline;
}
.top_nav {
	float: left;
	display: inline-block;
}
.top_nav li {
	display: inline-block;
}
.top_nav li a {
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	display: block;
	padding: 10px 12px 8px;
	position: relative;
	z-index: 2;
	position: relative;
}
.lng_wrap {
	float: right;
}
.lng_wrap .dropdown-menu > li > a {
	padding: 5px 10px;
}
.lng_wrap .dropdown-menu li a i {
	float: left;
	margin: 0px 10px 0px 0px;
}
.lng_wrap button {
	padding: 10px 15px;
	background: rgba(0,0,0,0.2);
	color: #fff;
	border: none;
	border-radius: 0;
	font-weight: bold;
}
.lng_wrap button i {
	margin-right: 5px
}
.lng_wrap button:active, .lng_wrap .btn-default.active, .lng_wrap .btn-default:active, .lng_wrap .open > .dropdown-toggle.btn-default, .lng_wrap .btn-default.focus, .lng_wrap .btn-default:focus, .lng_wrap button:hover {
	background: #000;
	color: #fff;
}
.lng_wrap .open .dropdown-menu {
	right: 0!important;
	left: inherit;
}
.lng_wrap button .caret {
	margin-left: 5px;
}
.kode_navigation {
	float: left;
	width: 100%;
	background: #fff;
	position: relative;
}
.kode_navigation .dl-menuwrapper {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	right: 15px;
}
.logo_wrap {
	float: left;
	width: 60%;
	padding: 10px 0;
}
.nav_2 {
	float: left;
	width: 100%;
	padding: 28px 0;
}
.nav_2 ul {
	float: left;
	width: 100%;
	text-align: right;
}
.nav_2 ul li {
	display: inline-block;
	position: relative;
}
.nav_2 ul li a {
	display: block;
	color: #666666;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 18px;
	position: relative;
	z-index: 2;
}
.nav_2 ul li a:hover {
	color: #fff;
}
.edu2_main_bn_wrap.banner_2 figure figcaption {
	left: 21%;
	margin: -109px 0 0 -149px;
	text-align: left;
	top: 50%;
	width: 45%;
}
.edu2_main_bn_wrap.banner_2 figcaption span::before {
	margin: inherit;
	;
}
.edu2_main_bn_wrap.banner_2 .owl-pagination {
	display: none;
}
/*second ul*/
.nav_2 ul ul {
	background-color: #fff;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 120%;
	visibility: hidden;
	width: 250px;
	z-index: 10;
}
.nav_2 ul li:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}
.nav_2 ul ul li {
	display: inline-block;
	padding: 0;
	position: relative;
	width: 100%;
	text-align: left;
}
.nav_2 ul ul li a {
	font-size: 14px;
	text-transform: capitalize;
	font-weight: normal;
	padding: 7px 10px;
}
.nav_2 ul ul li a:hover {
	color: #fff;
}
.kf_heading_3_wrap {
	float: left;
	width: 100%;
	text-align: left;
}
.kf_heading_3_wrap h5 {
	text-transform: uppercase;
	font-size: 24px;
}
.kf_edu_pagination_wrap {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: -9px;
}
.kf_edu_pagination_wrap .pagination {
	float: none;
	margin: auto;
}
.kf_edu_pagination_wrap .pagination > li:last-child > a, .kf_edu_pagination_wrap .pagination > li:last-child > span, .kf_edu_pagination_wrap .pagination > li:first-child > a, .kf_edu_pagination_wrap .pagination > li:first-child > span {
	border-radius: 0px;
	padding: 6px 12px;
	line-height: 1.42857;
	width: auto;
	height: auto;
}
.kf_edu_pagination_wrap .pagination > li:first-child > a {
	margin-left: 0;
}
.kf_edu_pagination_wrap li:first-child span i {
	margin-right: 12px;
}
.kf_edu_pagination_wrap li:last-child span i {
	margin-left: 12px;
}
.kf_edu_pagination_wrap .pagination > li > a, .kf_edu_pagination_wrap .pagination > li > span {
	background-color: #fff;
	border: 1px solid #dbdbdb;
	color: #333333;
	float: left;
	line-height: 31px;
	width: 35px;
	height: 35px;
	padding: 0px;
	position: relative;
	text-decoration: none;
	font-size: 15px;
	margin-left: 5px;
}
.kf_edu_pagination_wrap .pagination > li > a:hover, .kf_edu_pagination_wrap .pagination > li > active:hover a, .kf_edu_pagination_wrap .pagination > li > active a {
	color: #fff;
}
.kf_edu_pagination_wrap .pagination > .active > a, .kf_edu_pagination_wrap .pagination > .active > a:focus, .kf_edu_pagination_wrap .pagination > .active > a:hover, .kf_edu_pagination_wrap .pagination > .active > span, .kf_edu_pagination_wrap .pagination > .active > span:focus, .kf_edu_pagination_wrap .pagination > .active > span:hover {
	border: none;
	color: #fff;
	cursor: default;
	z-index: 2;
}
.edu2_main_bn_wrap {
	float: left;
	width: 100%;
	position: relative;
}
.edu2_main_bn_wrap:after {
	position: absolute;
	content: "";
	background: url(../images/slider-btm-img.png) no-repeat;
	width: 100%;
	height: 150px;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -150px;
	background-size: contain;
	z-index: 99;
	display: none;
}
.edu2_main_bn_wrap figure {
	float: left;
	width: 100%;
	position: relative;
}
.edu2_main_bn_wrap figure:before {
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background-color: #000000;
	opacity: 0.5;
}
.edu2_main_bn_wrap figure figcaption {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: -109px auto 0;
	text-align: center;
}
.edu2_main_bn_wrap figcaption span {
	font-size: 24px;
	font-weight: normal;
	position: relative;
	color: #fff;
	text-transform: capitalize;
	padding-bottom: 13px;
	display: inline-block;
	margin-bottom: 4px;
}
.edu2_main_bn_wrap figcaption span:before {
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	height: 2px;
	width: 120px;
	background-color: #d3d3d3;
	margin: 0 auto;
}
.edu2_main_bn_wrap figcaption h2 {
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 13px;
}
.edu2_main_bn_wrap figcaption p {
	color: #fff;
	margin: 0 0 30px 0;
	font-size: 20px;
	text-transform: capitalize;
}
.edu2_main_bn_wrap .owl-theme .owl-controls .owl-page span {
	width: 14px;
	height: 14px;
	border: 4px solid #fff;
	border-radius: 100%;
	margin: 0 4px;
	background-color: transparent;
	display: inline-block;
}
.edu2_main_bn_wrap .owl-theme .owl-pagination {
	bottom: 70px;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	text-align: center;
	z-index: 0;
}
.edu2_main_bn_wrap .customNavigation {
	bottom: 0%;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	margin: 0 0 0;
	z-index: 1;
}
.edu2_main_bn_wrap .customNavigation .btn {
	border: medium none;
	border-radius: 0;
	color: #fff;
	margin: 0;
	padding: 6px 6px;
	z-index: -1;
}
.edu2_main_bn_wrap .customNavigation .btn i {
	font-size: 16px;
	color: #fff;
}
.edu2_main_bn_wrap .customNavigation .btn.prev-1 i, .edu2_main_bn_wrap .customNavigation .btn.next-1 i {
	font-size: 25px;
	font-weight: bold;
}
.edu2_main_bn_wrap .customNavigation .prev-1 {
	margin-right: 58px;
	margin-left: 60px;
}
.kf_inr_banner.padding_more {
	padding-bottom: 110px;
}
.kf_inr_banner {
	float: left;
	width: 100%;
 text-align: :left;
	padding: 51px 0 54px;
	background-image: url(../images/about.jpg);
	background-size: cover;
	background-origin: center;
	background-repeat: none-repeat;
	position: relative;
	z-index: 2;
	background-position: center;
}
.kf_inr_banner:before {
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background: #000000;
	opacity: 0.7;
	z-index: -1;
}
.kf_inr_ban_des {
	float: left;
	width: 100%;
	text-align: left;
}
.inr_banner_heading {
	float: left;
	text-align: left;
	width: 50%;
}
.kf_inr_ban_des h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
}
.kf_inr_breadcrumb {
	float: right;
	text-align: right;
	width: 50%;
	padding: 12.5px 0 6px;
	line-height: 14px;
}
.kf_inr_breadcrumb ul li {
	display: inline-block;
	position: relative;
	padding: 0px 10px;
}
.kf_inr_breadcrumb ul li::before {
	color: #fff;
	content: "\f105";
	font-family: fontawesome;
	font-size: 12px;
	font-weight: normal;
	left: 0px;
	margin-top: -7px;
	position: absolute;
	top: 50%;
	line-height: normal;
}
.kf_inr_breadcrumb ul li:first-child:before {
	font-size: 0;
	display: none;
}
.kf_inr_breadcrumb ul li a {
	font-size: 14px;
	text-transform: capitalize;
	color: #fff;
	padding: 0 7px;
	display: block;
	line-height: 14px;
}
.kf_edu2_heading1 {
	float: left;
	width: 100%;
	text-align: left;
	margin: -7px 0 30px 0;
}
.kf_edu2_heading1 h3 {
	text-transform: uppercase;
	font-weight: normal;
	position: relative;
	padding-bottom: 15px;
}
.kf_edu2_heading1 h3.counsl-head {
	font-size: 22px;
}
.kf_edu2_heading1 h3:before {
	content: "";
	left: 0;
	bottom: 0;
	height: 2px;
	width: 25px;
	background-color: #666666;
	position: absolute;
}
.kf_edu2_heading1 h3:after {
	content: "";
	left: 35px;
	bottom: 1px;
	height: 1px;
	width: 50px;
	background-color: #bbbbbb;
	position: absolute;
}
.kf_edu2_heading2 {
	float: left;
	width: 100%;
	text-align: center;
	margin: -8px 0 40px 0;
}
.kf_edu2_heading2 h3 {
	text-transform: uppercase;
	position: relative;
	padding-bottom: 15px;
}
.kf_edu2_heading2 h3:before {
	background-color: #666666;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 49px;
	width: 25px;
}
.kf_edu2_heading2 h3:after {
	background-color: #bbbbbb;
	bottom: 1px;
	content: "";
	height: 1px;
	left: 49px;
	margin: auto;
	position: absolute;
	right: 0;
	width: 50px;
}
.kf_edu2_heading2 p {
	margin: 10px 0px;
	font-size: 16px;
}
.kf_edu2_heading2 p.nw-para {
	padding: 0 5em;
	text-align: center;
}
.kf_course_outerwrap {
	float: left;
	width: 100%;
}
.kf_course_outerwrap h5 {
	margin-bottom: 20px;
}
.kf_cur_catg_wrap {
	float: left;
	width: 100%;
	padding: 69px 0 40px;
}
.kf_cur_catg_des {
	float: left;
	width: 100%;
	position: relative;
	background-color: #f8f8f8;
	padding: 31px 23px 31px;
	margin-bottom: 30px;
}
.kf_cur_catg_des:before {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 2px;
}
.kf_cur_catg_des:hover:before {
	width: 5px;
}
.kf_cur_catg_capstion {
	float: none;
	overflow: hidden;
	text-align: left;
	padding-left: 23px;
}
.kf_cur_catg_des > span {
	color: #000000;
	float: left;
	font-size: 46px;
	margin: auto 0;
	padding: 12px 0 8px;
	vertical-align: middle;
}
.kf_cur_catg_wrap .kf_cur_catg_des:hover span {
	color: #fff;
}
.kf_cur_catg_capstion h5 {
	text-align: left;
	font-weight: normal;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.kf_cur_catg_capstion h5 a {
	color: #2f2f2f;
}
.kf_cur_catg_des:hover .kf_cur_catg_capstion > h5 {
	color: #fff;
}
.kf_cur_catg_des:hover .kf_cur_catg_capstion > h5 a {
	color: #fff;
}
.kf_cur_catg_capstion p {
	color: #000000;
	margin: 0;
}
.kf_cur_catg_des:hover .kf_cur_catg_capstion > p {
	color: #fff;
}
/*search wrap start*/
.kf_edu2_search_wrap {
	float: left;
	width: 100%;
	background-color: #f8f8f8;
	padding: 69px 20px 70px;
}
[type="date"] {
	background: #fff url(../images/calendar_2.png) 94% 50% no-repeat;
	width: 100%;
	padding: 12px 20px 15px;
	border: 1px solid #fae5e5 !important;
	border-radius: 0;
	background-color: #fff;
}
[type="date"]::-webkit-inner-spin-button {
 display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
 opacity: 0;
}
.kf_edu2_search_wrap form {
	float: left;
	width: 100%;
}
.edu2_serc_des {
	float: left;
	width: 100%;
	margin-bottom: 18px;
}
.edu2_serc_des .btn.btn-default.dropdown-toggle, .edu2_serc_des input[type="text"] {
	float: left;
	width: 100%;
	padding: 12px 20px 15px;
	font-size: 14px;
	color: #666;
	border: 1px solid #fae5e5;
	border-radius: 0;
	text-align: left;
	background-color: #fff;
}
.edu2_serc_des .btn-default.focus, .edu2_serc_des .btn-default:focus, .edu2_serc_des .btn-default.active, .edu2_serc_des .btn-default:active, .edu2_serc_des .open > .dropdown-toggle.btn-default, .edu2_serc_des .btn.btn-default.dropdown-toggle:hover {
	background-color: #fff;
}
.edu2_serc_des .btn-group {
	float: left;
	width: 100%;
}
.edu2_serc_des span {
	font-size: 14px;
	margin: -7px 0 0;
	position: absolute;
	right: 20px;
	top: 50%;
}
.edu2_serc_des .dropdown-menu {
	border: medium none;
	border-radius: 0;
	float: left;
	width: 100%;
}
.kf_edu2_search_wrap .dropdown-menu > li > a:focus, .kf_edu2_search_wrap .dropdown-menu > li > a:hover {
	color: #fff;
}
.kf_edu2_search_wrap form > button {
	color: #fff;
	float: left;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 30px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	margin-top: 3px;
}
.kf_edu2_search_wrap form > button:hover {
	background-color: #000000;
}
.kf_edu2_intro_wrap {
	position: relative;
	background-color: #f8f8f8;
	margin-bottom: 70px;
	padding-bottom: 30px;
}
.kf_edu2_intro_wrap:before {
	content: "";
	left: 0;
	width: 50%;
	top: 0;
	bottom: 0;
	background-image: url(../images/bg-1.jpg);
	background-size: cover;
	background-position: center;
	position: absolute;
}
.kf_intro_des_wrap {
	float: right;
	width: 50%;
	padding: 0 30px;
}
.kf_intro_des {
	float: left;
	width: 100%;
}
.kf_intro_des_caption {
	float: left;
	width: 100%;
	padding: 0px 15px;
	text-align: center;
/*	min-height: 320px;*/
}
.kf_intro_des_caption h6 {
	text-transform: uppercase;
}
.kf_intro_des_caption span {
	display: inline-block;
	width: 83px;
	height: 83px;
	border-radius: 100%;
	font-size: 32px;
	background-color: #fff;
	color: #666666;
	margin: 0 0 26px 0;
	border: solid 1px #ddd;
}
.kf_intro_des_caption:hover span {
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2)
}
.kf_intro_des_caption span i {
	line-height: 83px;
}
.kf_intro_des_caption h6 {
	font-weight: normal;
	margin-bottom: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.kf_intro_des_caption p {
	margin: 0 0 19px 0;
	    text-align: justify;
}
.kf_intro_des_caption a {
	display: inline-block;
	font-weight: bold;
	color: #666666;
	text-transform: capitalize;
	margin-bottom: 45px;
	font-size: 14px;
}
.kf_intro_des figure figcaption {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	margin: -7px 0 0 0;
}
.kf_intro_des figure figcaption a {
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	text-transform: capitalize;
	opacity: 0;
}
.kf_intro_des:hover figure figcaption a {
	opacity: 1;
}
/*edu2 welcome wrap end*/
/*OUR OURSES SECTION START*/
.kf_edu2_tab_wrap {
	float: left;
	width: 100%;
}
.kf_edu2_tab_wrap .nav-tabs {
	border: none;
	float: right;
}
.kf_edu2_tab_wrap .nav-tabs li {
	margin: 0px 0px 0px 23px;
	border: none;
}
.kf_edu2_tab_wrap .nav-tabs > li > a {
	border-radius: 0;
	border: none;
	color: #666666;
	font-size: 18px;
	font-weight: normal;
	padding: 4px 0 8px;
	text-transform: capitalize;
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
}
.kf_edu2_tab_wrap .nav.nav-tabs > li:first-child {
	margin-left: 0;
}
.kf_edu2_tab_wrap .nav > li > a:focus, .kf_edu2_tab_wrap .nav > li > a:hover, .kf_edu2_tab_wrap .nav-tabs > li > a:hover {
	background-color: transparent;
	border: none;
	text-decoration: none;
}
.kf_edu2_tab_wrap .nav-tabs > li > a:before {
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	height: 2px;
	width: 0%;
}
.kf_edu2_tab_wrap .nav-tabs .active a:before, .kf_edu2_tab_wrap .nav-tabs > li > a:hover:before {
	width: 100%;
}
.kf_edu2_tab_des {
	float: left;
	width: 100%;
}
.edu2_cur_wrap {
	float: left;
	width: 100%;
	border: 1px solid #e2e2e2;
	margin-bottom: 1px;
}
.edu2_cur_wrap > figure figcaption {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	bottom: 0;
	text-align: center;
	margin-top: -14px;
}
.edu2_cur_wrap > figure figcaption a {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-transform: capitalize;
	border: 1px solid #fff;
	display: inline-block;
	padding: 11px 20px 10px;
	opacity: 0;
}
.edu2_cur_wrap:hover > figure figcaption a {
	opacity: 1;
}
.edu2_cur_wrap > figure figcaption a:hover {
	background-color: #000000;
	border-color: #000000;
}
.edu2_cur_des_ft, .edu2_cur_des {
	float: left;
	width: 100%;
	position: relative;
}
.edu2_cur_des {
	padding: 30px;
}
.edu2_cur_des > span {
	background: #fff none repeat scroll 0 0;
	border-radius: 100%;
	box-shadow: 0 3px 4px -1px rgba(206, 190, 190, 1);
	color: #333;
	font-size: 14px;
	font-weight: bold;
	height: 48px;
	line-height: 48px;
	position: absolute;
	right: 15px;
	text-align: center;
	top: -24px;
	width: 48px;
}
.edu2_cur_des > h5 {
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.edu2_cur_des > strong {
	float: left;
	width: 100%;
	margin-bottom: 21px;
}
.edu2_cur_des > strong span {
	color: #333333;
	font-size: 14px;
	font-weight: normal;
	padding: 0 3px 0 0;
	position: relative;
}
.edu2_cur_des > strong small {
	color: #333333;
	font-size: 14px;
	font-weight: normal;
	padding: 0 10px;
	position: relative;
}
.edu2_cur_des > strong small::before {
	content: "-";
	left: 0;
	margin: auto;
	position: absolute;
}
.edu2_cur_des p {
	margin-bottom: -1px;
}
.edu2_cur_des_ft {
	float: left;
	width: 100%;
	padding: 15px;
	background-color: #f8f8f8;
	border-top: 1px solid #e2e2e2;
}
.edu2_cur_des_ft figure {
	width: 48px;
	height: 48px;
	margin-right: 13px;
	border-radius: 100%;
}
.edu2_cur_ftr_strip {
	float: none;
	overflow: hidden;
	padding: 8px 0px 0px;
}
.edu2_cur_ftr_strip > h6 {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
}
/*rating star*/
.rating {
	float: right;
}
.rating > span {
	color: #ddd;
	display: inline-block;
	font-size: 24px;
	position: relative;
	width: 1.1em;
	line-height: 34px;
}
.rating > span:hover:before {
	content: "\2605";
	position: absolute;
}
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
}
.rating > span:hover:before, .rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
	color: gold;
}
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
}
.rating > span {
	display: inline-block;
	position: relative;
	width: auto;
}
.edu2_cur_wrap .rating > span {
	width: auto;
	line-height: normal;
}
.rating > span:hover:before, .rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
}
/*rating star*/

/*tab slider*/
.kf_edu2_tab_des .row.margin-bottom {
	margin-bottom: 69px;
}
.kf_edu2_tab_des .item {
	padding: 15px;
}
.kf_edu2_tab_des .owl-pagination {
	display: none;
}
.kf_edu2_tab_des .customNavigation {
	float: left;
	width: 100%;
	text-align: center;
}
.kf_edu2_tab_des .customNavigation .btn.next {
	float: right;
}
.kf_edu2_tab_des .customNavigation .btn.prev {
	float: left;
}
.kf_edu2_tab_des .customNavigation .btn {
	border: 1px solid #c4c4c4;
	border-radius: 0;
	margin: 8px 0;
	padding: 8px 15px 9px;
}
.kf_edu2_tab_des .browse_all {
	background: transparent none repeat scroll 0 0;
	border: 1px solid;
	border-radius: 0;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	padding: 14px 34px 14px;
	text-transform: capitalize;
}
/*OUR OURSES SECTION END*/
/*main page gallery start*/
.edu2_gallery_wrap {
	float: left;
	width: 100%;
	background-color: #333333;
	margin-bottom: 40px;
	position: relative;
}
.edu2_gallery_wrap .navi {
	float: none;
	width: 15%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	padding: 50px 30px;
}
.edu2_gallery_wrap .navi #filterable-item-filter-1 a {
	background: none;
	color: #ffff;
	border: none;
}
.edu2_gallery_wrap .navi #filterable-item-filter-1 li {
	float: left;
	width: 100%;
	margin: 0px;
}
.edu2_gallery_wrap .gallery3 {
	float: left;
	width: 100%;
}
.edu2_gallery_des {
	float: left;
	width: 100%;
}
.edu2_gallery_des ul {
	float: none;
	margin: auto;
	text-align: center;
}
.edu2_gallery_des ul li {
	display: block;
	text-align: center;
	margin-bottom: 6px;
}
.edu2_gallery_des.navi li:last-child {
	margin: 0;
}
.edu2_gallery_des a {
	color: #fff;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	text-transform: capitalize;
}
.edu2_gallery_des > figure figcaption {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: -53px auto 0;
	text-align: center;
	opacity: 0;
}
.edu2_gallery_des:hover figure figcaption {
	opacity: 1;
}
.edu2_gallery_des > figure > figcaption > a {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: #fff;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	margin: 0 6px 21px;
}
.edu2_gallery_des > figure > figcaption > a:hover {
	background-color: #000;
	color: #fff;
}
.edu2_gallery_des > figure > figcaption > h5 {
	display: block;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.edu2_gallery_des > figure > figcaption > p {
	margin: 0;
	color: #fff;
}
.loadmore {
	float: left;
	width: 100%;
	text-align: center;
}
#button {
	display: inline-block;
	background-color: #de1f26;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}
#button::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 20px;
	color: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}
#button:hover {
	cursor: pointer;
	background-color: #333;
}
#button:active {
	background-color: #555;
}
#button.show {
	opacity: 1;
	visibility: visible;
}
.edu2_counter_wrap {
	background-color: #2d2e32;
	position: relative;
	z-index: 2;
	padding: 30px 0px;
	margin-top: 50px;
}
.edu2_counter_wrap:before {
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background-image: url(../images/counter-bg.png);
	z-index: -1;
}
.edu2_counter_des {
	float: left;
	width: 25%;
	border-right: 1px solid rgba(255, 255, 255, 0.31);
	text-align: center;
	padding: 30px 0;
}
.edu2_counter_des:last-child {
	border: medium none;
}
.edu2_counter_des span {
	font-size: 55px;
	color: #fff;
	line-height: normal;
	display: block;
	margin: -8px -1px 0;
}
.edu2_counter_des h3 {
	font-size: 34px;
	font-weight: normal;
	color: #fff;
	margin-bottom: 9px;
}
.edu2_counter_des h5 {
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
}
/*counter section end*/
/*NEWS AND EVENT SECTION START */
.edu2_new_wrap {
	background-color: #f7f7f7;
	padding-bottom: 39px;
}
.edu2_new_des {
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}
.edu2_event_des {
	float: left;
	padding: 25px 0 0px 0;
	text-align: left;
	position: relative;
	z-index: 2;
}
.text-right {
	text-align: right;
}
.text-right span {
	right: 40px;
	left: auto;
}
.edu2_event_des span {
	color: #000;
	font-size: 72px;
	font-weight: bold;
	left: 40px;
	position: absolute;
	top: 25px;
	z-index: -1;
}
.edu2_event_des h4 {
	font-weight: bold;
	margin-bottom: 29px;
	color: #de1f26 !important;
}
.edu2_event_des p {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: normal;
}
.post-option {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	text-align: left;
	line-height: normal;
}
.edu2_event_des.text-right .post-option {
	text-align: right;
}
.post-option li {
	display: inline-block;
	font-size: 13px;
	color: #999999;
	text-transform: capitalize;
	margin-left: 8px;
}
.post-option li:first-child {
	margin-left: 0px;
}
.post-option > li > a {
	font-size: 13px;
	color: #999999;
	text-transform: capitalize;
	display: inline-block;
}
.thumb figure figcaption {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: -28px auto 0;
	text-align: center;
	opacity: 0;
	transform: scale(1.5);
}
.edu2_new_des:hover .thumb figure figcaption {
	opacity: 1;
	transform: scale(1);
}
.thumb figure figcaption a {
	font-size: 40px;
	color: #fff;
}
.thumb figure figcaption a:hover {
	color: #000;
}
.kd-audio-post, .kd-video-post {
	float: left;
	width: 100%;
}
.kd-audio-post iframe {
	width: 100%;
}
.kd-video-post iframe {
	width: 100%;
	height: 400px;
}
/*NEWS AND EVENT SECTION END */
/*EDU TRAINING SECTION START */
.edu2_tarining_bg {
	background-image: url(../images/training-bg.jpg);
	position: relative;
	overflow: visible;
	min-height: 500px;
}
.edu2_tarining_bg:before {
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background-color: #333333;
	opacity: 0.85;
}
.kf_edu2_training_des {
	float: left;
	width: 100%;
	position: relative;
}
.kf_edu2_training_des figure {
	overflow: visible;
	position: absolute;
	left: 80px;
	top: -26px;
}
.kf_edu2_training_des figure img {
	width: auto;
	height: auto;
}
.edu2_training_des {
	float: left;
	width: 100%;
	position: relative;
}
.edu2_training_wrap {
	float: left;
	text-align: center;
	width: 100%;
	margin-top: -11px;
}
.edu2_training_wrap h2 {
	font-weight: 300;
	text-transform: capitalize;
	color: #fff;
	margin-bottom: 7px;
}
.edu2_training_wrap h3 {
	font-weight: 300;
	text-transform: capitalize;
	color: #fff;
	margin-bottom: 30px;
	font-size: 20px;
}
.edu2_training_wrap .countdown {
	color: transparent;
	display: inline-block;
	list-style: outside none none;
	margin: 0 0 24px;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	float: left;
	width: 100%;
}
.edu2_training_wrap .countdown li {
	background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
	border: 1px solid #fff;
	display: inline-block;
	margin: 0 7px;
	padding: 8px 0 14px;
	width: 80px;
	position: relative;
	z-index: 2;
}
.edu2_training_wrap .countdown li span {
	font-size: 24px;
	font-weight: bold;
	line-height: 39px;
	color: #fff;
}
.edu2_training_wrap .countdown li p {
	font-size: 14px;
	margin: -8px 0 0;
	text-transform: capitalize;
	color: #fff;
}
.edu2_training_wrap strong {
	font-size: 16px;
	color: #fff;
	text-transform: capitalize;
	display: block;
	margin-bottom: 18px;
}
/*EDU TRAINING SECTION END */
/*OUR TESTEMONIAL SECTION START*/
.edu2_testemonial_slider_wrap {
	float: left;
	width: 100%;
}
.edu_testemonial_wrap {
	border: 1px solid #e1e1e1;
	float: left;
	padding: 23px 10px 24px 0;
	position: relative;
	text-align: left;
	width: 100%;
	margin-bottom: 20px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.edu_testemonial_wrap:hover {
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}
.edu_testemonial_wrap:before {
	content: "";
	right: -1px;
	top: -1px;
	bottom: 0;
	width: 85%;
	height: 2px;
	position: absolute;
}
.edu_testemonial_wrap > figure {
	width: 122px;
	left: 30px;
	height: 122px;
 box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3) -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3) -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3)
}
.edu_testemonial_wrap > figure img {
	width: 100%;
}
.edu_testemonial_wrap .kode-text {
	padding-left: 180px;
}
.edu_testemonial_wrap p {
	margin-bottom: 20px;
}
.edu_testemonial_wrap a {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
.edu_testemonial_wrap a span {
	font-size: 15px;
	font-weight: normal;
	font-style: italic;
	margin-left: 4px;
}
.edu2_testemonial_slider_wrap .item {
	float: left;
	padding: 0 15px;
}
.edu2_testemonial_slider_wrap .owl-wrapper-outer {
	padding-top: 30px;
	margin-bottom: 29px;
}
.edu2_testemonial_slider_wrap .owl-theme .owl-controls .owl-page > span {
	width: 11px;
	height: 11px;
	border-radius: 100%;
	background-color: #c3c3c3;
}
.edu2_testemonial_slider_wrap .owl-theme .owl-controls .owl-pagination {
	line-height: 13px;
	display: none;
}
.edu2_testemonial_slider_wrap .owl-page.active {
	width: 15px;
	height: 15px;
	border-radius: 100%;
}
.edu2_testemonial_slider_wrap .owl-page.active > span {
	background-color: transparent !important;
}
.kf_courses_outer_wrap {
	float: left;
	width: 100%;
	overflow: hidden;
}
.col-md-6.left-padding {
	padding-left: 0;
}
.col-md-6.right-padding {
	padding-right: 0;
}
.kf_courses_wrap {
	float: left;
	width: 100%;
	padding-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;
}
.kf_courses_wrap > figure {
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
}
.kf_courses_wrap figure a {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 50%;
	margin: -25px auto 0;
	font-size: 16px;
	color: #000;
	text-align: center;
	display: inline-block;
	opacity: 0;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background-color: #fff;
	line-height: 46px;
}
.kf_courses_des {
	float: left;
	width: 100%;
}
.courses_des_hding1 {
	float: left;
	width: 100%;
	text-align: left;
	margin: 0px 0 10px;
}
.courses_des_hding1 h5 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.kf_courses_des > span {
	font-size: 14px;
	font-weight: normal;
	color: #666;
	text-transform: capitalize;
	float: left;
	margin-bottom: 15px;
}
.kf_courses_des > span > small {
	font-size: 16px;
	font-weight: normal;
	text-transform: capitalize;
	margin-left: 7px;
}
.kf_courses_des > p {
	margin: 0 0 23px;
	color: #666666;
	float: left;
}
.rating_wrap {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.rating_wrap > span {
	float: left;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	line-height: 16px;
	margin-right: 10px;
}
.rating_wrap .rating {
	float: left;
	margin: -8px 0;
}
.rating_wrap .rating > span {
	color: #ddd;
	display: inline-block;
	font-size: 24px;
	position: relative;
}
.rating_wrap .rating > span:hover:before {
	content: "\2605";
	position: absolute;
}
.rating_wrap .rating {
	unicode-bidi: bidi-override;
	direction: rtl;
}
.rating_wrap .rating > span:hover:before, .rating_wrap .rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
	color: gold;
}
.rating_wrap .rating {
	unicode-bidi: bidi-override;
	direction: rtl;
}
.rating_wrap .rating > span:hover:before, .rating_wrap .rating_wrap .rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
}
/*rating stars css end*/
.kf_courses_des > a {
	border: 1px solid #dddddd;
	float: left;
	padding: 15px 30px;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	content: #333;
}
.kf_courses_des > a:hover {
	color: #fff;
}
.kf-sidebar {
}
.kf-sidebar .widget {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: solid 1px #CCC;
}
.kf-sidebar .widget h2 {
	font-size: 24px;
	text-transform: uppercase;
	margin: 0px 0px 15px 0px;
}
.widget-search form {
	float: left;
	width: 100%;
	position: relative;
}
.widget-search input[type="search"] {
	float: left;
	width: 100%;
	padding: 11px 15px 13px;
	border: 1px solid #d7d7d7;
	font-size: 16px;
	color: #999999;
}
.widget-search input[type="search"]:focus {
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}
.widget-archive {
}
.widget-archive ul {
	list-style: none;
	float: left;
	width: 100%;
	margin: 0px 0px 0px 0px;
}
.widget-archive ul li {
	float: left;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.widget-archive ul li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
.widget-archive ul li a {
	font-weight: normal;
	font-size: 14px;
	text-transform: capitalize;
	color: #fff;
	padding: 12px 10px;
	display: block;
	line-height: normal;
}
.widget-archive ul li a:hover {
	padding: 12px 15px;
	background: #040707;
}
.widget-archive ul li a i {
	margin-right: 10px;
}
.widget-recent-posts {
	float: left;
	width: 100%;
	margin-bottom: 46px;
}
.widget-recent-posts ul {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.widget-recent-posts li {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.widget-recent-posts ul li:last-child {
	margin-bottom: 0;
}
.widget-recent-posts figure {
	width: 130px;
}
.widget-recent-posts figure figcaption {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: -9px auto 0;
	text-align: center;
	opacity: 0;
	line-height: 20px;
}
.widget-recent-posts figure figcaption a {
	font-size: 16px;
	display: inline-block;
	color: #fff;
}
.widget-recent-posts ul li:hover figure figcaption {
	opacity: 1;
}
.widget-recent-posts .kode-text {
	float: none;
	padding: 0 0 0 150px;
	margin-top: 0px;
}
.widget-recent-posts h6 {
	font-size: 16px;
	margin-bottom: 15px;
}
.widget-recent-posts span {
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	color: #999999;
}
.widget-recent-posts span i {
	font-style: normal;
	font-size: 16px;
	margin-right: 5px;
}
.widget-categories {
	float: left;
	width: 100%;
	margin-bottom: 46px;
}
.widget-categories ul {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.widget-categories ul li {
	float: left;
	width: 100%;
}
.widget-categories ul li:last-child {
	margin-bottom: -2px;
}
.widget-categories ul li a {
	font-weight: normal;
	font-size: 14px;
	text-transform: capitalize;
	color: #666;
	padding: 8px 0px;
	display: block;
	line-height: normal;
}
.widget-categories ul li a:hover {
	padding: 8px 10px;
	background: #f3f2f2;
	color: #fff;
}
.widget-categories ul li a i {
	margin-right: 10px;
}
.widget-courses-list {
}
.widget-courses-list {
}
.widget-courses-list ul {
	margin: 0px 0px 0px -6px;
}
.widget-courses-list ul li {
	margin: 0 0px 6px 5px;
	float: left;
	width: 97px;
}
.widget-courses-list figure a {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
}
.widget-courses-list li:hover figure a {
	opacity: 0.9;
}
.widget-courses-list figure a {
	font-size: 14px;
	color: #fff;
	text-transform: capitalize;
	font-weight: bold;
	display: block;
	line-height: 88px;
}
.widget-tag-cloud {
}
.widget-tag-cloud ul {
	margin: -5px 0px 0px -5px;
}
.widget-tag-cloud ul li {
	float: left;
	margin: 0 0 5px 5px;
}
.widget-tag-cloud ul a {
	border: 1px solid #dcdcdc;
	color: #777;
	display: block;
	font-size: 14px;
	font-weight: normal;
	padding: 5px 10px;
	text-transform: uppercase;
}
.widget-tag-cloud ul a:hover {
	color: #fff;
}
.sidebar_register_wrap {
	float: left;
	width: 100%;
	padding: 30px;
	border: 1px solid #e0e0e0;
	margin-bottom: 30px;
}
.apply {
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	padding: 15px 30px;
}
.apply:hover {
	background: #000;
	color: #fff;
}
.sidebar_register_des {
	float: left;
	width: 100%;
	padding: 27px 0 0 0;
}
.sidebar_register_des li {
	float: left;
	width: 100%;
	text-align: left;
	font-size: 16px;
	color: #666666;
	margin-bottom: 7px;
}
.sidebar_register_des li > span {
	float: left;
}
.sidebar_register_des li:last-child {
	margin-bottom: -7px;
}
.sidebar_register_des .rating {
	float: left;
	margin: 6px 20px 0px;
	line-height: normal;
}
.sidebar_register_des .rating span {
	font-size: 24px;
	margin: 0 -5px;
	line-height: 10px;
}
.green {
	color: #13ab1e;
	float: none !important;
	font-weight: bold;
}
.teacher_outer_wrap {
	float: left;
	width: 100%;
	margin-bottom: 26px;
}
.teacher_outer_wrap span {
	display: block;
	border: 11px solid #fff;
	padding: 5px 0 6px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	outline: 1px solid #e0e0e0;
	margin-bottom: 30px;
	font-size: 20px;
	text-transform: capitalize;
}
.teacher_wrap {
	float: left;
	width: 100%;
}
.teacher_wrap figure {
	width: 73px;
	margin-bottom: 22px;
}
.teacher_des {
	float: none;
	overflow: hidden;
	padding-left: 15px;
}
.teacher_des h4 {
	margin: -5px 0 3px;
}
.teacher_des small {
	font-size: 14px
}
.teacher_wrap p {
	float: left;
	margin-bottom: 13px;
}
.teacher_meta {
	float: left;
	width: 100%;
}
.teacher_meta li {
	float: left;
	margin-right: 5px;
}
.teacher_meta li a {
	display: block;
	text-align: center;
	border: 1px solid #999999;
	color: #999999;
	width: 36px;
	height: 36px;
	line-height: 34px;
	font-size: 14px;
}
.sidebar_register_des {
}
.edu2_teachers_page .edu2_faculty_des {
	margin-bottom: 30px;
}
.edu2_event_wrap {
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 30px;
	padding: 30px 278px 20px 29px;
}
.edu2_event_wrap:before {
	content: "";
	position: absolute;
	left: 0;
	right: 30px;
	top: 0;
	bottom: 0;
	background-color: #f9f9f9;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.edu2_event_wrap:hover:before {
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}
.side_change {
	padding: 30px 29px 20px 278px;
}
.side_change:before {
	right: 0;
	left: 30px;
}
.edu2_event_wrap.side_change .edu2_event_des {
	text-align: right;
}
.edu2_event_wrap.side_change .edu2_event_des span {
	right: 40px;
}
.edu2_event_wrap.side_change .post-option > li a {
	padding: 0 0 0 5px;
}
.edu2_event_wrap.side_change .post-option > li:first-child a {
	padding: 0 5px 0 5px;
}
.edu2_event_wrap.side_change .post-option > li {
	float: left;
	margin: 0 10px 0 19px;
	text-align: right;
}
.edu2_event_wrap .post-option li:last-child, .edu2_event_wrap.side_change .post-option > li:last-child {
	margin: 0;
}
.side_change figure {
	left: 0;
}
.edu2_event_wrap .edu2_event_des {
	float: left;
	padding: 25px 0 4px 0;
	text-align: left;
	position: relative;
	z-index: 2;
	width: 100%;
}
.edu2_event_wrap .edu2_event_des h4 {
	font-weight: bold;
	margin-bottom: 27px;
}
.edu2_event_wrap .edu2_event_des h6 {
	font-weight: 500;
	margin-bottom: 11px;
}
.edu2_event_wrap .post-option {
	float: left;
	width: 100%;
	margin-bottom: 17px;
}
.edu2_event_wrap .post-option li {
	float: left;
	font-size: 14px;
	color: #999999;
	text-transform: capitalize;
	margin-right: 10px;
}
.edu2_event_wrap .post-option > li > a {
	font-size: 13px;
	color: #999999;
	text-transform: capitalize;
	padding: 0 10px 0 3px;
	display: inline-block;
}
.edu2_event_wrap .readmore {
	display: inline-block;
	font-size: 15px;
	text-transform: capitalize;
}
.edu2_event_wrap .readmore i {
	font-size: 18px;
	margin: auto 5px;
	vertical-align: middle;
}
.edu2_event_wrap .readmore:hover i {
	transform: translate(10px);
}
.edu2_event_wrap figure {
	position: absolute;
	width: 261px;
	right: 0;
	top: 50%;
	margin-top: -96px;
}
.edu2_event_wrap figure figcaption {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: -34px auto 0;
	text-align: center;
	opacity: 0;
	transform: scale(1.5);
}
.edu2_event_wrap:hover figure figcaption {
	opacity: 1;
	transform: scale(1);
}
.edu2_event_wrap figure figcaption a {
	font-size: 50px;
	color: #fff;
}
.edu2_event_wrap figure figcaption a:hover {
	color: #000;
}
.edu2_blog_page {
	float: left;
	width: 100%;
}
.edu2_blogpg_wrap {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
}
.edu2_blogpg_des {
	float: left;
	width: 100%;
	text-align: left;
	position: relative;
	padding: 26px 0 0 0;
}
.edu2_blogpg_wrap > figure:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.10;
}
.edu2_blogpg_des > figure {
	width: 77px;
	position: absolute;
	right: 30px;
	top: -34px;
	border: 3px solid #fff;
	border-radius: 5px;
}
.edu2_blogpg_des ul {
	float: left;
	width: 100%;
	margin-bottom: 22px;
}
.edu2_blogpg_des ul li {
	display: inline-block;
	margin-right: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: normal;
}
.edu2_blogpg_des ul li i {
	margin-right: 13px;
}
.edu2_blogpg_des ul li a {
	color: #999999;
	text-transform: capitalize;
	display: inline-block;
}
.edu2_blogpg_des h5 {
	font-size: 26px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.edu2_blogpg_des p {
	margin-bottom: 26px;
	font-size: 16px;
}
.edu2_blogpg_des .blog-readmore {
	display: inline-block;
	float: right;
	font-size: 14px;
	padding: 15px 30px;
	font-weight: bold;
	line-height: 14px;
	text-transform: uppercase;
	border: 1px solid;
}
.edu2_blogpg_des .blog-readmore:hover {
	color: #fff;
}
/*slider css*/
.blog_slider_thumb {
	float: left;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.edu2_blogpg_wrap .owl-pagination {
	display: none;
}
.edu2_blogpg_wrap .customNavigation {
	left: 0;
	margin: -24px 0 0;
	position: absolute;
	right: 0;
	top: 50%;
}
.edu2_blogpg_wrap .btn {
	background: rgba(0, 0, 0, 0.2);
	;
	border: medium none;
	border-radius: 0;
	color: #fff;
	font-size: 20px;
	height: auto;
	padding: 10px 25px;
	width: auto;
}
.edu2_blogpg_wrap .btn.prev {
	float: left;
}
.edu2_blogpg_wrap .btn.next {
	float: right;
}
.abt_univ_wrap {
	float: left;
	width: 100%;
}
.kf_edu2_heading1 h5 {
	text-transform: capitalize;
	margin: 3px 0 11px;
}
.abt_univ_des {
	float: left;
	width: 100%;
	text-align: left;
	padding: 0 0 0;
}
.abt_univ_des span {
	font-size: 18px;
	color: #333;
	margin: -7px 0 21px;
	display: block;
}
.abt_univ_des p {
	margin-bottom: 20px;
}
.abt_univ_des .btn-6 {
	margin-top: 7px;
}
.abt_univ_thumb {
	float: left;
	width: 100%;
}
.abt_univ_thumb figure:before {
	content: "";
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
	background-color: transparent;
	opacity: 1;
	border: 2px solid #fff;
}
.abut-padiing {
	padding-bottom: 60px;
}
.kf_intro_des_wrap.aboutus_page {
	width: 100%;
	float: left;
	padding: 0;
}
.aboutus_page .kf_intro_des {
	width: 100%;
}
.aboutus_page .kf_intro_des_caption a {
	margin-bottom: 0;
}
.event_list_page {
	padding-bottom: 40px;
}
.kf_event_list_wrap {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	background-color: #f9f9f9;
}
.kf_event_list_wrap:hover {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3)
}
.kf_event_list_thumb {
	float: left;
	width: 100%;
}
.kf_event_list_thumb .defaultCountdown {
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	bottom: 0px;
	width: 80%;
	text-align: center;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	opacity: 0
}
.kf_event_list_wrap:hover .defaultCountdown {
	bottom: 20px;
	opacity: 1;
}
.kf_event_list_thumb .countdown-row {
	width: 100%;
}
.kf_event_list_thumb .countdown-section {
	display: inline-block;
	width: 25%;
}
.kf_event_list_thumb .countdown-section span {
	float: left;
	width: 100%;
	line-height: normal;
}
.kf_event_list_thumb .countdown-amount {
	font-size: 40px;
	color: #fff;
	font-weight: bold;
}
.kf_event_list_thumb .countdown-period {
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
}
.kf_event_list_des {
	float: left;
	padding: 30px 30px 30px 0;
	width: 100%;
}
.kf_event_list_des h4 {
	margin-bottom: 10px;
}
.kf_event_list_des h4 a {
	font-size: 20px;
	text-transform: uppercase;
	;
}
.kf_event_list_des h4 a span {
	color: #333333;
}
.kf_event_list_des p {
	margin-bottom: 15px;
}
.kf_event_list_links {
	float: left;
	width: 100%;
}
.kf_event_list_links li {
	float: left;
	margin-right: 15px;
}
.kf_event_list_links li i {
	margin-right: 10px;
}
.kf_event_list_links li a {
	display: inline-block;
	font-size: 15px;
	color: #999999;
	text-transform: capitalize;
}
.overflow_visible {
	overflow: visible;
}
.search_bar_outer_wrap {
	overflow: visible;
	padding: 0;
	position: relative;
	margin: 0px;
}
.inr_pg_search_wrap {
	width: 100%;
	position: relative;
	padding: 35px 30px;
	z-index: 2;
	margin-top: -60px;
	float: left;
	width: 100%;
}
.inr_pg_search_wrap:before {
	background-image: url(extra-images/search_bar_bg.png);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	opacity: 1;
	content: "";
	z-index: -1;
}
.inr_pg_search_wrap form {
	float: left;
	width: 100%;
}
.search_bar_des {
	float: left;
	width: 83.3%;
}
.inr_pg_search_wrap form > button {
	float: right;
	padding: 15px 0px;
	font-weight: bold;
	color: #fff;
	text-transform: capitalize;
	font-size: 16px;
	background-color: #333333;
	width: 16.7%;
	text-transform: uppercase;
	line-height: normal;
	height: 50px;
}
.search_bar_des > input[type="search"] {
	border: none;
	float: left;
	width: 70%;
	padding: 15px 20px 16px;
	font-size: 16px;
	color: #666;
	font-weight: normal;
	height: 50px;
}
.search_bar_des .selectric-wrapper {
	width: 30%;
	height: 50px;
}
.search_bar_des .selectric .button {
	padding: 10px 12px;
}
.search_bar_des .selectric .label {
	line-height: 50px;
	height: 50px
}
.inr_pg_search_wrap form .dropdown {
	float: right;
	width: 30%;
	border-left: 1px solid #e1e1e1;
}
.inr_pg_search_wrap form .btn {
	-moz-user-select: none;
	border-radius: 0px;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0;
	padding: 13px 20px 15px;
	border: none;
	text-align: left;
	width: 100%;
}
.btn-default:hover, .inr_pg_search_wrap form .btn-default.active, .inr_pg_search_wrap form .btn-default:focus, .inr_pg_search_wrap form .btn-default:active, .inr_pg_search_wrap form .open > .dropdown-toggle.btn-default {
	background-color: #fff;
}
.inr_pg_search_wrap form .caret {
	margin-top: -2px;
	position: absolute;
	right: 20px;
	top: 50%;
}
.inr_pg_search_wrap form .dropdown-menu > li {
	float: left;
	width: 100%;
}
.edu2_col_4_wrap {
	float: left;
	width: 100%;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #dddddd;
	margin-bottom: 30px;
}
.edu2_col_4_wrap figure figcaption {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -12px;
	text-align: center;
	opacity: 0;
}
.edu2_col_4_wrap:hover > figure figcaption {
	opacity: 1;
}
.edu2_col_4_wrap figure figcaption a {
	display: inline-block;
	color: #fff;
	font-size: 24px;
}
.edu2_col_4_wrap figure figcaption a:hover {
	color: #000;
}
.edu2_col_4_des {
	float: left;
	width: 100%;
	padding: 35px 0 13px 0;
	text-align: center;
	border-bottom: 1px solid #ddd;
	position: relative;
}
.edu2_col_4_des figure {
	position: absolute;
	top: -22px;
	left: 0;
	right: 0;
	margin: auto;
	width: 43px;
	height: 43px;
	border-radius: 100%;
	border: 3px solid #fff;
}
.edu2_col_4_des h6 {
	margin: -3px 0 7px;
	text-transform: capitalize;
	color: #333333;
	font-weight: bold;
}
.edu2_col_4_des p {
	margin-bottom: 8px;
}
.edu2_col_4_des span {
	display: block;
	font-size: 16px;
	font-weight: bold;
}
.edu2_col_4_ftr {
	border-bottom: 1px solid #ddd;
	float: left;
	padding: 14px 14px;
	width: 100%;
}
.edu2_col_4_ftr .rating {
	float: right;
	margin-top: -8px;
}
.edu2_col_4_ftr > span {
	float: left;
	font-size: 16px;
	margin: -6px 0 -5px;
}
.edu2_col_4_ftr .rating > span {
	color: #ddd;
	font-size: 16px;
}
.edu2_col_3_wrap {
	float: left;
	width: 100%;
	border: 1px solid #dddddd;
	padding: 15px;
	margin-bottom: 30px;
	cursor: pointer;
}
a.cmnlink {
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #de1f26;
}
.edu2_col_3_des {
	float: left;
	width: 100%;
	padding: 25px 0px 0 0px;
}
.edu2_col_3_wrap .rating > span {
	width: auto;
}
.edu2_col_3_wrap:hover > figure:before {
	background-color: #000;
	opacity: 0.5;
}
.edu2_col_3_wrap figure figcaption {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 0;
	right: 0;
	text-align: center;
}
.edu2_col_3_wrap figure figcaption a {
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 56px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 100%;
	font-size: 20px;
	text-align: center;
	transform: scale(3);
	opacity: 0;
}
.edu2_col_3_wrap:hover figure figcaption a {
	opacity: 1;
	transform: scale(1);
}
.edu2_col_3_des h6 {
	font-weight: normal;
	margin: 0px 0 10px 0;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.edu2_col_3_des p {
	margin: 0 0 21px 0;
	text-align: justify;
}
.video_link_wrap {
	float: left;
	width: 100%;
	margin-bottom: 28px;
}
.video_link_wrap a {
	display: inline-block;
	font-size: 16;
	font-weight: bold;
	text-transform: capitalize;
}
.video_link_wrap span {
	float: right;
	font-size: 20px;
	font-weight: bold;
	color: #333;
	margin-top: -6px;
}
.edu2_col_3_ftr {
	float: left;
	width: 100%;
	padding: 20px 0 16px;
	border-top: 1px solid #ddd;
}
.edu2_col_3_ftr figure {
	width: 37px;
	height: 37px;
	border-radius: 100%;
}
.edu2_col_3_ftr a {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	padding: 2px 0 0 15px;
}
.edu2_col_3_ftr .rating {
	margin: 0;
}
.right-sidebar {
	padding-bottom: 15px;
}
.blog_3_wrap {
	float: left;
	width: 100%;
	position: relative;
	padding-left: 55px;
	margin-bottom: 50px;
}
.blog_3_sidebar {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
}
.blog_3_sidebar > li {
	float: left;
	width: 100%;
	background-color: #333333;
	border-bottom: 1px solid #717171;
	padding: 4px 0px 5px;
}
.blog_3_sidebar > li:last-child {
	border: none;
}
.blog_3_sidebar a {
	color: #fff;
	display: block;
	font-size: 16px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 24px;
}
.blog_3_sidebar span {
	color: #fff;
	display: block;
	font-size: 14px;
	text-align: center;
	text-transform: capitalize;
}
.blog_3_wrap:hover .blog_3_des figure:before {
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	opacity: 0.65;
}
.blog_3_des figure figcaption {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -7px;
	text-align: center;
	opacity: 0;
}
.blog_3_wrap:hover .blog_3_des figure figcaption {
	opacity: 1;
}
.blog_3_des figure figcaption a {
	display: inline-block;
	font-size: 20px;
	color: #fff;
}
.blog_3_des {
	float: left;
	width: 100%;
	margin-bottom: -6px;
	text-align: left;
}
.blog_3_des ul {
	float: left;
	width: 100%;
	margin: 20px 0px 15px 0px;
}
.blog_3_des ul li {
	float: left;
	border-right: 1px solid #dcdcdc;
	font-size: 15px;
	color: #666666;
	margin: -5px 0 -2px;
	padding-right: 15px;
}
.blog_3_des ul li:last-child {
	border: none;
}
.blog_3_des ul li a {
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	margin-right: 10px;
}
.blog_3_des ul li i {
	margin-left: 15px;
}
.blog_3_des h5 {
	font-weight: normal;
	margin-bottom: 10px;
	font-size: 18px;
	text-transform: uppercase;
	float: left;
	width: 100%;
}
.blog_3_des p {
	margin-bottom: 5px;
}
.teacher_bio_wrap {
	float: left;
	width: 100%;
}
.teacher_bio_logo {
	float: left;
	border: 2px solid;
	border-radius: 5px;
	margin-bottom: 30px;
}
.teacher_bio_logo span {
	color: #fff;
	float: left;
	font-size: 36px;
	padding: 16px;
	text-align: center;
}
.teacher_bio_logo h3 {
	text-transform: uppercase;
	float: left;
	line-height: normal;
	font-weight: bolder;
	padding: 15px 25px 12px;
}
.teacher_bio_des {
	float: left;
	width: 100%;
}
.teacher_bio_des h4 {
	font-weight: normal;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.teacher_bio_des ul {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.teacher_bio_des ul li {
	float: left;
	font-size: 16px;
	color: #666;
	font-weight: normal;
	margin-right: 30px;
}
.teacher_bio_des ul li i {
	margin-right: 8px;
}
.teacher_bio_des ul li a {
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	color: #666;
}
.margin_none {
	margin: 0 !important;
}
.teacher_thumb {
	float: left;
	width: 100%;
}
.teacher_thumb figure:after {
	content: "";
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 20px;
	position: absolute;
	border: 1px solid;
}
.teacher_thumb figure figcaption {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 16px;
	z-index: 9999;
}
.teacher_thumb ul {
	display: inline-block;
	margin: auto;
}
.teacher_thumb li {
	float: left;
}
.teacher_thumb figcaption a {
	width: 41px;
	height: 41px;
	display: block;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 41px;
	margin: 0 3px;
}
.teacher_thumb figcaption a:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
}
.skill_progress_wrap {
	float: left;
	width: 100%;
	border: 1px solid #e2e2e2;
	margin-bottom: 70px;
}
.skill_progress_des {
	float: left;
	width: 100%;
	padding: 50px 50px 30px 20px;
}
.progress_heading {
	float: left;
	width: 100%;
	position: relative;
	margin: -5px 0 35px 0;
	padding: 0 0 4px;
	border-bottom: 2px solid #e2e2e2;
}
.progress_heading h4 {
	font-weight: normal;
	text-transform: uppercase;
}
.progress_heading:before {
	content: "";
	left: 0;
	right: 0;
	bottom: -2px;
	position: absolute;
	height: 2px;
	width: 40px;
}
.progress-names span {
	font-weight: normal;
	font-size: 16px;
	color: #333333;
	margin-bottom: 13px;
	float: left;
	line-height: normal;
}
.progress-names {
	float: left;
	overflow: hidden;
	width: 100%;
	margin-bottom: 15px;
}
.progressbar {
	float: left;
	position: relative;
	width: 100%;
	height: 14px;
	padding: 0;
	margin: 0 auto 0px;
	background-color: #e2e2e2;
}
.bar {
	position: absolute;
	display: block;
	width: 0px;
	height: 16px;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.label {
	background: transparent;
	color: #666666;
	display: block;
	font-size: 16px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	margin-left: -39px;
	position: absolute;
	text-align: center;
	top: -35px;
	padding: 0;
	left: 100% !important;
}
.label span {
	position: absolute;
	display: block;
	width: 12px;
	height: 13px;
	top: 26px;
	left: 14px;
	background: transparent;
	overflow: hidden;
	transform: rotate(30deg)
}
.training_heading {
	float: left;
	width: 100%;
	position: relative;
	margin: -5px 0 50px 0;
	padding: 0 0 10px;
	border-bottom: 2px solid #e2e2e2;
	text-align: center;
}
.training_heading h4 {
	font-weight: normal;
	display: inline-block;
	text-transform: uppercase;
}
.training_heading:before {
	content: "";
	left: 0;
	right: 0;
	bottom: -2px;
	position: absolute;
	height: 2px;
	width: 40px;
	margin: 0 auto;
}
.kf_training_wrap ul {
	float: left;
	width: 100%;
}
.kf_training_wrap ul li {
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
	padding: 60px 0 0 0;
}
.kf_training_wrap ul li:before {
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	width: 2px;
	background-color: #e2e2e2;
	height: 100%;
	margin: auto;
}
.kf_training_wrap ul li:after {
	content: "\f111";
	left: 0;
	right: 0;
	top: 50%;
	bottom: 0;
	margin: -30px auto;
	position: absolute;
	width: 60px;
	border: 2px solid #e2e2e2;
	height: 60px;
	line-height: 54px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 17px;
	text-align: center;
	padding: 0;
	background-color: #fff;
	border-radius: 100%;
}
.kf_training_wrap li:nth-child(even) .kf_training_des {
	text-align: right;
	float: left;
	padding-right: 70px;
	padding-left: 0px;
}
.kf_training_wrap li:nth-child(even) .kf_training_date {
	float: right;
	text-align: left;
	padding-left: 70px;
}
.kf_training_outer_des {
	float: left;
	width: 100%;
}
.kf_training_date {
	float: left;
	width: 50%;
	text-align: right;
	padding: 12px 70px 0 0;
}
.kf_training_date > span {
	display: inline-block;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
	padding: 8px 13px;
	border: 2px solid;
	border-radius: 3px;
}
.kf_training_outer_des:hover .kf_training_date > span {
	color: #fff;
	border-radius: 0;
}
.kf_training_des {
	float: right;
	width: 50%;
	text-align: left;
	padding: 9px 0 0 70px;
}
.kf_training_des h6 {
	font-size: 16px;
	font-weight: bolder;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.kf_training_des span {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 16px;
}
.kf_training_des p {
	margin-bottom: 0;
}
.background_color {
	background-color: #f7f7f7;
}
.background_color .edu_testemonial_wrap {
	background: #fff;
}
.kf_convocation_outer_wrap {
	float: left;
	width: 100%;
}
.convocation_slider {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.convocation_slider .owl-pagination {
	display: none;
}
.convocation_slider figure:before {
	border: 1px solid rgba(225, 225, 225, 0.5);
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 20px;
	opacity: 1;
	background-color: transparent;
	outline: 1px solid rgba(225, 225, 225, 0.5);
	outline-offset: 9px;
}
.kf_convocation_wrap {
	float: left;
	width: 100%;
	text-align: left;
}
.kf_convocation_wrap h4 {
	font-weight: normal;
	margin: 0px 0 20px 0;
	display: block;
	font-size: 26px;
	text-transform: uppercase;
	line-height: 26px;
}
.kf_convocation_wrap h4 span {
}
.convocation_timing {
	float: left;
	width: 100%;
	border-bottom: 1px solid;
	padding-bottom: 20px;
}
.convocation_timing li {
	float: left;
	margin-right: 29px;
	font-size: 16px;
	color: #999999;
}
.convocation_timing li i {
	margin-right: 10px;
}
.kf_convocation_des {
	float: left;
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid #e9e9e9;
}
.kf_convocation_des h5 {
	margin: 0px 0 15px;
	display: block;
	color: #666;
	font-weight: 300;
}
.kf_convocation_des p {
	margin-bottom: 15px;
}
.kf_convocation_des > a {
	font-size: 14px;
	font-weight: bold;
	padding: 8px 30px;
	margin-right: 11px;
	color: #fff;
	display: inline-block;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.kf_convocation_des a i {
	margin-right: 10px;
	font-size: 12px;
}
.kf_convocation_map {
	float: left;
	width: 100%;
	text-align: center;
}
.kf_convocation_map iframe {
	max-height: 355px;
	margin-bottom: 30px;
}
.kf_event_speakers {
	float: left;
	width: 100%;
	padding: 34px 0 39px 0;
	border-bottom: 1px solid #e9e9e9;
}
.heading_5 {
	float: left;
	width: 100%;
	text-align: left;
	margin-bottom: 29px;
}
.heading_5 > h4 {
	font-weight: normal;
	text-transform: uppercase;
}
.heading_5 > h4 span {
}
.kf_event_speakers_des {
	float: left;
	width: 100%;
	text-align: center;
	padding: 0px 0px 15px 0px;
}
.kf_event_speakers_des:hover {
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
}
.kf_event_speakers_des figure {
	margin-bottom: 20px;
	overflow: hidden;
}
.kf_event_speakers_des figure img {
	float: left;
	width: 100%;
}
.kf_event_speakers_des:hover figure img {
	transform: scale(1.05);
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
}
.kf_event_speakers_des h5 {
	margin-bottom: 2px;
	text-transform: uppercase;
	font-weight: normal;
}
.kf_event_speakers_des p {
	margin-bottom: 0;
}
.kf_event_gallery {
	float: left;
	width: 100%;
	padding-top: 34px;
}
.event_gallery_des {
	float: left;
	width: auto;
	margin-right: -10px;
	margin-bottom: 20px;
}
.event_gallery_des li {
	float: left;
	margin: 0 10px 10px 0;
	overflow: hidden;
	background-color: #000;
}
.event_gallery_des li:hover img {
	transform: scale(1.05);
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	opacity: 0.5;
}
.event_link.next {
	float: right;
}
.event_link.next i {
	margin-left: 15px;
}
.event_link.prev {
	float: left;
}
.event_link.prev i {
	margin-right: 15px;
}
.kf_blog_detail_wrap {
	float: left;
	width: 100%;
}
.blog_detail_thumbnail {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.blog_detail_thumbnail figure figcaption {
	position: absolute;
	bottom: 8%;
	margin: 0 auto 16px;
	text-align: left;
	left: 0;
	right: 0;
}
.blog_detail_thumbnail figure figcaption a {
	padding: 6px 20px 5px;
	text-transform: capitalize;
	color: #fff;
	font-weight: bold;
	display: inline-block;
}
.kf_blog_detail_des {
	float: left;
	width: 100%;
}
.blog-detl_heading {
	float: left;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
}
.blog-detl_heading h5 {
	font-weight: normal;
	text-transform: uppercase;
}
.blog_detail_meta {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.blog_detail_meta li {
	margin-right: 28px;
}
.blog_detail_meta li a, .blog_detail_meta li {
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	color: #999;
}
.blog_detail_meta li {
	float: left;
}
.blog_detail_meta li i {
	margin-right: 9px;
}
.kf_blog_detail_des > p {
	margin-bottom: 21px;
}
.kf_blog_detail_des .margin-bottom {
	margin-bottom: 25px;
}
.kf_blog_detail_des blockquote {
	background-color: #f1f1f1;
	float: left;
	width: 100%;
	padding: 34px 34px 36px;
	border-left: 6px solid;
	text-align: center;
	margin: 0px 0 23px 0;
}
.kf_blog_detail_des blockquote > p {
	font-size: 18px;
	font-style: italic;
	position: relative;
}
.kf_blog_detail_des blockquote > p:before {
	content: "\f10d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	/*--adjust as necessary--*/
	color: #999999;
	font-size: 18px;
	padding-right: 0.5em;
	position: absolute;
	top: -27px;
	left: 10px;
}
.kf_blog_detail_des blockquote > p:after {
	content: "\f10e";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #999999;
	font-size: 18px;
	padding-right: 0.5em;
	position: absolute;
	bottom: -27px;
	right: 10px;
}
.blog_thumb_wrap {
	float: left;
	width: 100%;
	margin-bottom: 23px;
}
.blog_thumb_wrap figure figcaption {
	position: absolute;
	top: 50%;
	margin: -8px auto 0;
	left: 0;
	right: 0;
	text-align: center;
}
.blog_thumb_wrap figure figcaption a {
	display: inline-block;
	font-size: 18px;
	color: #fff;
	transform: scale(0);
}
.blog_thumb_wrap figure:hover figcaption a {
	transform: scale(1);
}
.kf_courses_detail_wrap .about_autor {
	margin-bottom: 0;
}
.about_autor {
	float: left;
	width: 100%;
	border: 1px solid #e1e1e1;
	padding: 20px 15px 13px 20px;
	margin-bottom: 40px;
}
.about_autor figure {
	width: 128px;
}
.about-autor_des {
	float: none;
	overflow: hidden;
	padding-left: 20px;
	text-align: left;
}
.about-autor_des h6 {
	margin: -3px 0 9px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.about-autor_des p {
	margin-bottom: 15px;
	font-size: 15px;
}
.autor_social {
	float: right;
	text-align: right;
}
.autor_social li {
	float: left;
	margin-left: 20px;
}
.autor_social li a {
	font-size: 16px;
	color: #666;
}
.section-comment {
	float: left;
	width: 100%;
	margin-bottom: 40px;
}
.coment_list {
	float: left;
	width: 100%;
}
.coment_list li {
	float: left;
	width: 100%;
}
.comment_wrap {
	float: left;
	width: 100%;
	padding: 30px 0 30px 0;
	border-bottom: 1px solid #e7e7e7;
}
.section-comment .blog-detl_heading {
	margin-bottom: 2px;
}
.comment_wrap figure {
	width: 108px;
}
.comment_des {
	float: none;
	overflow: hidden;
	padding-left: 20px;
	text-align: left;
}
.comment_des_hed {
	float: left;
	width: 100%;
	margin-bottom: 9px;
	margin-top: -4px;
}
.comment_des_hed cite {
	float: left;
}
.comment_des_hed cite a {
	font-size: 18px;
	font-weight: bold;
	margin-right: 20px;
	display: inline-block;
	font-style: normal;
	color: #333;
	font-family: 'Roboto Slab', serif;
}
.comment_des_hed cite span {
	display: inline-block;
	font-size: 14px;
	padding-left: 20px;
	border-left: 1px solid #e7e7e7;
	font-weight: normal;
	font-style: normal;
}
.comment_reply {
	float: right;
	font-size: 14px;
	font-weight: normal;
	color: #999999;
}
.comment_reply i {
	margin-right: 10px;
}
.comment_des p {
	margin-bottom: 0;
	font-size: 15px;
}
.secnd_coment_list {
	float: left;
	width: 100%;
	padding-left: 50px;
}
.blog_pg_form {
	float: left;
	width: 100%;
}
.blog_pg_form .blog-detl_heading {
	margin-bottom: 32px;
}
.blog_pg_form form {
	float: left;
	width: 100%;
}
.blog_pg_form textarea, .blog_pg_form input[type="e-mail"], .blog_pg_form input[type="text"] {
	float: left;
	width: 100%;
	padding: 10px 15px 13px;
	font-size: 16px;
	color: #bcbcbc;
	border: 1px solid #d8d8d8;
	margin-bottom: 30px;
}
.blog_pg_form textarea::-moz-placeholder, .blog_pg_form input[type="text"]::-moz-placeholder {
 color: #bcbcbc;
}
.blog_pg_form textarea {
	height: 175px;
	resize: none;
}
.blog_pg_form form button {
	padding: 8px 30px;
	text-transform: uppercase;
	color: #fff;
	float: left;
	font-weight: bold;
}
.kf_courses_detail_wrap {
	float: left;
	width: 100%;
}
.kf_courses_detail_wrap .courses_detail_heading {
	margin-top: -7px;
}
.kf_courses_detail_wrap .blog_thumb_wrap .col-md-4 {
	margin-bottom: 30px;
}
.courses_detail_heading {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.courses_detail_heading h4 {
	font-weight: normal;
	font-size: 24px;
	text-transform: uppercase;
	text-align: left;
	margin: 0px 0 0px 0;
}
.course_detail_meta {
	float: left;
	width: 100%;
	margin-bottom: 14px;
}
.course_detail_meta li {
	margin-right: 28px;
}
.course_detail_meta li a, .course_detail_meta li {
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	color: #999;
}
.course_detail_meta li {
	float: left;
}
.course_detail_meta li i {
	margin-right: 9px;
}
.course_detail_thumbnail {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.course_detail_thumbnail figure:before {
	position: absolute;
	content: "";
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	border: 1px solid #fff;
	background-color: rgba(0, 0, 0, 0.15);
	opacity: 1;
}
.course_detail_thumbnail figure figcaption {
	position: absolute;
	top: 50%;
	margin: -45px auto 0;
	text-align: center;
	left: 0;
	right: 0;
}
.course_detail_thumbnail figure figcaption a {
	display: inline-block;
	width: 90px;
	height: 90px;
	line-height: 85px;
	border: 3px solid #fff;
	border-radius: 100%;
	color: #fff;
	font-size: 24px;
	text-align: center;
}
.kf_courses_tabs {
	float: left;
	width: 100%;
}
.kf_courses_tabs > .nav.nav-tabs {
	border: medium none;
	float: left;
	width: 100%;
	border-bottom: solid 1px #eee;
}
.kf_courses_tabs .nav-tabs > li {
	float: left;
	margin: 0px;
	text-align: left;
}
.kf_courses_tabs .nav-tabs > li > a {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #666;
	cursor: pointer;
	padding: 15px 20px;
	margin: 0;
	background-color: #fff;
	border: none;
}
.kf_courses_tabs .nav-tabs > li.active > a:focus, .kf_courses_tabs .nav-tabs > li.active > a:hover {
	border-style: solid;
	border-color: #dcdcdc;
	border: none;
}
.kf_courses_tabs .nav-tabs > li.active > a {
}
.kf_courses_tabs .nav-tabs > li > a::before {
	bottom: 0px;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
	width: 0;
}
.kf_courses_tabs .nav-tabs > li.active > a::before {
	width: 100%;
}
.kf_courses_tabs .tab-content {
	float: left;
	width: 100%;
	padding: 20px 0 0 0;
}
.kf_courses_detail_des {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 0px;
	margin-bottom: 30px;
}
.course_heading {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.course_heading h3 {
	font-weight: normal;
	margin: 0px 0px 0px 0px;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
}
.kf_courses_detail_des > p {
	margin-bottom: 18px;
}
.study_table_wrap {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 20px;
}
.study_table_wrap p {
	margin-bottom: 28px;
}
.study_table_wrap h6 {
	font-weight: normal;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 20px;
}
.study_table_wrap .table {
	margin-bottom: 46px;
}
.study_table_wrap th {
	border: 1px solid #ccc !important;
	background-color: #ddd;
	font-size: 16px;
	color: #333;
	text-align: left;
}
.study_table_wrap .table > thead > tr > th, .study_table_wrap .table > tbody > tr > th, .study_table_wrap .table > tfoot > tr > th, .study_table_wrap .table > thead > tr > td, .study_table_wrap .table > tbody > tr > td, .study_table_wrap .table > tfoot > tr > td {
	padding: 12px 16px;
}
.subject_details {
	float: left;
	width: 100%;
}
.subject_details h6 {
	font-weight: bold;
	margin-bottom: 25px;
}
b {
	color: #333;
}
.subject_details > p {
	margin-bottom: 18px;
}
.border_none {
	border-bottom: none;
	margin-bottom: 0;
}
.kf_location_wrap {
	float: left;
	width: 100%;
	max-height: 500px;
	position: relative;
}
.kf_location_wrap .map-canvas {
	float: left;
	width: 100%;
	height: 500px;
}
.contct_wrap form, .contct_wrap {
	float: left;
	width: 100%;
}
.contact_heading {
	float: left;
	width: 100%;
	margin-bottom: 14px;
}
.contact_heading h4 {
	font-size: 24px;
	font-weight: normal;
	margin: -6px 0 16px 0;
	text-transform: uppercase;
}
.contact_des {
	float: left;
	width: 100%;
}
.contact_des h4 {
	font-size: 22px;
	margin: 0px 0px 15px 0px;
}
.inputs_des {
	float: left;
	width: 100%;
	margin-bottom: 25px;
}
.inputs_des span {
	float: left;
	width: 100%;
	font-size: 16px;
	margin-bottom: 5px;
}
.inputs_des span i {
	margin-right: 10px;
}
.inputs_des > input[type="text"] {
	line-height: 30px;
}
.inputs_des textarea, .inputs_des input[type="text"] {
	float: left;
	width: 100%;
	border: 1px solid #dedede;
	padding: 3px 10px 5px 20px;
	line-height: 34px;
}
.inputs_des textarea {
    height: 150px;
	resize: none;
	line-height: 20px;
}
.inputs_des textarea:focus {
	background-color: #fff;
}
.contact_des button {
	display: block;
	padding: 15px 20px;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
}
.contact_meta {
	float: left;
	margin: -2px 0 27px;
	width: 100%;
}
.contact_meta li {
	color: #7a7a7a;
	float: left;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
	text-align: left;
	text-transform: capitalize;
	width: 100%;
	line-height: normal;
}
.contact_meta li a {
	color: #7a7a7a;
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	text-transform: capitalize;
}
.contact_meta li i {
	margin-right: 8px;
}
.contact_meta li:last-child {
	margin: 0;
}
.contact_meta li a:hover {
	padding-left: 10px;
}
.cont_socil_meta {
	float: left;
	width: 100%;
}
.cont_socil_meta li {
	float: left;
	margin-right: 10px;
}
.cont_socil_meta li a {
	border: 1px solid #999999;
	color: #999999;
	display: block;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	width: 37px;
}
.cont_socil_meta li a:hover {
	color: #fff;
}
.social {
	margin-bottom: 11px;
}
.overlay {
	position: relative;
	z-index: 2;
}
.overlay:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000;
	opacity: 0.3;
	content: "";
}
.contact_2_headung {
	float: left;
	width: 100%;
	text-align: left;
	padding-bottom: 52px;
	margin-bottom: 55px;
	border-bottom: 1px solid #dedede;
	position: relative;
}
.contact_2_headung:before {
	content: "";
	left: 0;
	right: 0;
	bottom: -6px;
	position: absolute;
	height: 1px;
	background: #dedede;
}
.contact_2_headung h3 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	margin: 0px 0 20px;
}
.contact_2_headung p {
	margin-bottom: 0;
	font-weight: 300;
}
.location_des {
	background: #fff;
	left: 25%;
	margin: -162px 0 0 -163px;
	padding: 30px 30px 0px;
	position: absolute;
	top: 50%;
	width: 378px;
}
.location_des > h6 {
	font-size: 16px;
	font-weight: bold;
	margin: -3px 0 25px;
}
.location_des > p {
	margin: 0 0 22px 0;
}
.contact_des > h6 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 17px;
	margin-top: -4px;
}
.location_meta {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 26px;
}
.location_meta li {
	color: #666666;
	float: left;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 11px;
	text-align: left;
	text-transform: capitalize;
	width: 100%;
}
.location_meta li:last-child {
	margin: 0;
}
.location_meta li i {
	margin-right: 10px;
}
.location_meta li a {
	color: #666666;
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	text-transform: capitalize;
}
.location_des > a {
	font-size: 16px;
	font-weight: normal;
	text-transform: capitalize;
	color: #333;
	display: inline-block;
	padding: 25px 0 22px;
}
.location_des > a i {
	margin-left: 25px;
}
.location_des > a:hover i {
	margin-left: 30px;
}
.des_2 {
	position: relative;
}
.inputs_des.des_2 > span {
	float: left;
	font-size: 16px;
	text-transform: capitalize;
	width: auto;
	font-family: "Raleway", sans-serif;
	font-weight: normal;
	padding: 8px 0;
	margin: 0;
}
.contact_des .des_2 > input {
	float: right;
	overflow: hidden;
	width: 100%;
}
.des_2 i {
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -7px;
	font-size: 14px;
	color: #bfbfbf;
}
.des_3 {
	margin: 0;
	position: relative;
}
.des_3 i {
	top: 15px;
	position: absolute;
	right: 15px;
}
.des_3 > textarea {
	float: right;
	overflow: hidden;
	width: 100%;
	margin: 0 0 30px 0;
	max-height: 102px;
}
.inputs_des.des_3 > span {
	float: left;
	font-size: 16px;
	text-transform: capitalize;
	width: auto;
	font-family: "Raleway", sans-serif;
	font-weight: normal;
	padding: 8px 0;
	margin: 0;
}
.contact_2 {
	float: left;
	width: 100%;
}
.contact_2 > button {
	background: transparent none repeat scroll 0 0;
	border: 1px solid;
	float: right;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	padding: 15px 30px;
	text-transform: uppercase;
	color: #fff;
}
.filterable_heading {
	float: left;
	width: 100%;
	text-align: left;
	margin-bottom: 40px;
}
.filterable_heading h3 {
	display: inline-block;
}
.filterable_heading .btn-group {
	float: right;
	width: 200px;
}
.filterable_heading .btn-group .btn {
	border: 1px solid #d6d6d6;
	border-radius: 0;
	display: block;
	width: 100%;
	text-align: left;
	color: #999999;
	height: 44px;
}
.filterable_heading .btn-group .btn:focus {
	color: #999999;
}
.filterable_heading .caret {
	border: medium none;
	display: inline-block;
	margin-top: -10px;
	position: absolute;
	right: 20px;
	top: 50%;
	color: #999999;
}
.filterable_heading .btn-group.open .dropdown-toggle {
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
}
.filterable_heading .btn-default.active, .filterable_heading .btn-default:active, .filterable_heading .open > .dropdown-toggle.btn-default {
	background: transparent;
	border-color: #d6d6d6;
}
.filterable_heading .dropdown-menu {
	width: 100%;
	margin-top: 10px;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.176);
	color : #999;
}
.filterable_heading .dropdown-menu > li {
	border-bottom: 1px solid #d6d6d6;
	color: #999;
}
.filterable_heading .dropdown-menu > li:last-child {
	border: none;
	margin-bottom: -5px;
}
.filterable_heading .dropdown-menu > li > a {
	font-size: 16px;
	padding: 7px 10px 8px;
	color: #999;
}
.filterable_heading .dropdown-menu > li > a:hover {
	color: #fff;
}
.filterable_thumb {
	float: left;
	width: 100%;
	position: relative;
	border: 1px solid #d6d6d6;
	padding: 10px;
	margin-bottom: 30px;
}
.filterable_thumb figure:before {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	content: "";
	opacity: 0;
}
.filterable_thumb:hover figure:before {
	opacity: 0.7;
}
.filterable_thumb figure figcaption {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -14px;
	text-align: center;
	opacity: 0;
}
.filterable_thumb:hover figure figcaption {
	opacity: 1;
}
.filterable_thumb figure figcaption a {
	color: #fff;
	font-size: 24px;
	font-weight: 100;
}
#filterable-item-filter-1 {
	float: left;
	text-align: center;
	width: 100%;
	margin-bottom: 40px;
}
#filterable-item-filter-1 li {
	display: inline-block;
	margin: 0px 3px;
}
#filterable-item-filter-1 a {
	border: 2px solid;
	display: block;
	padding: 8px 15px;
	font-size: 14px;
	border-radius: 5px;
	color: #fff;
	margin: 0px;
	cursor: pointer;
	text-transform: uppercase;
	line-height: normal;
}
#filterable-item-filter-1 > li .active {
	background: #fff;
}
.masoned {
	clear: both;
}
.edu_masonery_thumb {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.edu_masonery_thumb img {
	width: 100%;
}
.edu_masonery_thumb:before {
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background: #000;
	opacity: 0;
}
.edu_masonery_thumb:hover:before {
	opacity: 0.65;
}
.edu_masonery_thumb .masonry_icon {
	color: #fff;
	font-size: 24px;
	left: 0;
	margin: -14.5% auto 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
}
.edu_masonery_thumb a.zoom {
	border-radius: 100%;
	color: #fff;
	font-size: 31px;
	height: 50px;
	left: 0;
	line-height: 47px;
	margin: -37px auto 0;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
	width: 50px;
}
.edu_masonery_thumb:hover a {
	opacity: 1;
}
.edu_masonery_thumb .caption {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -50%;
	text-align: center;
}
.edu_masonery_thumb:hover .caption {
	bottom: 0;
}
.edu_masonery_thumb .caption a {
	display: block;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	padding: 20px 0px;
	font-family: 'Roboto Slab', serif;
}
.error_outer_wrap {
	padding: 170px 0 141px;
}
.error_wrap {
	float: left;
	width: 100%;
	background-color: #f7f7f7;
	padding: 101px 0 127px;
	position: relative;
}
.error_des {
	float: left;
	padding: 0 265px;
	text-align: center;
	width: 100%;
}
.error_des span {
	position: absolute;
	top: -168px;
	margin: 0 auto;
	left: 0;
	right: 0;
	font-size: 200px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	line-height: normal;
	text-shadow: 0 9px 0 #fff, -1px -9px 0 #fff, -9px 0 0 #fff, -9px 9px 0 #fff, 9px -9px 0 #fff, 9px 9px 0 #fff, 9px 11px 7px #000;
}
.error_des h3 {
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.error_des p {
	font-size: 18px;
	color: #333;
	margin-bottom: 10px;
}
.error_thumb {
	width: 858px;
	position: absolute;
	bottom: -71px;
	left: 0;
	right: 0;
	border: 1px solid;
	padding: 5px;
	margin: 0 auto;
}
.error_thumb figure:before {
	background-color: #000;
	opacity: 0.5;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.error_thumb figcaption {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: -32px;
auto 0;
	text-align: center;
	z-index: 22;
}
.error_thumb figure a {
	position: relative;
	padding: 22px 30px 21px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	color: #fff;
	border: 1px solid;
	display: inline-block;
}
.error_thumb figure a:before {
	content: "";
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	position: absolute;
	z-index: -1;
}
.error_thumb figure a:hover::before {
	background-color: #000;
}
.error_thumb figure a i {
	margin-right: 10px;
}
.btn-1 {
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	padding: 11px 28px 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}
.abt_univ_des .btn-1 {
	border-color: #2f2f2f;
	color: #2f2f2f;
	font-size: 16px;
}
.btn-1:hover {
	color: #fff;
}
.btn-2 {
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding: 11px 0;
	text-align: center;
	width: 100%;
	color: #333;
}
.edu2_col_4_wrap:hover .btn-2 {
	color: #fff;
}
.abt_univ_des .btn-3:hover {
	color: #fff;
}
.btn-2:hover {
	background-color: #000 !important;
}
.btn-3 {
	background: transparent none repeat scroll 0 0;
	border: 1px solid;
	border-radius: 0;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 34px;
	line-height: normal;
	text-transform: uppercase;
	color: #fff !important;
}
.btn-6 {
	border: 1px solid #2f2f2f;
	color: #2f2f2f;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	padding: 14px 44px;
	text-transform: uppercase;
}
.btn-6:hover {
	color: #fff;
}
.readmore {
	display: inline-block;
	font-size: 15px;
	text-transform: capitalize;
	font-weight: bold;
	color: #de1f26 !important;
}
.readmore i {
	font-size: 18px;
	margin: auto 5px;
	vertical-align: middle;
}
.readmore:hover i {
	transform: translate(10px);
}
.convocation_link {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px 30px;
	text-align: center;
	margin: 0 3px;
}
.event_link {
	display: inline-block;
	font-size: 15px;
	color: #666666;
	font-weight: normal;
	padding: 8px 20px;
	border: 1px solid #dbdbdb;
}
.event_link:hover {
	color: #fff;
}
#mobile-header {
	background: #ccc none repeat scroll 0 0;
	font-size: 26px;
	height: 50px;
	left: 20px;
	line-height: 48px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 50px;
	margin-top: -25px;
	z-index: 10;
}
#mobile-header a {
	color: #fff;
}
.kode-member-form {
	float: left;
	width: 100%;
	padding: 40px 40px 25px 40px;
}
.input-container {
	float: left;
	margin: 0px 0px 15px 0px;
	position: relative;
	width: 100%;
}
.kode-member-form input[type=text], .kode-member-form input[type=password] {
	height: 40px;
	width: 100%;
	border: solid 1px #ccc;
	padding: 5px 20px;
}
.view-all {
	float: left;
	width: 100%;
	text-align: center;
}
.kode-gallery-section {
	background: #f9f9f9;
	float: left;
	width: 100%;
}
.map-canvas {
	height: 350px;
	width: 100%;
}
.kf_convocation_map .map-canvas {
	margin-bottom: 30px;
}
.col-md-4 .kf-sidebar {
	padding: 30px;
	background: #f9f9f9;
	float: left;
}
.user-box {
	float: left;
	width: 100%;
	background-color: #fff;
	padding: 30px 45px 30px 45px;
	text-align: center;
}
.user-box h2 {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px 0px 30px 0px;
	color: #2f2f2f;
}
.user-box form {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.user-box .form {
	float: left;
	width: 100%;
}
.input-container {
	float: left;
	width: 100%;
	position: relative;
	margin: 0px 0px 20px 0px;
}
.input-container i {
	position: absolute;
	width: 16px;
	height: 18px;
	left: 18px;
	top: 16px;
	background-repeat: no-repeat;
	background-position: bottom;
	color: #a8b6c3;
	z-index: 250;
}
.input-container i.name {
	background-image: url(../images/signin.png);
}
.input-container i.pass {
	background-image: url(../images/register.png);
}
.input-container i.company {
	background-image: url(../images/company.png);
}
.input-container i.mail {
	background-image: url(../images/e-mail.png);
	height: 12px;
	top: 18px;
}
.input-container i.location {
	background-image: url(../images/location.png);
}
.input-container i.destination {
	background-image: url(../images/destination.png);
}
.input-container input[type="text"], .input-container input[type="password"] {
	padding: 6px 20px 6px 40px;
	font-size: 15px;
	color: #66727f;
	background-color: #f9f9f9;
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05) inset;
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05) inset;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05) inset;
	height: 48px;
	width: 100%;
	border-radius: 3px;
	border: 2px solid #d6d9dd;
}
.user-box .input-container .radio-value {
	height: 20px;
	width: 20px;
	float: left;
	background-size: 10px auto;
	margin: 0px 10px 0px 0px;
}
.input-container span.add-on {
	position: absolute;
	left: 15px;
	top: 13px;
	height: 100%;
	color: #c4cdd6;
}
.user-box .input-container .radio {
	float: left;
}
.user-box .input-container label {
	float: left;
	width: 100%;
	font-size: 12px;
	color: #9baab9;
	text-align: left;
}
.user-box .input-container label p {
	float: left;
	margin: 2px 0px;
	font-weight: normal;
	line-height: normal;
}
.user-box .input-container .radio, .user-box .input-container .checkbox {
	margin: 0px;
}
.btn-style {
	float: left;
	width: 100%;
	font-size: 16px;
	color: #fff;
	border: none;
	padding: 12px 20px;
	border-radius: 3px;
	text-align: center;
	height: 48px;
	line-height: normal;
	text-transform: uppercase;
}
.btn-style:hover {
	background-color: #636e80;
}
.user-box .option {
	float: left;
	width: 100%;
	position: relative;
	margin: 0px 0px 15px 0px;
}
.user-box .option:before, .user-box .option:after {
	position: absolute;
	content: "";
	height: 1px;
	width: 38%;
	background-color: #ecf1f5;
	left: 0px;
	top: 50%;
}
.user-box .option:after {
	left: auto;
	right: 0px;
}
.user-box .option h5 {
	font-size: 14px;
	color: #b2becd;
}
.user-box .social-login {
	float: left;
	width: 100%;
}
.user-box .social-login a {
	float: left;
	width: 50%;
	padding: 12px 15px;
	font-size: 14px;
	color: #fff;
	border: none;
	font-weight: normal;
	text-align: left;
	margin: 0px;
	line-height: normal;
}
.user-box .social-login a i {
	font-size: 18px;
	margin: 0px 10px 0px 0px;
	float: left;
}
.user-box .social-login a.google {
	background-color: #dc4a38;
	border-radius: 3px 0px 0 3px;
}
.user-box .social-login a.facebook {
	background-color: #44619d;
	border-radius: 0px 3px 3px 0px;
}
.user-box-footer {
	float: left;
	width: 100%;
	background-color: #f9fbfd;
	border-top: solid 1px #ecf1f5;
	padding: 18px 20px;
	text-align: center;
}
.user-box-footer > p {
	width: 100%;
	float: left;
	text-align: center;
}
.user-box-footer a {
	color: #72c8fa;
}
#register .nav-tabs {
	border: none;
	margin-top: 50px;
}
#register .nav-tabs > li {
	width: 50%;
	border: none;
}
#register .nav-tabs > li a {
	border-radius: 0px;
	text-align: center;
	font-size: 18px;
	color: #a5afb9;
	font-weight: bold;
	padding: 18px 15px;
	font-family: 'Droid Sans', sans-serif;
	margin: 0px;
	border: none;
	background-color: #f7f7f7;
}
#register .nav-tabs > li.active a, #register .nav-tabs > li a:hover {
	background: none;
}
.input-container .dropdown {
	float: left;
	width: 100%;
}
.input-container .dropdown button {
	float: left;
	border: 2px solid #d6d9dd;
	border-radius: 3px;
	min-height: 48px;
	padding: 6px 20px 6px 32px;
	width: 100%;
	color: #c4cdd6;
	text-align: left;
	font-family: 15px;
}
.input-container .dropdown button p {
	float: left;
	margin: 0px;
}
.input-container .dropdown button span {
	float: right;
	font-size: 22px;
}
.input-container .dropdown button p {
	margin: 0px;
}
.input-container .btn-default:hover, .input-container .btn-default:focus, .input-container .btn-default.focus, .input-container .btn-default:active, .input-container .btn-default.active, .input-container .open > .dropdown-toggle.btn-default {
	background: none;
	border: 2px solid #d6d9dd;
	color: #687a8d;
}
.input-container .dropdown .dropdown-menu {
	min-width: 100%;
}
.filterable-item.col-md-3 {
	width: 24.9% !important
}
label {
	cursor: pointer;
}
label span {
	float: left;
	line-height: 20px;
}
.radio input {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.radio-value {
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid #d7dfe7;
	border-radius: 3px;
	display: inline-block;
	height: 28px;
	margin-right: 5px;
	position: relative;
	vertical-align: -0.5em;
	width: 28px;
}
input:checked + .radio-value {
	background-image: url(images/tick.png);
	border-color: #88d3ff;
}
.bg-overseas button.close {
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 100;
}
.sidr .copy-right-sidr {
	font-size: 17px;
	text-align: center;
	color: #999;
}
