.edu2_ft_topbar_wrap {
	float: left;
	width: 100%;
	padding: 30px 0;
	border-bottom: 1px solid #7a7a7a;
}
.edu2_ft_topbar_des {
	float: left;
	width: 100%;
	text-align: center;
}
.edu2_ft_topbar_des h5 {
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	padding: 13px 0px;
	text-align: left;
}
.edu2_ft_topbar_des form {
	float: left;
	width: 100%;
	position: relative;
}
.edu2_ft_topbar_des form input[type=email] {
	float: left;
	width: 100%;
	border: 1px solid #fff;
	padding: 7px 125px 7px 15px;
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	background-color: transparent;
	height: 50px;
	font-size: 14px !important;
	box-shadow: none;
}
 .edu2_ft_topbar_des input::-webkit-input-placeholder {
 color: #fff;
}
.edu2_ft_topbar_des input::-moz-placeholder {
 color: #fff;
}
.edu2_ft_topbar_des input:-ms-input-placeholder {
 color: #fff;
}
.edu2_ft_topbar_des input:-moz-placeholder {
 color: #fff;
}
.edu2_ft_topbar_des form input[type="email"]:focus {
	border-color: #fff !important;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3)
}
.edu2_ft_topbar_des form button {
	position: absolute;
	padding: 0 15px;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	font-weight: normal;
	color: #fff;
	right: 0;
	top: 0;
	height: 100%;
	vertical-align: middle;
	border-left: 1px solid #fff;
	height: 100%;
	background-color: transparent;
}
.edu2_ft_topbar_des form button i {
	margin-right: 15px;
	font-size: 16px;
	color: #fff;
	margin-top: 1px;
}
/*FOOTER CONTANT START*/

.edu2_footer_contant_des {
	float: left;
	width: 100%;
}
.edu2_footer_heading {
	float: left;
	width: 100%;
	text-align: left;
}
.widget {
	float: left;
	width: 100%;
}
footer .widget h5 {
	text-transform: uppercase;
	color: #fff;
	margin: 0px 0 30px;
}
.widget-links ul {
	float: left;
	width: 100%;
	margin: -4px 0 0 0;
}
.widget-links ul li {
	float: left;
	width: 100%;
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	color: #f9f9f9;
	text-transform: capitalize;
}
.widget-links ul li a:before {
	content: "\f105";
	position: absolute;
	left: 0px;
	top: 5px;
	font-family: FontAwesome;
}
.widget-links ul li a:hover:before {
	left: 10px;
}
.instagram li a {
	display: block;
}
.widget-links ul li:last-child {
	margin: 0;
}
.widget-links ul li a {
	display: inline-block;
	font-weight: normal;
	color: #f9f9f9;
	text-transform: capitalize;
	position: relative;
	padding: 5px 0px 5px 15px;
	font-size: 14px;
}
.widget-links ul li a:hover {
	padding-left: 20px;
	color: #de1f26 !important;
}
.wiget-instagram ul {
	float: left;
	width: 100%;
	padding-top: 6px;
	margin-bottom: -10px;
}
.wiget-instagram ul li {
	float: left;
	margin: 0 10px 10px 0 !important;
	width: 72px;
	padding: 0px;
	background-color: #000;
}
.wiget-instagram ul li:hover a {
	padding: 0px;
}
.wiget-instagram ul li img {
	transition: all 0.3s ease-in-out;
}
.wiget-instagram ul li:hover img {
	opacity: 0.5;
}
.widget-contact {
}
.widget-contact ul {
	list-style: none;
}
.widget-contact ul li {
	float: left;
	width: 100%;
	margin-top: 10px;
	color: #f9f9f9;
}
.widget-contact ul li a {
	color: #f9f9f9;
}
.widget-contact ul li:first-child {
	margin: 0px;
}
.edu2_copyright_wrap {
	float: left;
	width: 100%;
	padding: 30px 0 30px;
	background-color: #000;
}
.edu2_ft_logo_wrap {
	float: left;
	width: 100%;
	text-align: left;
	width: 80px;
	padding: 1px 0 0 0;
}
.copyright_des {
	float: left;
	padding: 11.5px 0;
	text-align: center;
	width: 100%;
	line-height: 16px;
}
.copyright_des span {
	display: block;
	text-align: center;
	color: #f9f9f9;
	font-weight: normal;
	text-transform: capitalize;
}
.copyright_des span a {
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
}
.cards_wrap {
	float: left;
	width: 100%;
	padding: 3px 0 5px;
}
.cards_wrap li {
	display: inline-block;
	margin-right: 4px;
}
.cards_wrap li:last-child {
	margin-right: 0;
}
.cards_wrap li a {
	position: relative;
}
