html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, q, s, small, strong, b, u, i, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, footer, header, menu, nav, section, time, audio, video, button, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Gilroy-Regular";
	font-weight: normal;
	vertical-align: baseline;
	text-decoration: none;
	line-height: 1.2
}
a {
	display: inline-block;
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfloat {
	zoom: 1;
}
.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	overflow: hidden;
	height: 0;
}
.spill {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.multiSpill {
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	/* -webkit-line-clamp:3;*/
	overflow: hidden;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
}
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
}
input:focus {
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
select:focus {
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
textarea:focus {
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
button:focus {
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
button {
	cursor: pointer;
}
select {
	cursor: pointer;
}
input type:checkbox {
 cursor:pointer;
}
input type:radiobox {
 cursor:pointer;
}
a:hover, a:focus, a:visited {
	text-decoration: none;
}
@font-face {
	font-family: "Gilroy-Regular";
	src: url(../fonts/Gilroy-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}
.container-2 {
	vertical-align: middle;
	white-space: nowrap;
	position: absolute;
	right: -55px;
	top: 30px;
}
.container-2 input#search {
	width: 42px;
	height: 42px;
	background-color: transparent;
	border: none;
	font-size: 10pt;
	float: right;
	color: #262626;
	padding-left: 20px;
	padding-right: 45px;
	color: #000;
	cursor: pointer !important;
	-webkit-transition: width .55s ease;
	-moz-transition: width .55s ease;
	-ms-transition: width .55s ease;
	-o-transition: width .55s ease;
	transition: width .55s ease;
}
 .container-2 input#search::-webkit-input-placeholder {
 color: #000;
}
 .container-2 input#search:-moz-placeholder { /* Firefox 18- */
 color: #000;
}
 .container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
 color: #000;
}
 .container-2 input#search:-ms-input-placeholder {
 color: #000;
}
.container-2 .icon {
	position: absolute;
	right: 4px;
	margin-left: 8px;
	margin-top: 8px;
	z-index: 1;
	color: #4f5b66;
	background: url(../images/serchicon.png) no-repeat;
	background-color: transparent;
	width: 25px;
	height: 25px;
	z-index: 99;
	background-size: 100%;
}
.container-2 input#search:focus, .container-2 input#search:active {
	outline: none;
	width: 300px;
	position: absolute;
	right: 0;
	background-color: #fff;
}
.container-2:hover input#search {
	width: 300px;
	background-color: #fff;
}
.container-2:hover .icon {
	color: #93a2ad;
}

@media (max-width: 767px) {
.container-2 .icon {
	margin-top: 13px;
}
}
