@charset "utf-8";
/* CSS Document */

.slidersection {
	position: relative;
}
.animationsect {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.animationsect .divslidetxt h1 {
	color: #fff;
	font-size: 60px;
	line-height: 64px;
	text-align: left;
	font-weight: bold;
	text-transform: capitalize;
	padding-top: 3rem;
}
.cmn-link {
	font-size: 14px;
	text-align: center;
	background: #f1eb21;
	padding: 10px 30px;
	font-weight: 800;
	border-radius: 30px;
	color: #040707;
	margin-top: 15px;
	transition: all .5s;
}
.cmn-link:hover {
	padding: 10px 35px;
	color: #e14325;
}
/*contents start from her*/

.service-sect {
	margin: 50px 0 0 0;
}
.bigleap h3.main-title {
	font-size: 3rem;
	font-weight: 900;
	text-align: center;
	z-index: 1;
	margin-bottom: 40px;
	line-height: 54px;
	position: relative;
	padding-bottom: 10px;
}
.bigleap h3.main-title:after {
	position: absolute;
	content: "";
	border-top: 2px solid #040707;
	bottom: -10px;
	width: 120px;
	height: 2px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.bigleap h3.main-title:before {
	position: absolute;
	content: "";
	border-top: 4px solid #de1f26;
	bottom: -11px;
	width: 40px;
	height: 4px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 10;
}
.bigleap p.main-descr {
	color: #040707;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	padding: 0 4rem;
}
.service-sect .box-sect {
	background-color: #fff;
	border-radius: 20px;
	-webkit-box-shadow: 0 70px 120px 0 rgba(130, 136, 171, 0.2);
	box-shadow: 0 70px 120px 0 rgba(130, 136, 171, 0.2);
	padding: 40px 30px 40px 30px;
	margin-bottom: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: .25s;
	transition: .5s;
	cursor: pointer;
	margin-top: 50px;
}
.service-sect .box-sect .boxspan {
	margin-bottom: 20px;
	height: 3.5rem;
	width: 3.5rem;
	padding: 18px;
	color: #fff;
	border-radius: 100%;
	margin-left: auto;
	-webkit-transition: 0.2s cubic-bezier(0, 0, 0.41, 1.87);
	transition: 0.2s cubic-bezier(0, 0, 0.41, 1.87);
	margin-right: auto;
	background: linear-gradient(-45deg, #f1eb21, #de1f26);
}
.service-sect .boxspan-1 {
	background: linear-gradient(-45deg, #000000, #f1eb21) !important;
}
.service-sect .boxspan-2 {
	background: linear-gradient(-45deg, #de1f26, #000000) !important;
}
.service-sect .boxspan-3 {
	background: linear-gradient(-45deg, #7836c5, #000000) !important;
}
.service-sect .box-sect .boxspan .fa {
	font-size: 22px;
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
}
.service-sect .box-sect h4.heading {
	margin-bottom: 20px;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 800;
	text-transform: capitalize;
}
.service-sect .box-sect p.detail {
	color: #626881;
	text-align: center;
	font-weight: 400;
	line-height: 30px;
}
.service-sect .box-sect:hover .boxspan {
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.padd-zero {
	padding: 0;
}
.about-sect .half-box {
	padding: 120px 40px;
}
.about-sect .employer-box:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	right: 0;
	display: block;
	opacity: 0.6;
	background: #f1eb21;
	background: linear-gradient(-45deg, #e14325, #de1f26);
}
.about-sect .half-box h2 {
	font-size: 58px;
	color: #fff;
	position: relative;
	font-weight: bold;
	margin-bottom: 30px;
}
.about-sect .half-box h2:after {
	position: absolute;
	content: "";
	border-top: 4px solid #de1f26;
	bottom: -20px;
	width: 40px;
	height: 4px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.about-sect .half-box h2:before {
	position: absolute;
	content: "";
	border-top: 2px solid #000;
	bottom: -19px;
	width: 120px;
	height: 2px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.about-sect .half-box p {
	color: #fff;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	padding: 5px 0;
}
.about-sect .half-box a {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	border-radius: 50px;
	text-transform: uppercase;
}
.about-sect .candidate-box:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: block;
	background: #040707;
	opacity: 0.8;
}
.about-sect a.cmn-link {
	padding: 15px 50px;
	transition: all .5s;
}
.about-sect a.cmn-link:hover {
	padding: 15px 55px;
	color: #e14325;
}
.bigleap-intro {
	background: #fff;
	padding: 7rem 0;
}
.abt-bigleap {
	padding: 100px 0;
	position: relative;
	background: url(../images/backround-layer-01.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
}
.client-sect {
	padding: 5rem 0 2rem 0;
	background: #fff;
}
.client-sect .owl-nav, .client-sect .owl-dots {
	display: none;
}
.client-sect .owl-carousel .owl-item a {
	width: 99%;
	margin: 0 auto;
	border: 1px solid #000;
	padding: 0px 20px;
	border-radius: 10px;
}
.client-sect .owl-carousel .owl-stage-outer {
	margin-top: 50px;
}
.blog-sect {
	background: #f2f5fa;
	padding: 4rem 0;
}
.blog-sect .blog-mian {
	margin: 50px 0;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.blog-sect .blog-mian .blog-img {
	overflow: hidden;
}
.blog-sect .blog-mian .blog-img a img {
	transition-duration: 3s;
	margin: 0 auto;
	display: block;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
}
.blog-sect .bolg-body {
	background: #fff;
	padding: 20px;
}
.blog-sect .bolg-body h5 {
	color: #040707;
	font-size: 16px;
}
.blog-sect .bolg-body h4 {
	padding: 30px 0;
}
.blog-sect .bolg-body h4 a {
	font-size: 20px;
	color: #040707;
	font-weight: bold;
	letter-spacing: 1px;
	transition: all .5s;
}
.blog-sect .bolg-body ul {
/*margin: 20px 0;*/
}
.blog-sect .bolg-body ul li {
	float: left;
	margin-right: 1.5rem;
}
.blog-sect .bolg-body ul li a {
	text-transform: uppercase;
	font-size: 14px;
	color: #040707;
	transition: all .5s;
}
.blog-sect .bolg-body ul li a:hover {
	color: #de1f26;
}
.blog-sect .bolg-body ul li a .fa {
	margin-right: 5px;
	color: #040707;
}
.blog-sect .bolg-body ul li a:hover .fa {
	color: #de1f26;
}
.newsletter {
	padding: 2rem 0;
}
.blog-sect .blog-mian:hover .bolg-body h4 a {
	color: #de1f26;
}
.blog-sect .blog-mian:hover .blog-img a img {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	z-index: 0;
}
.blog-sect .cmn-link {
	margin: 0 auto;
	display: table;
}
.bigleap .bigleap-intro h3.main-title {
	text-align: left;
	font-size: 3.5rem;
	margin-top: 4rem;
	    line-height: 54px;
}
.bigleap .bigleap-intro h3.main-title:after {
	margin: 0;
}
.bigleap .bigleap-intro h3.main-title:before {
	margin: 0;
}
.bigleap .bigleap-intro p {
	color: #000;
	font-size: 16px;
	line-height: 24px;
}
.bigleap .bigleap-intro h4 {
	text-align: left;
	font-size: 2rem;
	margin: 2.3rem 0 1rem 0;
	font-weight: bold;
}
.testimonial-sect {
	padding: 80px 50px;
	/*background-image: -webkit-linear-gradient(110deg, #de1f26 0%, #f1eb21 100%);*/
	text-align: center;
}
.testimonial-sect .test-main p {
	font-size: 15px;
	line-height: 24px;
	font-weight: 500;
	font-style: italic;
	margin-bottom: 0px;
	color: #50668f;
}
.testimonial-sect .test-main .test-text {
	text-align: center;
	padding: 50px 20px 35px;
	border: 2px solid #eeeeee;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.test-main {
	cursor: pointer;
}
.test-main:hover .test-text {
	border: 2px solid #de1f26;
}
.testimonial-sect ul {
	margin: 0px auto;
	display: table;
	background: #f2f5fa;
	width: 100%;
	padding: 15px 20px;
}
.testimonial-sect ul li {
	float: left;
}
.testimonial-sect ul li span {
	display: block;
}
.testimonial-sect ul li span.testi-name {
	color: #040707;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 5px 20px;
}
.testimonial-sect ul li span.test-desig {
	color: #040707;
	font-size: 14px;
	margin: 0 0 0 10px;
}
.testimonial-sect .owl-dots, .testimonial-sect .owl-nav {
	display: none;
}
.testimonial-sect .rating {
	font-size: 25px;
	overflow: hidden;
	margin: 20px auto;
	display: table;
}
.testimonial-sect .rating input {
	float: left;
	opacity: 0;
	position: absolute;
}
.testimonial-sect .rating a, .testimonial-sect .rating label {
	float: right;
	color: #50668f;
	text-decoration: none;
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;
	margin: 0 2px;
}
.testimonial-sect .rating label:hover~label, .testimonial-sect .rating input:focus~label, .testimonial-sect .rating label:hover, .testimonial-sect .rating a:hover, .testimonial-sect .rating a:hover~a, .testimonial-sect .rating a:focus, .testimonial-sect .rating a:focus~a {
	color: orange;
	cursor: pointer;
}
.testimonial-sect #carousel02 {
	margin-top: 80px;
}
.newsletter .map-sect {
	position: relative;
}
.newsletter p.main-descr {
	padding-bottom: 60px;
}
.newsletter .map-sect .map-addres {
	background: #fff;
	padding: 60px 40px 40px 40px;
	width: 80%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.newsletter .map-sect .map-addres .adds-loca h5 {
	font-size: 18px;
	font-weight: bold;
	color: #0b0c05;
	padding-bottom: 5px;
	transition: all .5s;
	letter-spacing: 1px;
}
.newsletter .map-sect .map-addres .adds-loca h5 a {
	font-size: 18px;
	font-weight: bold;
	color: #0b0c05;
	transition: all .5s;
}
.newsletter .map-sect .map-addres .adds-loca h5 a:hover {
	color: #e14325;
}
.newsletter .map-sect .adrmarg {
	margin-bottom: 2rem;
}
.newsletter .map-sect .map-addres .adds-loca .fa {
	font-size: 20px;
	font-weight: 700;
	color: #0b0c05;
}
.newsletter .map-sect .adds-localeft {
}
.newsletter .map-sect span.click {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.newsletter .map-sect span.click .fa {
	color: #e14325;
	font-size: 20px;
}
.newsletter .footer-form .input-set {
	margin-bottom: 25px;
}
.newsletter .footer-form .biglabel {
	font-size: 12px;
	font-weight: 500;
	color: #1e283c;
	text-transform: uppercase;
	display: block;
	margin-bottom: 10px;
}
.newsletter .footer-form .input-big {
	border-radius: 0px;
	width: 100%;
	background: #f2f5fa;
	padding: 0.675rem 0.75rem;
	font-size: 14px;
	border: 1px solid #f2f5fa;
}
.newsletter .footer-form .input-txt {
	min-height: 90px;
	resize: none;
}
.newsletter .footer-form .big-btn {
	padding: 10px 30px;
	background: #f2f5fa;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	display: table;
	letter-spacing: 1px;
	transition: all .5s;
}
.newsletter .footer-form .big-btn:hover {
	background: #040707;
	color: #fff;
}
.footer {
	position: relative;
	background: #f3f4f9;
	padding: 100px 0 60px 0;
	margin-top: 120px;
}
.footer:before {
	background: url(../images/footer-top.png) no-repeat;
	content: "";
	position: absolute;
	top: -100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	height: 100px;
	background-size: 100% 100%;
}
.footer .footer-logo {
	width: 30%;
}
.footer .footer-desc p {
	font-size: 1rem;
	color: #040707;
	font-weight: 400;
	line-height: 25px;
	padding: 20px 0;
}
.footer h6.list-title {
	text-transform: uppercase;
	font-size: 16px;
	color: #040707;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 20px;
}
.footer ul.list-items li a {
	color: #040707;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 7px 0;
	transition: all .5s;
}
.footer ul.list-items li a:hover {
	color: #de1f26;
}
.footer ul.social-links {
	    margin-top: 10px;
}
.footer ul.social-links li {
	float: left;
	margin: 0 1px;
}
.footer ul.social-links li a {
	width: 30px;
	height: 30px;
	background: #c0c3ce;
	display: flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	transition: all .5s;
}
.footer ul.social-links li a:hover {
	background: #040707;
}
.footer ul.social-links li a:hover .fa {
	color: #f1eb21;
}
.footer .ft-newsform {
	margin: 30px 0;
	background: #fff;
}
.footer .ft-newsform .ft-nwsinpt {
	float: left;
	background: #040707;
	padding: 11px 10px 11px 10px;
	width: 79%;
	color: #fff;
	font-size: 13px;
}
 .footer .ft-newsform .ft-nwsinpt::-webkit-input-placeholder {
 color: #fff;
}
 .footer .ft-newsform .ft-nwsinpt:-ms-input-placeholder {
 color: #fff;
}
 .footer .ft-newsform .ft-nwsinpt::placeholder {
 color: #fff;
}
.footer .ft-newsform .ft-btnnws {
	float: right;
	background: #fff;
}
.footer .ft-newsform .ft-btnnws .fa {
	color: #040707;
	padding: 11px 8px;
}
.footer p.ft-bottom {
	text-align: center;
	padding-top: 30px;
	color: #000;
	font-size: 15px;
	    line-height: 24px;
}
/*back to top start here*/
scrolltop {
	display: none;
}
#rocketmeluncur {
	position: fixed;
	bottom: 50px;
	z-index: 7;
	display: none;
	visibility: hidden;
	width: 26px;
	height: 48px;
	right: 25px;
	background: url(../images/back-to-top.png)no-repeat 50% 0;
	opacity: 0;
	-webkit-transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -webkit-transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
	-moz-transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
	transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
#rocketmeluncur i {
	display: block;
	margin-top: 48px;
	height: 14px;
	background: url(../images/fail.png)no-repeat 50% -48px;
	opacity: .5;
	-webkit-transition: -webkit-transform .2s;
	-moz-transition: -moz-transform .2s;
	transition: transform .2s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0
}
#rocketmeluncur:hover {
	background-position: 50% -62px
}
#rocketmeluncur:hover i {
	background-position: 50% 100%;
	-webkit-animation: flaming .7s infinite;
	-moz-animation: flaming .7s infinite;
	animation: flaming .7s infinite
}
#rocketmeluncur.showrocket {
	visibility: visible;
	opacity: 1
}
#rocketmeluncur.launchrocket {
	background-position: 50% -62px;
	opacity: 0;
	-webkit-transform: translateY(-800px);
	-moz-transform: translateY(-800px);
	-ms-transform: translateY(-800px);
	transform: translateY(-800px);
	pointer-events: none
}
#rocketmeluncur.launchrocket i {
	background-position: 50% 100%;
	-webkit-transform: scale(1.4, 3.2);
	-moz-transform: scale(1.4, 3.2);
	transform: scale(1.4, 3.2)
}
/*back to top end here*/
.about-page {
	position: relative;
	height: 450px;
	background: gray url(../images/common-layer.png)repeat 0 0;
	width: 100%;
	margin: 0;
	text-align: center;
	padding-top: 120px;
	box-sizing: border-box;
	-webkit-animation: slide 20s linear infinite;
}
@-webkit-keyframes slide {
 from {
background-position: 0 0;
}
 to {
background-position: -400px 0;
}
}
.about-page:before {
	content: "";
	position: absolute;
	background: url(../images/cmn-banner-left.png) no-repeat;
	background-size: contain;
	left: 0;
	bottom: 0;
	width: 200px;
	height: 285px;
}
.about-page:after {
	content: "";
	position: absolute;
	background: url(../images/cmn-banner-right.png) no-repeat;
	background-size: contain;
	right: 0;
	bottom: 0;
	width: 200px;
	height: 300px;
}
.about-page .common-titles {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.about-page .common-titles h2.header-page-subtitle {
	font-size: .8rem;
	text-align: center;
	color: #de1f26;
	text-transform: capitalize;
	font-weight: bold;
}
.about-page .common-titles h1.header-page-title {
	font-size: 3.4rem;
	font-weight: bold;
	text-align: center;
	color: #040707;
	text-transform: capitalize;
}
.about-page-details {
	margin: 5rem 0;
}
.about-page-details .img-abt {
	border: 0.8em solid #f4f4f4;
	box-shadow: 0.5em 0.5em 1em #ccc;
}
.about-page-details .img-abt img {
	width: 100%;
}
.about-page-details h3 {
	font-size: 44px;
	font-weight: 900;
	color: #040707;
	padding: 15px 0;
}
.about-page-details p {
	color: #040707;
	font-size: 14px;
	line-height: 26px;
}
.about-page-details p.first {
	text-indent: 3rem;
}
.about-page-details .marg-top {
	margin-top: 5rem;
}
.about-page-details p b {
	font-weight: bold;
	text-align: center;
	display: block;
	line-height: 24px;
	padding: 5px 0;
}
.abt-process {
	background: #ebefff;
	padding: 5rem 0;
}
.abt-process .process-main {
	-webkit-box-shadow: 0 15px 29px -4px #3f49621f;
	box-shadow: 0 15px 29px -4px #3f49621f;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 5px;
	-webkit-transition: .25s;
	transition: .5s;
	padding: 2rem 2rem 4rem;
	background: #fff;
	cursor: pointer;
	margin-top: 50px;
}
.abt-process .process-main .pro-img {
	height: 4rem;
	width: 4rem;
	margin: 0 auto;
}
.abt-process .process-main h4 {
	margin: 1rem 0 .5rem;
	font-size: 1.2rem;
	font-weight: 900;
	color: #040707;
	text-align: center;
}
.abt-process .process-main p {
	position: relative;
	margin-top: .5rem;
	text-align: center;
	line-height: 26px;
	color: #040707;
	padding-bottom: 20px;
}
.abt-process .process-main:hover {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}
.mylivechat_collapsed, .mylivechat_expanded {
	background-color: rgb(225, 67, 37) !important;
	border: 0px solid rgb(225, 67, 37) !important;
}
.mylivechat_offline_submit_button {
	background: #de1f26 !important;
}
/*-- Team section--*/
.our-team .team-grids {
	margin-top: 50px;
}
.our-team .team {
	background: #f5f5f5;
	padding: 5em 0;
}
.our-team h3.title {
	color: #faad81;
	font-size: 50px;
	text-align: center;
	margin-bottom: 1em;
	font-weight: 600;
	font-style: italic;
}
.our-team .team-grid {
	text-align: center;
}
.our-team .team {
	background: #f5f5f5;
	padding: 5em 0;
}
.our-team .team-grid {
	text-align: center;
}
.our-team .team-grid h4 {
	font-size: 25px;
	color: #040707;
	font-weight: 600;
	margin: 30px 0 0;
}
.our-team .team-grid h5 {
	font-size: 16px;
	color: #040707;
	font-weight: 400;
	margin: 10px 0 15px;
	text-transform: capitalize;
}
.our-team .team-grid p {
	color: #777;
	font-size: 1em;
}
.our-team .social-nav li {
	display: inline-block;
}
.our-team .social-nav a {
	display: inline-block;
	float: none;
	width: 30px;
	height: 30px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	background: #000;
	position: relative;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.our-team .model-3d-0 a {
	background: #5C5B5B;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.our-team .model-3d-0 .front, .our-team .model-3d-0 .back {
	width: 30px;
	height: 30px;
	font-size: 1em;
	color: #fff;
	background: #e14325;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translateZ(18px);
	-moz-transform: translateZ(18px);
	-ms-transform: translateZ(18px);
	-o-transform: translateZ(18px);
	transform: translateZ(18px);
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	-ms-backface-visibility: visible;
	-o-backface-visibility: visible;
	backface-visibility: visible;
	display: flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
}
.our-team .model-3d-0 .back {
	font-size: 1em;
	color: #fff;
	-webkit-transform: rotateX(90deg) translateZ(18px);
	-moz-transform: rotateX(90deg) translateZ(18px);
	-ms-transform: rotateX(90deg) translateZ(18px);
	-o-transform: rotateX(90deg) translateZ(18px);
	transform: rotateX(90deg) translateZ(18px);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
.our-team .twitter .back, .our-team .facebook .back, .our-team .instagram .back, .our-team .pinterest .back, .our-team .linkedin .back {
	background: #f1eb21;
}
.our-team .model-3d-0 a:hover {
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}
.our-team .model-3d-0 a:hover .back {
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	-ms-backface-visibility: visible;
	-o-backface-visibility: visible;
	backface-visibility: visible;
}
.our-team .stack img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
	border: 10px solid #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.our-team .stack:last-of-type {
	margin-right: 0;
	cursor: pointer;
}
.our-team .stack.twisted:before {
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
}
.our-team .stack.twisted:after {
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
}
.our-team .stack:hover:before, .our-team .stack:hover:after, .our-team .team-grid:hover .stack:before, .our-team .team-grid:hover .stack:after {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}
/*-- Team section--*/
.our-team .stack:before, .our-team .stack:after {
	content: "";
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	width: 100%;
	height: 100%;
	position: absolute;
	border: 10px solid #fff;
	left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-transition: 0.3s all ease-out;
	-moz-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out;
	-o-transition: 0.3s all ease-out;
	-ms-transition: 0.3s all ease-out;
}
.our-team .stack:before {
	top: 4px;
	z-index: -10;
}
.our-team .stack:after {
	top: 8px;
	z-index: -20;
}
.our-team .stack {
	float: none;
	width: 92%;
	margin: 3% 0% 8% 4%;
	position: relative;
	z-index: 1;
}
.contact-info {
	padding: 5rem 0;
}
.contact-info .cnt-main {
	background-color: #fff;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
	border-top: 4px solid #e14325;
	padding: 30px;
	margin: 15px 0;
	word-break: break-word;
	margin-top: 4rem;
	transition: all .5s;
}
.contact-info .cnt-main .fa {
	color: #fff;
	font-size: 20px;
	background-color: #e14325;
	padding: 15px;
	text-align: center;
	border-radius: 2px;
	margin-bottom: 30px;
	width: 50px;
	height: 50px;
	transition: all .5s;
}
.contact-info .cnt-main h5 {
	font-size: 25px;
	color: #2a2a68;
	font-weight: 600;
	line-height: 36px;
	padding-bottom: 10px;
}
.contact-info .cnt-main a {
	font-size: 18px;
	color: #2a2a68;
	font-weight: 600;
	line-height: 26px;
	display: block;
	transition: all .5s;
}
.contact-info .cnt-main a:hover {
	color: #e14325;
}
.contact-info .cnt-main h6 {
	font-size: 18px;
	color: #2a2a68;
	font-weight: 600;
	line-height: 26px;
	display: block;
}
.contact-info .cnt-main:hover {
	border-top: 4px solid #040707;
}
.contact-info .cnt-main:hover .fa {
	color: #fff;
	background: #040707;
}
/*-- pagination section--*/

.pagination-container {
	margin: 100px auto 0 auto;
	text-align: center;
}
.pagination {
	position: relative;
}
.pagination a {
	position: relative;
	display: inline-block;
	color: #040707;
	text-decoration: none;
	font-size: 1rem;
	width: 35px;
	height: 35px;
	background: #e14325;
	border-radius: 50%;
	font-weight: 600;
	padding: 8px;
}
.pagination a:hover, .pagination a.pagination-active {
	color: #fff;
	background: #040707;
}
.pagination-newer {
	margin-right: 30px;
}
.pagination-older {
	margin-left: 30px;
}
/*-- pagination section--*/
.service-sect {
}
.service-sect .servic-tab {
	margin: 5rem 0;
}
.service-sect .nav-tabs>li>a {
	color: #000;
	font-weight: 400;
	font-size: 18px;
}
.service-sect .tabs-left {
	border-bottom: none;
	border-right: 1px solid #ddd;
	background: #f6f6f6;
}
.service-sect .tabs-left>li {
	float: none;
	margin: 0px;
}
.service-sect .tabs-left>li.active>a, .service-sect .tabs-left>li.active>a:hover, .service-sect .tabs-left>li.active>a:focus {
	border-bottom-color: #ddd;
	border-right-color: transparent;
	background: #e14325;
	border: none;
	border-radius: 0px;
	margin: 0px;
	color: #fff;
}
.service-sect .nav-tabs>li>a:hover {
	line-height: 1.42857143;
	border: 1px solid transparent;
	color: #040707;
	background: #f1eb21;
}
.service-sect .tabs-left>li.active>a::after {
	content: "";
	position: absolute;
	top: 10px;
	right: -10px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #e14325;
	display: block;
	width: 0;
}
.service-sect h3.module-title {
	color: #fff;
	background: #040707;
	font-size: 22px;
	line-height: 1.3;
	padding: 10px;
	text-align: left;
	font-weight: 600;
	letter-spacing: 1px;
}
.service-sect .tab-contents .tab-imgs img {
	width: 100%;
}
.service-sect .tab-contents .tab-imgs {
	position: relative;
}
.service-sect .tab-contents .tab-imgs .serv-txt {
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
}
.service-sect .tab-contents .tab-imgs .serv-txt h3 {
	text-align: center;
	font-size: 25px;
	color: #fff;
	padding-bottom: 10px;
}
.service-sect .tab-contents .tab-imgs .serv-txt p.sudser {
	text-align: center;
	font-size: 15px;
	line-height: 24px;
	color: #fff;
	padding: 0 3rem;
}
.service-sect .tab-contents h4 {
	color: #040707;
	font-size: 40px;
	padding: 30px 0;
	font-weight: 900;
}
.service-sect .tab-contents p {
	color: #040707;
	font-size: 16px;
	line-height: 28px;
	padding-bottom: 20px;
}
.service-sect .tab-contents h5 {
	color: #040707;
	font-size: 30px;
	padding: 10px 0 20px 0;
	font-weight: 900;
}
.service-sect .tab-contents ul {
	margin: 10px 0 20px 0;
}
.service-sect .tab-contents ul li {
	color: #040707;
	font-size: 16px;
	line-height: 24px;
	padding: 10px 0px;
}
.service-sect .tab-contents ul li .fa {
	margin-right: 10px;
	color: #e14325;
}
.service-sect .download-area {
	margin: 2rem 0;
}
.service-sect .download-area .download-main {
	background: #f6f6f6;
	padding: 15px;
}
.service-sect .download-area .download-main ul li {
}
.service-sect .download-area .download-main ul li a {
	padding: 10px 0;
	color: #040707;
	font-size: 16px;
	font-weight: 400;
	transition: all .5s;
}
.service-sect .download-area .download-main ul li .fa {
	margin-right: 10px;
	transition: all .5s;
}
.service-sect .download-area .download-main ul li a:hover {
	color: #e14325;
}
.service-sect .download-area .download-main ul li a:hover .fa {
	color: #e14325;
}
.service-sect .servc-cnt {
}
.service-sect .servc-cnt h5 {
	color: #040707;
	font-size: 18px;
	font-weight: 600;
}
.service-sect .servc-cnt h6 {
	font-size: 14px;
	padding: 5px 0;
	color: #040707;
}
.service-sect .servc-cnt p a {
	font-size: 14px;
	font-weight: 600;
	color: #e14325;
}
.service-sect .marg-btm {
	margin-bottom: 30px;
}
.service-sect .padd-lftr {
	padding: 0 10px;
}
.service-sect .download-area .download-main p {
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
}
.service-sect .download-area .cmn-link {
	text-transform: uppercase;
	font-size: 14px;
}
.service-sect .download-area .cmn-link .fa {
	margin-right: 10px;
	font-size: 20px;
	vertical-align: middle;
}
.service-sect .faq {
	margin: 3rem 5rem;
}
.service-sect .faq #accordion .panel {
	border-radius: 0;
	border: 0;
	margin-bottom: 30px;
}
.service-sect .faq #accordion a {
	display: block;
	padding: 18px 30px 18px 30px;
	border-bottom: 1px solid #f1eb21;
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 600;
	text-align: left;
	background: #de1f26;
	color: #fff;
}
.service-sect .faq #accordion .panel-heading a.collapsed:hover, .service-sect .faq #accordion .panel-heading a.collapsed:focus {
	background-color: #040707;
	color: #fff;
	transition: all 0.2s ease-in;
	padding: 18px 30px 18px 30px;
}
.service-sect .faq #accordion .panel-heading a.collapsed:hover::before, .service-sect .faq #accordion .panel-heading a.collapsed:focus::before {
	color: #fff;
}
.service-sect .faq #accordion .panel-heading {
	padding: 0;
	border-radius: 0px;
	text-align: center;
}
.service-sect .faq #accordion .panel-heading a:not(.collapsed) {
	color: #fff;
	background-color: #de1f26;
	transition: all 0.2s ease-in;
}
/* Add Indicator fontawesome icon to the left */
.service-sect .faq #accordion .panel-heading .accordion-toggle::before {
	font-family: 'FontAwesome';
	content: '\f00d';
	float: right;
	color: white;
	font-weight: lighter;
	transform: rotate(0deg);
	transition: all 0.2s ease-in;
}
.service-sect .faq #accordion .panel-heading .accordion-toggle.collapsed::before {
	color: #040707;
	transform: rotate(-135deg);
	transition: all 0.2s ease-in;
}
.service-sect .panel-group .panel-heading + .panel-collapse > .panel-body, .service-sect .panel-group .panel-heading + .panel-collapse > .list-group {
	border: 1px solid #ddd;
	background: #f6f6f6;
}
.faq-form {
	background: #f8f9fa;
	padding: 4rem 0;
	margin: 3rem 0;
}
.faq-form-main .faq-frm-sub {
	margin-bottom: 2rem;
}
.faq-form-main .faq-frm-sub .input-big {
	border-radius: 0px;
	width: 100%;
	background: #fff;
	padding: 15px;
	font-size: 14px;
	border: 2px solid #f2f5fa;
}
.faq-form-main .faq-frm-sub .biglabel {
	font-size: 12px;
	font-weight: 500;
	color: #1e283c;
	text-transform: uppercase;
	display: block;
	margin-bottom: 10px;
}
.faq-form-main .faq-frm-sub .biglabel sup {
	color: #de1f26;
	font-size: 20px;
	top: 0;
}
.faq-form-main .faq-frm-sub .input-bigtext {
	min-height: 100px;
	resize: none;
}
.faq-form-main .faq-frm-sub .big-btn {
	width: 100%;
	padding: 15px;
	background: #040707;
	transition: all .5s;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
}
.faq-form-main .faq-frm-sub .big-btn:hover {
	background: #e14325;
}
.events {
	margin: 4rem 0;
}
.events p.main-descr {
	padding-bottom: 2rem;
}
.events ul {
	list-style: none;
}
.events li {
	list-style: none;
	margin-top: 2rem;
}
.events .hidden {
	overflow: hidden;
	display: none;
	visibility: hidden;
}
.events .btn-gallery {
	width: 100%;
	display: block;
}
.events .btn-gallery img {
	width: 100%;
}
.registration {
	margin: 4rem 0 0rem 0;
}
.registration .reg-ser-main {
	border-radius: 20px;
	-webkit-box-shadow: 0 70px 120px 0 rgba(130, 136, 171, 0.2);
	box-shadow: 0 70px 120px 0 rgba(130, 136, 171, 0.2);
	padding: 40px 30px 40px 30px;
	margin-bottom: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: .25s;
	transition: .5s;
	cursor: pointer;
	margin-top: 50px;
}
.registration .reg-ser-main span.reg-icn {
	display: block;
}
.registration .reg-ser-main span.reg-icn .fa {
	font-size: 40px;
	text-align: center;
	display: block;
	margin-bottom: 20px;
	color: #040707;
	transition: all .5s;
}
.registration .reg-ser-main h4 {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 15px;
	color: #040707;
	transition: all .5s
}
.registration .reg-ser-main p {
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	color: #040707;
}
.registration .reg-ser-main:hover h4 {
	color: #e14325;
}
.registration .reg-ser-main:hover span.reg-icn .fa {
	color: #e14325;
}
.registration .skills-sect {
	margin: 4rem 0 0 0;
}
.registration .skills-sect #accordion .panel {
	border-radius: 0;
	border: 0;
	margin-bottom: 20px;
}
.registration .skills-sect #accordion .panel-heading {
	padding: 0;
	border-radius: 0px;
	text-align: center;
}
.registration .skills-sect #accordion .panel-heading a:not(.collapsed) {
	color: #fff;
	background-color: #e14325;
	transition: all 0.2s ease-in;
}
.registration .skills-sect #accordion a {
	display: block;
	padding: 10px 30px 10px 30px;
	border-bottom: 1px solid #f1eb21;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 600;
	text-align: left;
	background: #040707;
	color: #fff;
}
.registration .skills-sect #accordion .panel-heading .accordion-toggle::before {
	font-family: 'FontAwesome';
	content: '\f00d';
	float: right;
	color: white;
	font-weight: lighter;
	transform: rotate(0deg);
	transition: all 0.2s ease-in;
}
.registration .skills-sect .panel-group .panel-heading + .panel-collapse > .panel-body, .registration .skills-sect .panel-group .panel-heading + .panel-collapse > .list-group {
	border: 1px solid #ddd;
	background: #f6f6f6;
}
.registration .skills-sect #accordion .panel-heading .accordion-toggle.collapsed::before {
	color: #f0ea24;
	transform: rotate(-135deg);
	transition: all 0.2s ease-in;
}
.registration .skills-sect h6 {
	color: #040707;
	font-size: 26px;
	font-weight: 600;
	padding-bottom: 10px;
	position: relative;
	margin-bottom: 50px;
	border-bottom: 1px solid #000;
}
.registration .skills-sect h6:before {
	content: "";
	position: absolute;
	width: 100px;
	height: 3px;
	left: 0;
	bottom: -2px;
	border-bottom: 3px solid #f00;
}
.registration .progress {
	width: 100%;
}
.registration .progress-bar-success {
	background-color: #e14325;
}
.registration .skills-sect h5 {
	color: #040707;
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 10px;
}
.registration .form {
	background: #fff;
}
.registration .tab-group {
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
}
.registration .tab-group:after {
	content: "";
	display: table;
	clear: both;
}
.registration .tab-group li a {
	display: block;
	text-decoration: none;
	padding: 10px 15px;
	background: #e14325;
	color: #fff;
	font-size: 18px;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s ease;
}
.registration .tab-group li a:hover {
	background: #040707;
	color: #ffffff;
}
.registration .tab-group .active a {
	background: #040707;
	color: #ffffff;
}
.registration .tab-content > div:last-child {
	display: none;
}
.registration .choose-sect {
	margin: 3rem auto;
	display: table;
	box-shadow: 3px 3px 3px 3px #e14325;
	padding: 2rem 2rem;
	width: 65%;
	transition: all .5s;
	color: #040707;
}
.registration .choose-sect .job-sek {
	margin: 10px auto;
	display: table;
}
.registration .choose-sect .job-sek .fa {
	font-size: 80px;
}
.registration .choose-sect h3 {
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}
.registration .choose-sect:hover {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
	color: #e14325;
}
.form-details {
	    margin: 3rem 0 0 0;
}
.form-details .cmn-sect {
	background: #f6f6f6;
	padding: 15px 25px 30px 25px;
	margin-bottom: 2rem;
}
.form-details .cmn-sect ul.search {
}
.form-details .cmn-sect ul.search li a {
	font-size: 16px;
	color: #040707;
	padding: 10px 0;
	width: 100%;
	border-bottom: 1px solid #b9b0b0;
	transition: all .5s;
	text-transform: capitalize;
}
.form-details .cmn-sect ul.search li a:hover {
	padding-left: 15px;
}
.form-details h5 {
	background: #040707;
	padding: 10px;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
}
.form-details h5 .fa {
	margin-right: 8px;
}
.form-details ul.category-search {
}
.form-details ul.category-search li {
	float: left;
	margin: 0 4px;
}
.form-details ul.category-search li a {
	border-bottom: none;
	background: #e14325;
	margin: 5px 0;
	padding: 5px 10px;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	transition: all .5s;
}
.form-details ul.category-search li a:hover {
	padding-left: 10px;
	background: #040707;
}
.regi-form {
}
.regi-form h6 {
	border-bottom: 1px solid #b9b0b0;
	position: relative;
	color: #040707;
	font-size: 20px;
	padding: 0 0 10px 0;
	font-weight: 600;
	margin-bottom: 20px;
}
.regi-form h6:before {
	content: "";
	position: absolute;
	border-bottom: 3px solid #e14325;
	bottom: -2px;
	width: 100px;
	left: 0;
	height: 3px;
}
.regi-form p {
	font-size: 16px;
	color: #040707;
	line-height: 24px;
}
.regi-form .form-reg-main {
	    margin: 2rem 0 0 0;
}
.regi-form .form-reg-main .reg-label {
	color: #040707;
	display: block;
	padding-bottom: 10px;
	font-size: 15px;
	font-weight: 600;
}
.regi-form .form-reg-main .reg-inpt {
	background: #f6f6f6;
	width: 100%;
	padding: 10px;
	border: 1px solid #b9b0b0;
	border-radius: 3px;
	margin: 0px 0 20px 0;
}
.regi-form .form-reg-main .reg-label sup {
	color: #e14325;
}
.regi-form .form-reg-main .select-reg {
}
.regi-form .form-reg-main .reg-textarea {
	resize: none;
	min-height: 80px;
}
.regi-form .file-upload {
	display: block;
	text-align: center;
	font-size: 16px;
}
.regi-form .file-upload .file-select {
	display: block;
	border: 2px solid #e14325;
	color: #34495e;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	text-align: left;
	background: #FFFFFF;
	overflow: hidden;
	position: relative;
}
.regi-form .file-upload .file-select .file-select-button {
	background: #e14325;
	padding: 0 10px;
	display: inline-block;
	/* height: 40px; */
	line-height: 40px;
	color: #fff;
}
.regi-form .file-upload .file-select .file-select-name {
	line-height: 40px;
	display: inline-block;
	padding: 0 10px;
}
.regi-form .file-upload .file-select:hover {
	border-color: #34495e;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.regi-form .file-upload .file-select:hover .file-select-button {
	background: #34495e;
	color: #FFFFFF;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.regi-form .file-upload.active .file-select {
	border-color: #e14325;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.regi-form .file-upload.active .file-select .file-select-button {
	background: #e14325;
	color: #FFFFFF;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.regi-form .file-upload .file-select input[type=file] {
	z-index: 100;
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.regi-form .file-upload .file-select.file-select-disabled {
	opacity: 0.65;
}
.regi-form .file-upload .file-select.file-select-disabled:hover {
	display: block;
	border: 2px solid #dce4ec;
	color: #34495e;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
	text-align: left;
	background: #FFFFFF;
	overflow: hidden;
	position: relative;
}
.regi-form .file-upload .file-select.file-select-disabled:hover .file-select-button {
	background: #dce4ec;
	color: #666666;
	padding: 0 10px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.regi-form .file-upload .file-select.file-select-disabled:hover .file-select-name {
	line-height: 40px;
	display: inline-block;
	padding: 0 10px;
}
.regi-form .reg-btn {
	background: #040707;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 10px;
margin: 15px 0 0 0;
    width: 100%;
    font-weight: 600;
    letter-spacing: 2px;
}
.regi-form .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.regi-form .form-group label {
margin: 30px 0 0 0;
}

.regi-form .form-group label:before {
content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #e14325;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

.regi-form .form-group input:checked + label:after {
content: '';
    display: block;
    position: absolute;
top: 36px;
    left: 22px;
    width: 4px;
    height: 10px;
    border: solid #e14325;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.regi-form .regi-form .form-group a {
	color: #e14325;
}
/*contents end her*/
/*media section start*/

@media (max-width: 999px) {
}

@media (max-width: 767px) {
.footer {
    padding: 30px 0 60px 0;
}
.footer ul.mob-height {
	    min-height: 215px;
	}
	.footer ul.social-links li a {
    width: 28px;
    height: 28px;
	}
.footer ul.mob-heightchng {
	min-height: 120px;
	}
	.newsletter .map-sect .adds-localeft {
    float: left;
}
	.newsletter .map-sect .map-addres .adds-loca h5 a {
    font-size: 15px;
}
	.footer-form {
		margin-top: 3rem;
	}
	.newsletter .map-sect .map-addres {
    background: #fff;
    padding: 30px 30px 30px 30px;
	}
	.bigleap h3.main-title {
    font-size: 2.3rem;
    line-height: 40px;

	}
	.bigleap p.main-descr {
    padding: 0 1rem;
}
	.newsletter p.main-descr {
    padding-bottom: 60px;
}
	.about-page .common-titles {
	  position: absolute;
     left: 0; 
    top: 50%;
     transform: none;
    right: 0;
    z-index: 100;
}
	.about-page-details h3 {
    font-size: 30px;
	}
	.about-page-details .marg-top {
    margin-top: 2rem;
}
	.our-team .team-grid {
    margin-bottom: 40px;
}
	.our-team .team {

    padding: 5em 0 1rem 0;
}
	.animationsect {
     position: inherit;
    transform: translate(-50%, -45%);
}
	.animationsect .divslidetxt h1 {
    color: #040707;
    font-size: 32px;
    line-height: 36px;
    padding-top: 2rem;
		text-align: center;
}
	.service-sect {
    margin: 0px 0 0 0;
}
	.divslidetxt .cmn-link {
		display: none;
	}
	.divslidetxt img {
		margin-top: 7rem;
	}
	.service-sect .box-sect {
		margin-bottom: 0;
	}
	.about-sect .half-box {
    padding: 40px 30px;
}
	.footer .footer-logo {

    margin: 0 auto;
}
	.slidersection img {
		height: 270px;
	}
}

/*media section end*/
