@charset "utf-8";

/*header starts */

.sticky {
	background: orange;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 999;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999999;
	background: #e14325 !important;
}

.fixed .logo {
	padding: 0px 0;
}

.fixed .logo a {
	transition: all .5s;
	display: block;
	width: 20%;
	    margin: 5px 0;
}
.fixed #cssmenu>ul>li>a {
    padding: 32px 12px;
}
.fixed #cssmenu>ul>li.looking-li a {
    padding: 12px 14px;
    margin: 18px 0;
}
.mainheder .topheder_part {
	background: #007cc2;
}

.topheder_part .welcm {
	color: #fff;
	font-size: 14px;
	padding: 10px 0;
}

.navmenupart {
	background-color: transparent;
}

.logo {
	position: relative;
	z-index: 123;
	padding: 10px 0;
	transition: all .5s;
	float: left;
	width: 30%;
	padding-left: 15px;
}

.logo a {
	color: #6DDB07;
	display: block;
	width: 25%;
	margin: 15px 0;
}

nav {
	position: relative;
	margin: 0 auto;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

#cssmenu:after,
#cssmenu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

#cssmenu #head-mobile {
	display: none
}


/*#cssmenu {
	background: #fff;
}*/

#cssmenu>ul>li {
	float: left;
	cursor: pointer !important;
}

#cssmenu>ul>li.lstli {
	margin-right: 15px;
}

#cssmenu>ul>li.nthchild {
	float: right;
}

#cssmenu>ul>li>a {
	padding: 42px 12px;
	color: #fff;
	text-transform: capitalize;
	font-size: 1rem;
	-webkit-transition: .25s;
	transition: .25s;
	font-weight: bold;
}

#cssmenu>ul>li>a .fa {
	font-size: 14px;
	margin-left: .2rem;
}

#cssmenu>ul>li:hover>a,
#cssmenu ul li.active a {
	color: #040707;
}

#cssmenu>ul>li.looking-li {}

#cssmenu>ul>li.looking-li a {
	background: #040707;
	padding: 15px 14px;
	margin: 24px 0;
	border-radius: 30px;
	transition: all .5s;
}

#cssmenu>ul>li.looking-li a:hover {
	background: #f1eb21;
	color: #040707;
}

#cssmenu>ul>li.looking-li a span.jobspan {
	margin-right: 10px;
	transition: all .5s;
}

#cssmenu>ul>li.looking-li a:hover span.jobspan {
	margin-right: 15px;
}
.sub-heder #cssmenu ul li a {
	color: #040707;
}
.sub-heder #cssmenu>ul>li:hover>a, .sub-heder #cssmenu ul li.active a {
    color: #f1eb21;
}
#cssmenu>ul>li.looking-li a {
	color: #fff;
}
.sub-heder #cssmenu ul ul li a {
color: #fff !important;
}

#cssmenu ul li a {
	position: relative;
}

#cssmenu ul ul {
	position: absolute;
	left: -9999px;
	z-index: 999999;
}

#cssmenu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	background: #333;
	transition: all .25s ease
}

#cssmenu li:hover>ul {
	left: auto
}

#cssmenu li:hover>ul>li {
	height: 35px
}

#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0
}

#cssmenu ul ul li a {
	border-bottom: 1px solid rgba(150, 150, 150, 0.15);
	padding: 11px 15px;
	width: 170px;
	font-size: 12px;
	text-decoration: none;
	color: #ddd;
	font-weight: 400;
}

#cssmenu ul ul li:last-child>a,
#cssmenu ul ul li.last-item>a {
	border-bottom: 0
}

#cssmenu ul ul li:hover>a,
#cssmenu ul ul li a:hover {
	color: #fff;
	padding-left: 20px;
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease
}

#cssmenu ul ul li.has-sub>a:after {
	position: absolute;
	top: 16px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #ddd;
	content: ''
}

#cssmenu ul ul li.has-sub>a:before {
	position: absolute;
	top: 13px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #ddd;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease
}

#cssmenu ul ul>li.has-sub:hover>a:before {
	top: 17px;
	height: 0
}

#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
	background: #363636;
}

#cssmenu ul ul ul li.active a {
	border-left: 1px solid #333
}

#cssmenu>ul>li.has-sub>ul>li.active>a,
#cssmenu>ul ul>li.has-sub>ul>li.active>a {
	border-top: 1px solid #333
}
.fixed .sub-heder #cssmenu>ul>li:hover>a, .fixed .sub-heder #cssmenuul>li.active a {
    color: #000 !important;
}
/*.fixed .sub-heder #cssmenu>ul>li.active a {
	 color: #000 !important;
}

.fixed .sub-heder #cssmenu>ul>li>a {
  
    color: #000 !important;
}*/

@media screen and (max-width:1000px) {
.logo {
		position: absolute;
		top: 0;
		left: 0;
		width: 45%;
		text-align: center;
		padding: 0 0 0 0;
		float: none;
		margin-left: 10px;
	}
	.logo2 {
		display: none
	}
	nav {
		width: 100%;
	}
	#cssmenu {
		width: 100%;
	}
	#cssmenu ul {
		width: 100%;
		display: none;
		position: fixed;
		z-index: 9999;
		background: rgba(0, 0, 0, 0.9);
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
	}
	/* Animation steps */
	@-webkit-keyframes fadeIn {
		0% {
			opacity: 0.0;
		}
		100% {
			opacity: 1.0;
		}
	}
	@keyframes fadeIn {
		0% {
			opacity: 0.0;
		}
		100% {
			opacity: 1.0;
		}
	}
	#cssmenu ul li:nth-child(1) {
		-webkit-animation-delay: 0.5s;
		animation-delay: 0.5s;
	}
	#cssmenu ul li:nth-child(2) {
		-webkit-animation-delay: 1.0s;
		animation-delay: 1.0s;
	}
	#cssmenu ul li:nth-child(3) {
		-webkit-animation-delay: 1.5s;
		animation-delay: 1.5s;
	}
	#cssmenu ul li:nth-child(4) {
		-webkit-animation-delay: 2.0s;
		animation-delay: 2.0s;
	}
	#cssmenu ul li:nth-child(5) {
		-webkit-animation-delay: 2.5s;
		animation-delay: 2.5s;
	}
	#cssmenu ul li:nth-child(6) {
		-webkit-animation-delay: 3.0s;
		animation-delay: 3.0s;
	}
	#cssmenu ul li:nth-child(7) {
		-webkit-animation-delay: 3.5s;
		animation-delay: 3.5s;
	}
	#cssmenu ul li:nth-child(8) {
		-webkit-animation-delay: 4.0s;
		animation-delay: 4.0s;
	}
	#cssmenu ul li {
		width: 100%;
		border-top: 1px solid #444;
		-webkit-animation: fadeIn 0.9s 1;
		animation: fadeIn 0.9s 1;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		opacity: 0;
	}
	#cssmenu ul li:hover {
		background: #363636;
	}
	#cssmenu ul ul li,
	#cssmenu li:hover>ul>li {
		height: auto
	}
	#cssmenu ul li a,
	#cssmenu ul ul li a {
		width: 100%;
		border-bottom: 0;
		padding: 16px;
		color: #fff !important;
		border-bottom: 0 !important;
	}
	#cssmenu ul li.active {
		border-bottom: 0;
	}
	.contact_hed {
		padding: 20px!important;
	}
	#cssmenu>ul>li {
		float: none
	}
	#cssmenu ul ul li a {
		padding-left: 25px
	}
	#cssmenu ul ul li {
		background: #333!important;
	}
	#cssmenu ul ul li:hover {
		background: #363636!important
	}
	#cssmenu ul ul ul li a {
		padding-left: 35px
	}
	#cssmenu ul ul li a {
		color: #ddd;
		background: none;
	}
	#cssmenu ul ul li:hover>a,
	#cssmenu ul ul li.active>a {
		color: #fff
	}
	#cssmenu ul ul,
	#cssmenu ul ul ul {
		position: relative;
		left: 0;
		width: 100%;
		margin: 0;
		text-align: left
	}
	#cssmenu>ul>li.has-sub>a:after,
	#cssmenu>ul>li.has-sub>a:before,
	#cssmenu ul ul>li.has-sub>a:after,
	#cssmenu ul ul>li.has-sub>a:before {
		display: none
	}
	#cssmenu #head-mobile {
		display: block;
		padding: 40px;
		color: #ddd;
		font-size: 12px;
		font-weight: 700
	}
	.button {
		width: 55px;
		height: 46px;
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		z-index: 12399994;
	}
	.button:after {
		position: absolute;
		top: 24px;
		right: 20px;
		display: block;
		height: 4px;
		width: 24px;
		border-top: 2px solid #de1f26;
		border-bottom: 2px solid #de1f26;
		content: ''
	}
	.button:before {
		-webkit-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
		position: absolute;
		top: 16px;
		right: 20px;
		display: block;
		height: 4px;
		width: 21px;
		background: #de1f26;
		content: ''
	}
	.button.menu-opened:after {
		-webkit-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
		top: 23px;
		border: 0;
		height: 4px;
		width: 19px;
		background: #e14325;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg)
	}
	.button.menu-opened:before {
		top: 23px;
		background: #e14325;
		width: 19px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg)
	}
	#cssmenu .submenu-button {
		position: absolute;
		z-index: 99;
		right: 0;
		top: 0;
		display: block;
		border-left: 1px solid #444;
		height: 46px;
		width: 46px;
		cursor: pointer
	}
	#cssmenu .submenu-button.submenu-opened {
		background: #262626
	}
	#cssmenu ul ul .submenu-button {
		height: 34px;
		width: 34px
	}
	#cssmenu .submenu-button:after {
		position: absolute;
		top: 22px;
		right: 19px;
		width: 8px;
		height: 2px;
		display: block;
		background: #ddd;
		content: ''
	}
	#cssmenu ul ul .submenu-button:after {
		top: 15px;
		right: 13px
	}
	#cssmenu .submenu-button.submenu-opened:after {
		background: #fff
	}
	#cssmenu .submenu-button:before {
		position: absolute;
		top: 19px;
		right: 22px;
		display: block;
		width: 2px;
		height: 8px;
		background: #ddd;
		content: ''
	}
	#cssmenu ul ul .submenu-button:before {
		top: 12px;
		right: 16px
	}
	#cssmenu .submenu-button.submenu-opened:before {
		display: none
	}
	#cssmenu ul ul ul li.active a {
		border-left: none
	}
	#cssmenu>ul>li.has-sub>ul>li.active>a,
	#cssmenu>ul ul>li.has-sub>ul>li.active>a {
		border-top: none
	}
	.container-2 {
		vertical-align: middle;
		white-space: nowrap;
		position: absolute;
		right: -55px;
		top: 30px;
	}
	.container-2 input#search {
		width: 42px;
		height: 42px;
		background-color: transparent;
		border: none;
		font-size: 10pt;
		float: right;
		color: #262626;
		padding-left: 20px;
		padding-right: 45px;
		color: #000;
		cursor: pointer !important;
		-webkit-transition: width .55s ease;
		-moz-transition: width .55s ease;
		-ms-transition: width .55s ease;
		-o-transition: width .55s ease;
		transition: width .55s ease;
	}
	.container-2 input#search::-webkit-input-placeholder {
		color: #000;
	}
	.container-2 input#search:-moz-placeholder {
		/* Firefox 18- */
		color: #000;
	}
	.container-2 input#search::-moz-placeholder {
		/* Firefox 19+ */
		color: #000;
	}
	.container-2 input#search:-ms-input-placeholder {
		color: #000;
	}
	.container-2 .icon {
		position: absolute;
		right: 4px;
		margin-left: 8px;
		margin-top: 8px;
		color: #4f5b66;
		background: url(../images/serchicon.png) no-repeat;
		background-color: transparent;
		width: 25px;
		height: 25px;
		z-index: 99;
		background-size: 100%;
	}
	.container-2 input#search:focus,
	.container-2 input#search:active {
		outline: none;
		width: 300px;
		position: absolute;
		right: 0;
		background-color: #fff;
	}
	.container-2:hover input#search {
		width: 300px;
		background-color: #fff;
	}
	.container-2:hover .icon {
		color: #93a2ad;
	}
	@media (max-width: 999px) {
		.fixed .logo a {
			color: #6DDB07;
			display: block;
			width: 30%;
		}
		.button {
			top: 15px;
		}
	}
	@media (max-width: 767px) {
		.logo a {
			width: 40%;
		}
		.button {
			top: 20px;
		}
		.container-2 {
			top: -55px;
		}
		#cssmenu>ul>li.numbr span.phnbr {
			top: 1rem;
			left: 4rem;
		}
		.container-2 .icon {
			margin-top: 13px;
		}
		#cssmenu>ul>li>a .fa {
    display: none;
}
	}