@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
.section-two {
        background: #f5f5f5;
}
.sect-intstruction h2 {
            text-align: center;
    font-size: 28px;
    color: #252525 !important;
    text-transform: capitalize;
}
.sect-intstruction h3 {
    text-align: center;
    font-size: 17px;
    color: #252525 !important;
    text-transform: capitalize;
    letter-spacing: 0;
}
.sect-intstruction h4 {
    text-align: left;
    font-size: 15px;
    color: #252525 !important;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-top: 40px;
    padding-left: .5rem;
    vertical-align: middle;
    align-items: center;
    display: flex;
}
.sect-intstruction h4 i {
     margin:0 5px 0 0;
}
.sect-intstruction p {
            text-align: center;
    font-size: 14px;
    color: #252525 !important;
}
.sect-intstruction ul {
    list-style: none;
    margin:20px 0 0 0;
}
.sect-intstruction .btn {
      margin:30px 0 0 0;
}
.sect-intstruction ul li {
                text-align: left;
    font-size: 14px;
    color: #252525 !important;
    padding: 0 0 10px 0;
    display: flex;
    vertical-align: middle;
}
.sect-intstruction ul li i.material-icons {
    font-size: 15px;
    margin: 1px 5px 0 0;
}
.site-sectionevents h2 {
        text-align: center;
    font-size: 34px;
    color: #252525 !important;
}
.gallery-sect {
    clear: both;
    padding: 6rem 0px;
}
.demo-gallery > ul {
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 3rem;
}
.demo-gallery > ul > li {
    margin: 0 10px 30px 10px;
    margin-bottom: 30px;
    width: 260px;
    display: inline-block;
    list-style: outside none none;
}
.demo-gallery > ul > li a {
    border: 1px solid #040707;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    position: relative;
    float: left;
}
.demo-gallery > ul > li a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}
.demo-gallery > ul > li a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
	opacity: 1;
}
.site-sectionevents p {
        text-align: center;
    font-size: 16px;
    color: #252525 !important;
}
#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
.single-campaign .campaign-details-info h5 {
    color: #293155;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 10px;
}
.single-campaign .campaign-details-info ul {
    list-style: none;
}
.single-campaign .campaign-details-info ul li {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #666666;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 5px;
}
.single-campaign .campaign-details-info ul li span {
    display: block;
    font-weight: 600;
    color: #191919;
}
.campaign-sidebar {
    margin-bottom: 50px;
    width: 100%;
    background-color: #fbfbfb;
    border: 1px solid #e8e8e8;
    padding: 25px;
    margin-top: 60px;
    border-radius: 10px;
}
.campaign-sidebar-title {
    color: #293155;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h5.campaign-sidebar-title {
    color: #293155;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.campaign-sidebar-links {
    list-style: none;
}
.campaign-sidebar-links li {
    margin-bottom:10px;
    color: #293155;
    font-size: 16px;
}
.campaign-sidebar-links li a {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
      color: #293155;
}
.campaign-sidebar-links li a::before {
    font-family: 'Fontawesome';
    content: "\f105";
    float: left;
    margin-right: 10px;
}
.campaign-sidebar-links li a:hover {
    color: #eb6032;
}
.cours-slide .campaign-sidebar a {
    display: block;
}
.cours-slide .campaign-sidebar img {
    margin: 0;
    display: block;
}

a.lightbox img {
    height: auto;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    margin: 0 0px 20px 0px;
}
.lightbox-target {
    position: fixed;
    top: -100%;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
    left: 0;
    right: 0;
    z-index: 1000;
}
.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.cours-slide .campaign-sidebar .lightbox-target img {
    margin: auto;
}
.cours-slide .campaign-sidebar a {
    display: block;
}
a.lightbox-close {
    display: block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.cours-slide .campaign-sidebar {
    padding: 0px;
}
.campaign-sidebar:last-child {
    margin-bottom: 0;
}
.single-campaign {
        margin-bottom: 4rem;
}
.section-padding {
    padding: 120px 0;
}

.section-title {
    margin-bottom: 50px;
}


.section-title h2 {
    font-size: 40px;
    line-height: 45px;
    position: relative;
    margin-bottom: 20px;
  color: #333333;
  text-transform: capitalize;
}
.course-slider {
        margin-bottom: 120px;
}
.course-slider .popup-gallery a img {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background: #f5f5f5;
     transition-duration: 4s;
}
.course-slider .popup-gallery a img:hover {
     transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    z-index: 0;
}
.services-area {
  margin-bottom: -30px;
  clear: both;
  padding: 120px 0 50px 0;
  position: relative;
}
.services-area:before {
        content: "";
    width: 100%;
    height: 62px;
    float: left;
    background: url(../images/wavemian.png) center repeat-x;
    margin-top: 0px;
    position: absolute;
    top: 0;
    left: 0;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.serviecs-block .single-serviecs-block {
    margin: 30px 0;
}
.single-serviecs-block {
    padding: 30px 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: block;
    min-height: 320px;
    margin-bottom: 100px;
}


.single-serviecs-block:hover {
    background: #eb6032;
    color: #fff;
}
.single-serviecs-block:hover h3 a {
    color: #fff;
    margin-top: 180px;
}
.single-serviecs-block:hover p {
    display: none;
}
.single-serviecs-block:hover i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    background: #fff;
    color: #eb6032;
    height: 100px;
    width: 100px;
    font-size: 40px;
    line-height: 100px; 
}
.single-serviecs-block h3 a {
    color: #333333;
    margin-bottom: 15px;
    margin-top: 80px;
    display: block;
    overflow: hidden;
    transition: 0.5s;
}
.single-serviecs-block h3 {
    font-size: 38px;
}
.single-serviecs-block i {
    color: #fff;
    font-size: 50px;
    height: 140px;
    width: 140px;
    line-height: 170px;
    text-align: center;
        background: #eb6032;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.6s;
}
.events {
    padding: 0 0 0 0;
        background: #fff;
        position: relative;
}
.events:before {
    content: "";
    width: 100%;
    height: 62px;
    float: left;
    background: url(../images/wavemian.png) center repeat-x;
    margin-top: 0px;
    position: absolute;
    top: 0;
    left: 0;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.events .section_title {
    margin-top: 120px;
}
.events h2 {
    font-size: 38px;
}
.events p {
   font-size: 16px;
    color: #58585a;
    font-weight: 300;
        padding-top: 20px;
    line-height: 20px;
}
.events .order-div {
    margin-top: 5rem;
   padding: 0 0 50px 0;
}
.events .folder-link {
    margin-bottom: 30px;
    overflow: hidden;
}
.events .folder-link a {
    width: 100%;
    margin: 0 auto;
    display: table;
    background: #cecdc7;
    padding: 20px;
    border-radius: 10px;
    transition: all .5s;
}
.events .folder-link a img {
    transition: all .5s;
    width: 100%;
    border-radius: 6px;
}
.events .folder-link h3 {
    text-align: center;
    color: #040707;
    font-size: 20px;
    padding: 10px 0;
    font-weight: bold;
}
.events .folder-link a:hover img {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.events:after {
    content: "";
    width: 100%;
    height: 62px;
    float: left;
    background: url(../images/wavemian.png) center repeat-x;
    margin-top: 0;
    position: absolute;
    left: 0;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
    bottom: -32px;
}
.testimonials-sect h2 {
      font-size: 38px;
}
.testimonials-sect {
	background: #f5f5f5;
	margin: 2rem 0;
	padding: 5rem 0 3rem 0;
}
.customer-feedback .owl-item img {
	width: 85px;
	height: 85px;
}
.feedback-slider-item {
	position: relative;
	padding: 60px;
	margin-top: -40px;
}
.customer-name {
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 20px;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
}
.feedback-slider-item p {
	line-height: 1.875;
	font-size: 15px;
	text-align: center;
}
.customer-rating {
	background-color: #eee;
	border: 3px solid #fff;
	color: rgba(1, 1, 1, 0.702);
	font-weight: 700;
	border-radius: 50%;
	position: absolute;
	width: 47px;
	height: 47px;
	line-height: 44px;
	font-size: 15px;
	right: 0;
	top: 77px;
	text-indent: 10px;
}
.thumb-prev .customer-rating {
	top: -20px;
	left: 0;
	right: auto;
}
.thumb-next .customer-rating {
	top: -20px;
	right: 0;
}
.customer-rating i {
	color: #eb6032;
	;
	position: absolute;
	top: 10px;
	right: 5px;
	font-weight: 600;
	font-size: 12px;
}
.feedback-slider-item:after {
	content: '';
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 0;
	top: 103px;
	background-color: #fff;
	border: 1px solid #eb6032;
	border-radius: 10px;
	z-index: -1;
}
.thumb-prev, .thumb-next {
	position: absolute;
	z-index: 1;
	top: 45%;
	width: 98px;
	height: 98px;
	left: -90px;
	cursor: pointer;
	transition: all .3s;
}
.thumb-next {
	left: auto;
	right: -90px;
}
.feedback-slider-thumb img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}
.feedback-slider-thumb:hover {
	opacity: .8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.customer-feedback .owl-nav [class*="owl-"] {
	position: relative;
	display: inline-block;
	bottom: 45px;
	transition: all .2s ease-in;
}
.customer-feedback .owl-nav i {
	background-color: transparent;
	color: rgb(251, 90, 13);
	font-size: 25px;
}
.customer-feedback .owl-prev {
	left: -15px;
}
.customer-feedback .owl-prev:hover {
	left: -20px;
}
.customer-feedback .owl-next {
	right: -15px;
}
.customer-feedback .owl-next:hover {
	right: -20px;
}
.customer-feedback .owl-dots {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 35px;
}
.customer-feedback .owl-dot {
	display: inline-block;
}
.customer-feedback .owl-dots .owl-dot span {
	width: 11px;
	height: 11px;
	margin: 0 5px;
	background: #fff;
	border: 1px solid rgb(251, 90, 13);
	display: block;
	-webkit-backface-visibility: visible;
	transition: all 200ms ease;
	border-radius: 50%;
}
.customer-feedback .owl-dots .owl-dot.active span {
	background-color: rgb(251, 90, 13);
}
.testimonials-sect .owl-carousel .owl-item img {
	width: auto;
}
.testimonials-sect .owl-nav {
	margin: 1rem auto;
	display: table;
}
.testimonials-sect .owl-carousel .owl-nav button.owl-next, .testimonials-sect .owl-carousel .owl-nav button.owl-prev {
	margin: 0 10px;
}
.testimonials-sect .owl-carousel .owl-nav button.owl-next .fa, .testimonials-sect .owl-carousel .owl-nav button.owl-prev .fa {
	color: #eb6032;
	font-size: 22px;
}
.testimonials-sect .owl-carousel .owl-item img {
    margin: 0 auto;
    border: 1px solid #ddd;
        border-radius: 50%;
}
.owl-carousel .owl-nav button.owl-prev {
    display:none;
}
.owl-carousel .owl-nav button.owl-next {
    display:none;
}
.clients h2 {
    	font-size: 38px;
}
.clients {
    padding: 6rem 0 0rem 0;
     position: relative;
     background: #f5f5f5;
}
.clients .owl-carousel {
    padding: 5rem 0;
    z-index: 0;
}
.clients .owl-dots {
     display:none;
}
.clients .owl-item img {
    margin: 0 auto;
    width: 95%;
    border: 1px solid #ddd;
}
.clients:before {    
    content: "";
    width: 100%;
    height: 62px;
    float: left;
    background: url(../images/wavemian.png) center repeat-x;
    margin-top: -62px;
    position: absolute;
    top: 0;
    left: 0;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
/*.clients:after {    
    content: "";
    width: 100%;
    height: 62px;
    float: left;
    background: url(../images/wavemian-white.png) center repeat-x;
    margin-top: -20px;
    position: absolute;
    left: 0;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: -62px;
     z-index:1;
   
}*/
.clientscmn {
    background: #f5f5f5;
}
.clientscmn:before {
margin-top: -62px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.clientscmn:after {
        content: "";
    width: 100%;
    height: 62px;
    float: left;
    background: url(../images/wavemian.png) center repeat-x;
    margin-top: 0px;
    position: absolute;
    top: 0;
    left: 0;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
     z-index: 2;
}
.progress-wrap .fa {
	    position: absolute;
    top: 15px;
    right: 15px;
	color: #fff;
}
.progress-wrap {
	position: fixed;
	right: 50px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
    box-shadow: inset 0 0 0 2px #333;
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: var(--grey);
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
	opacity: 0;
}
.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
    fill: black;
}
.progress-wrap svg.progress-circle path {
	stroke: var(--grey);
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
body.light .progress-wrap {
	box-shadow: inset  0 0 0 2px rgba(0,0,0,0.2);
}
body.light .progress-wrap::after {
	color: var(--black-blue);
}
body.light .progress-wrap svg.progress-circle path {
	stroke: var(--black-blue);
}
.dict-cnt {
    padding: 9rem 0 5rem 0;
    background: #fff;
    margin: 0rem 0 7rem 0;
    position: relative;
}
.dict-cnt:before {
    content: "";
    width: 100%;
    height: 62px;
    float: left;
    background: url(../images/wavemian.png) center repeat-x;
    margin-top: -20px;
    position: absolute;
    top: 0;
    left: 0;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(180deg);
}
.dict-cnt .quick-cnt {
    border: 1px solid #e9eaec;
    border-radius: 5px;
    padding: 4rem 2rem;
background: #f5f5f5;
}
.dict-cnt .quick-cnt h3 {
    font-size: 28px;
    line-height: 47px;
    color: #3b4550;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
}
a.quick-cnt-link {
    padding: 10px 20px;
    font-size: 18px;
    letter-spacing: 0;
    background: #eb6032;
    border: 1px solid #eb6032;
    color: #fff;
    border-radius: 30px;
    transition: all .5s;
    display: block;
    text-align: center;
}
a.quick-cnt-link:hover {
    background: #292526;
    border: 1px solid #292526;
    letter-spacing: 1px;
}
.header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.burger {
  position: absolute;
    z-index: 999;
    right: 3rem;
    top: 3rem;
  cursor: pointer;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty {
    width: 28px;
    height: 4px;
    margin: 0 0 4px 0;
    background: #252525;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
  margin-bottom: 0;
}
.burger--close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.burger--close .burger__patty:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
          transform: rotate(45deg) translate(4px, 4px);
}
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
          transform: rotate(-45deg) translate(7px, -7px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.menu--active {
  visibility: visible;
}
.menu__brand, .menu__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu__list {
  margin: 0;
  padding: 0;
    background: #eb6032;
  list-style-type: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__brand {
background: #f8f8f8;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.menu__brand--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__item {
  -webkit-transform: translate3d(500px, 0, 0);
          transform: translate3d(500px, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  padding: 15px 0;
  font-weight: 300;
  color: white;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
      font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
}
.menu__link:hover {
    color: #252525;
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 2px;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
  width: 100%;
  color: #252525;
}
.menu .menu__item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.menu__link img {
    
  
}
.logo {
    width: 170px;
    height: 170px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
        border: 1px solid #eb6032;
}
main h1 > a {
  color: white;
  text-decoration: none;
  font-size: 48px;
  font-weight: 300;
}

.support {
  position: fixed;
  bottom: 24px;
  color: rgba(0, 0, 0, 0.6);
}
.site-content{
        position: relative;

}
.site-content:after{
content: "";
    width: 100%;

    float: left;
    background: url(../img/wave2.svg) bottom repeat-x;
    margin-top: 0;
    position: absolute;
    bottom: -62px;
    left: 0;
    right: 0;
    height: 62px;
    z-index: 1;

}

.item-holder {
	background: url(../img/shape1.svg) no-repeat center;
	background-size: 100%;
}
 #contact-form .form-control::placeholder {
 color: #fff;
 opacity: 1;
}
::-moz-selection {
 background: #ff7f45;
}
::selection {
	background: #ff7f45;
}
/*----#Basic----*/

.tb {
	display: table;
	width: 100%;
}
.tb-cell {
	display: table-cell;
	vertical-align: middle;
}
.before-bg {
	position: relative;
}
.before-bg:before {
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.main-menu .navbar ul li .nav-link {
	font-size: 15px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
.main-menu .navbar ul li .nav-link {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.main-menu .navbar ul li .nav-link:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #222;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.main-menu .navbar ul li .nav-link:hover:before, .main-menu .navbar ul li .nav-link:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}
.main-menu .navbar ul li .nav-link:hover {
	color: #fff;
}
.site-banner-service:after {
	content: "";
	width: 100%;
	height: 62px;
	float: left;
	background: url(../images/waveshow-1.png) top center repeat-x;
	margin-top: 0;
	position: absolute;
	bottom: -2px;
	left: 0;
}
.site-banner-service {
	text-align: center;
	color: #fff;
	padding: 150px 0 110px;
	position: relative;
	background: url(../images/banner-bg.svg) top center;
	background-size: cover;
	margin-bottom: 80px;
}
.site-banner p {
	width: 90%;
	margin: 0 auto;
}
.site-banner h4 {
	color: #252525;
}
.site-banner h2 {
	color: #fff;
}
.site-banner h4, .site-banner h2 {
	text-transform: uppercase;
	margin-bottom: 15px;
}
.mouse-icon {
	width: 19px;
	height: 34px;
	display: inline-block;
	border-radius: 25px;
	border: 2px solid #fff;
    margin-top: 20px;
}
.mouse-scroller {
	width: 3px;
	height: 10px;
	border-radius: 25%;
	background-color: #fff;
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
	display: inline-block;
}
 @keyframes scroll {
 0% {
 opacity: 0;
}
 10% {
 transform: translateY(0);
 opacity: 1;
}
 100% {
 transform: translateY(12px);
 opacity: 0;
}
}
.item-holder {
	background: url(../images/shape1.svg) no-repeat center;
	background-size: 100%;
}
.site-section {
	padding: 50px 0;
}
.site-section.section-one {
	background: #f7f6f4;
	padding-bottom: 25px;
}
.site-section h4 {
	color: #0a0808;
	margin-bottom: 8px;
}
.site-section h2 {
	color: #f25929;
	margin-bottom: 15px;
}
/*.site-footer:before {
	content: "";
	width: 100%;
	height: 62px;
	float: left;
	background: url(../images/waveshow-2.png) center repeat-x;
	margin-top: 0;
	position: absolute;
	bottom: -45px;
	left: 0;
}
.site-footer {
	color: #fff;
	background: #f25929;
	text-align: center;
	position: relative;
	padding-top: 120px;
	font-size: 15px;
}*/
.newsletter form {
	position: relative;
	width: 290px;
	margin: 0 auto;
}
.send-icon {
	width: 30px;
	height: 30px;
	float: right;
	background: url(../images/send.png) no-repeat center;
}
.newsletter button {
	background: transparent;
	border: none;
	position: absolute;
	right: 0;
	top: 2px;
}
.site-footer:before {
	bottom: auto;
	left: 0;
	top: 0;
}
.site-footer h6 {
	color: #fff;
	margin-bottom: 17px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}
.site-footer .newsletter input[type="text"] {
	width: 100%;
	background: #fff;
	border-radius: 30px;
	height: 37px;
	padding: 5px 35px 5px 15px;
	border: none;
	color: #000;
}
.newsletter {
	margin: 25px 0;
}
.footer-content {
	width: 100%;
	float: left;
	background: url(../images/city.png) left bottom repeat-x;
}
.copyright {
	width: 100%;
	float: left;
	color: #fff;
	padding: 18px 0;
	background: #dd3b08;
	font-size: 14px;
}
.copyright p {
	margin-bottom: 0;
}
.social-media li {
	list-style: none;
	display: inline-block;
	margin: 5px;
}
.social-media {
	display: block;
	margin: 17px 0 33px;
}
.social-media a {
	display: block;
	width: 34px;
	height: 34px;
	background: #f25929;
	border-radius: 100%;
	text-align: center;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	transition: background 300ms;
}
.social-media a:hover {
	background: #d8491c;
}
/*=============================
## Specer
===============================*/
.s-pd1 {
	padding: 25px 0 85px;
}
.s-pd2 {
	padding: 25px 0 130px;
}
.s-pd3 {
	padding: 25px 0 110px;
}
.s-pd4 {
	padding: 100px 0 60px;
}
.s-pd145 {
	padding: 145px 0;
}
.s-pd125 {
	padding: 125px 0;
}
.s-pd100 {
	padding: 100px 0;
}
.s-pd80 {
	padding: 80px 0;
}
.s-pd60 {
	padding: 60px 0;
}
/*============ # Forms ==============*/
/*=============================
##Fields
===============================*/
.register-page-bottom{
	background: #fff;
	padding-bottom: 20px;
	    position: relative;
}
.register-page-bottom:after{
    	content: "";
	width: 100%;
	height: 62px;
	float: left;
	background: url(../images/waveshow-2.png) bottom repeat-x;
	margin-top: 0;
	position: absolute;;
    bottom: -62px;
    left: 0;
    right: 0;
    z-index: 1;
}
.form-control {
	background-color: transparent;
	border: 0 solid;
	border-radius: 0;
	color: #fff;
}
.form-control:focus {
	background-color: transparent;
	border-color: transparent;
	box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
}
select.form-control {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}
.form-select {
	position: relative;
}
.form-select:before {
	color: #000;
	content: "";
	font-family: fontawesome;
	font-size: 18px;
	position: absolute;
	right: 17px;
	top: 14px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.form-select:hover:before {
	color: #ff7f45;
}
option {
	font-weight: normal;
	display: block;
	white-space: pre;
	min-height: 1.2em;
	padding: 0px 2px 1px;
}
/*=============================
##Buttons
===============================*/
button:focus {
	outline: 0px dotted;
}
.group-btn {
	margin-top: 50px;
}
.group-btn > .btn-default {
	margin: 8px;
}
.btn {
	-webkit-transition: ease-out 0.3s;
	transition: ease-out 0.3s;
}
.btn-default {
	background-color: transparent;
	border: 1px solid #e1e1e1;
	border-radius: 30px;
	font-size: 12px;
	padding: 10px 35px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}
.btn-primary {
	background-color: #f96753;
	border-color: #f96753;
}
.btn:focus {
	box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.5);
}
.btn-default:hover {
	background-color: #f96753;
	border-color: #f96753;
	color: #ffffff;
}
.btn-primary:hover {
	background-color: #fff;
	color: #1b3e68;
}
.register-contact-nav > .login {
	float: left;
	margin-right: 25px;
	margin-top: 9px;
}
.register-contact-nav > .login > a:last-child:before {
	content: "/";
	padding: 0 5px 0 1px;
	color: #6a6c6d;
}
.register-contact-nav > a.btn-default {
	border-color: #1b3e68;
	color: #1b3e68;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 12px 40px;
}
.register-contact-nav > a.btn-default:hover {
	color: #fff !important;
}
ul.dropdown-content > .dropdown-trigger {
	position: relative;
}
ul.dropdown-content > .dropdown-trigger > a {
	position: relative;
}
ul.dropdown-content > .dropdown-trigger > a:after {
	content: "\f105";
	font-family: fontAwesome;
	position: absolute;
	right: 20px;
	top: 8px;
	font-size: 16px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
ul.dropdown-content > .dropdown-trigger ul.dropdown-content {
	border-top: 0 none;
	left: 100% !important;
	top: 0;
	visibility: hidden;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	position: absolute;
	width: 200px;
	z-index: 999;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
	-webkit-transform-origin: 0 0 0;
	transform-origin: 0 0 0;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}
ul.dropdown-content > .dropdown-trigger:hover > a:after {
	right: 15px;
}
ul.dropdown-content > .dropdown-trigger:hover > ul.dropdown-content {
	visibility: visible;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transform: scale(1);
	transform: scale(1);
}
ul.dropdown-content > .dropdown-trigger:hover > ul.dropdown-content > li:last-child {
	border-bottom: 0px solid #e5e5e5;
}
ul.dropdown-content > .dropdown-trigger:hover > ul.dropdown-content > li:hover > a {
	color: #ff7f45;
	padding-left: 20px;
}
.mean-container a.meanmenu-reveal {
	padding: 20px 0 10px;
	right: 15px !important;
}
.bg-image {
	background-image: url(images/welcome-bg.jpg);
	background-position: 100% 100%;

}

@keyframes animatedBackground {
 from {
background-position: 0 0;
}
to {
	background-position: 100% 0;
}
}

/*=============================
# Home Welcome Section
===============================*/
.welcome-text {
    height: 380px;
}
.welcome-text h1 {
	font-size: 48px;
	font-weight: 600;
    margin: 90px 0 10px 0;
	color: #292526;
	text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.1);
}
.welcome-text p {
	font-size: 16px;
	margin-bottom: 45px;
}
.home-header-one {
	padding-bottom: 80px;
}
.home-header-two.before-bg:before {
	background-color: rgba(0,0,0,0.65);
}
.home-header-two h1, .home-header-two p {
	color: #ffffff;
}
.login-form-area .form-control {
	border: 1px solid #ddd;
	color: #6a6c6d;
	font-size: 14px;
 padding: .375rem .75rem .375rem 1.7rem;
	background: #fff;
}
.login-form-area .form-control:focus {
	border: 1px solid #000;
}
.login-form-area a:hover {
	color: #f96753;
}
.login-form-forgot-password {
	display: block;
	text-align: center;
}
.login-form-area form > p {
	margin-bottom: 25px;
	position: relative;
}
.login-form-area form > p i.fa {
	position: absolute;
	top: 36%;
	left: 15px;
	color: #224b7c;
}
.login-form-area .btn-primary {
	border-radius: 0;
	margin-top: 0;
	width: 100%;
	cursor: pointer;
}
.login-form-remember input {
	margin-right: 7px;
}
.login-form-register-now {
	border-top: 1px solid #ddd;
	margin-top: 25px;
	padding-top: 30px;
	text-align: center;
}
.login-form-register-now a {
	color: #f96753;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 13px;
}
.login-form-area h2 {
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
.reg-form [type="date"] {
	background: #fff url(../images/calendar_2.png) 95% 50% no-repeat;
}
.reg-form [type="date"]::-webkit-inner-spin-button {
 display: none;
}
.reg-form [type="date"]::-webkit-calendar-picker-indicator {
 opacity: 0;
}
/* custom styles */
.reg-form label {
	display: block;
}
.reg-form input.datepick {
	border: 1px solid #c4c4c4;
	background-color: #fff;
	padding: 3px 5px;
	width: 45%;
	float: left;
	text-indent: 10px;
}
.reg-form input.numberinpt {
	float: left;
	width: 100%;
}
.section-heading {
	font-size: 30px;
	font-weight: 600;
	margin: 0 0 45px;
	position: relative;
	color: #292526;
	text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.1);
}
.section-heading:before {
	background-color: #292526;
	border-radius: 5px;
	bottom: -24px;
	content: "";
	height: 3px;
	left: 50%;
	margin-left: -30px;
	position: absolute;
	width: 60px;
}
.register-form-area .btn-primary {
	margin-top: 0px;
}
.register-form-area .login-form-register-now {
	margin-top: 35px;
}
.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}
.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 16px;
	color: #fff;
	width: 220px;
	height: 34px;
}
.select-styled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid #ddd;
	color: #6a6c6d;
	font-size: 14px;
	padding: 5px 10px;
	background: #fff;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.select-styled:after {
	content: "";
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-color: #f96753 transparent transparent transparent;
	position: absolute;
	top: 12px;
	right: 10px;
}
.select-styled:hover {
	background-color: #fff;
}
.select-styled:active, .select-styled.active {
	background-color: #fff;
}
.select-styled:active:after, .select-styled.active:after {
	top: 9px;
	border-color: transparent transparent #f96753 transparent;
}
.select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #f96753;
}
.select-options li {
	margin: 0;
	padding: 5px 0;
	text-indent: 15px;
	border-top: 1px solid #962d22;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}
.select-options li:hover {
	color: #c0392b;
	background: #fff;
}
.select-options li[rel="hide"] {
	display: none;
}

/*register-02 start*/
.register-02 h2.section-heading {
	text-align: center;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin-bottom: 60px;
}
.register-02 .btn-primary {
	border-radius: 0;
	margin-top: 20px;
	width: 50%;
	cursor: pointer;
	margin: 40px auto 0 auto;
	display: table;
}
.register-02 label.reglab {
	font-size: 16px;
	font-weight: 600;
	color: #292526;
}
.register-02 .radio {
	margin: 5px 10px 0 10px;
	float: left;
}
.register-02 .radio input[type="radio"] {
	position: absolute;
	opacity: 0;
}
.register-02 .radio input[type="radio"] + .radio-label:before {
	content: '';
	background: #fff;
	border-radius: 100%;
	border: 1px solid #b4b4b4;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	top: -0.2em;
	margin-right: 1em;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}
.register-02 .radio input[type="radio"]:checked + .radio-label:before {
	background-color: #f96753;
	box-shadow: inset 0 0 0 4px #fff;
}
.register-02 .radio input[type="radio"]:focus + .radio-label:before {
	outline: none;
	border-color: #f96753;
}
.register-02 .radio input[type="radio"] + .radio-label:empty:before {
	margin-right: 0;
}
.register-02 .txtarea {
	min-height: 80px;
	resize: none;
}
.register-02 .select {
	width: 100%;
}
.register-02 .login-form-area .form-control {
	padding: .375rem .75rem .375rem 1.5rem;
}
.register-02 .file-upload {
	display: block;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}
.register-02 .file-upload .file-select {
	display: block;
	border: 2px solid #dce4ec;
	color: #34495e;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
	text-align: left;
	background: #FFFFFF;
	overflow: hidden;
	position: relative;
}
.register-02 .file-upload .file-select .file-select-button {
	background: #dce4ec;
	padding: 0 10px;
	display: inline-block;
	height: 50px;
	line-height: 50px;
}
.register-02 .file-upload .file-select .file-select-name {
	line-height: 50px;
	display: inline-block;
	padding: 0 10px;
}
.register-02 .file-upload .file-select:hover {
	border-color: #34495e;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.register-02 .file-upload .file-select:hover .file-select-button {
	background: #34495e;
	color: #FFFFFF;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.register-02 .file-upload.active .file-select {
	border-color: #f96753;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.register-02 .file-upload.active .file-select .file-select-button {
	background: #f96753;
	color: #FFFFFF;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.register-02 .file-upload .file-select input[type=file] {
	z-index: 100;
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.register-02 .file-upload .file-select.file-select-disabled {
	opacity: 0.65;
}
.register-02 .file-upload .file-select.file-select-disabled:hover {
	cursor: default;
	display: block;
	border: 2px solid #dce4ec;
	color: #34495e;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
	text-align: left;
	background: #FFFFFF;
	overflow: hidden;
	position: relative;
}
.register-02 .file-upload .file-select.file-select-disabled:hover .file-select-button {
	background: #dce4ec;
	color: #666666;
	padding: 0 10px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.register-02 .file-upload .file-select.file-select-disabled:hover .file-select-name {
	line-height: 40px;
	display: inline-block;
	padding: 0 10px;
}
.register-02 p.filfloat {
	float: left;
}
.register-02 .styled-checkbox {
	opacity: 0;
}
.register-02 .styled-checkbox + label {
	position: relative;
	cursor: pointer;
	padding: 0;
	margin-left: 1rem;
}
.register-02 .styled-checkbox + label:before {
	content: '';
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 1px solid #f96753;
}
.register-02 .styled-checkbox:hover + label:before {
	background: #f35429;
}
.register-02 .styled-checkbox:checked + label:before {
	background: #f35429;
}
.register-02 .styled-checkbox:checked + label:after {
	content: '';
	position: absolute;
	left: 5px;
	top: 9px;
	background: white;
	width: 2px;
	height: 2px;
	box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.register-02 .form-group input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}
/*register-02 end*/
/*=============================
# Responsive Css
===============================*/

@media only screen and (max-width: 999px) {
.login-form-area h2 {
	padding-top: 30px;
}
.select {
	width: 49.6%;
}
.thumb-next {
    left: auto;
    right: 0px;
}
.thumb-prev {
    left: 0px;
}
.single-serviecs-block h3 {
    font-size: 22px;
}
.single-serviecs-block {
    padding: 30px 25px;
}
.events p {
    font-size: 14px;
}
.site-section h2 {
    font-size: 40px;
}
.events .folder-link {
    margin-bottom: 20px;
    overflow: hidden;
}
.events .folder-link a {
    padding: 10px;
}
}
@media only screen and (max-width: 767px) {
#mainMenu {
	position: absolute;
	top: 37px;
	right: 0;
	background: #fff;
	width: 133px;
	padding: 15px;
	border-radius: 20px;
}
.search-bar {
	display: none;
}
.main-menu .navbar ul li .nav-link {
	color: #252525;
	padding: 3px 0;
	font-size: 14px;
}
.navbar {
	padding: 0;
}
.main-menu {
	margin-top: 15px;
}
.logo-holder img {
	max-width: 85px;
}
.section-one,  .section-two,  .section-three {
	text-align: center;
}
.slider-holder:before,  .slider-holder:after {
	display: none;
}
.slider-holder h4 {
	margin-top: 10px;
}
.site-banner p {
	width: 100%;
}
.login-form-area h2 {
	padding-top: 30px;
}
.select {

	margin-bottom: 15px;
}
.site-banner {
	margin-bottom: 0;
}
.course-slider .popup-gallery a img {
    margin-bottom: 30px;
}
ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu__list--active,
  div.menu__brand--active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .menu__list {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu__brand .logo {
    width: 90px;
    height: 90px;
  }
  .welcome-text h1 {
    margin: 100px 0 10px 1rem;
}
.welcome-text {
    height: 300px;
}
.s-pd100 {
    padding: 250px 0 50px 0;
}
.welcome-text p {
    margin-bottom: 10px;
}
.demo-gallery > ul > li {
    width: auto;
}
}
