@charset "utf-8";
/* CSS Document */
.banner {
	margin: 10rem 8rem 4rem 8rem;
}
.banner .item {
	height: 100vh;
	position: relative;
}
.banner.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.banner .item .cover {
	padding: 75px 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
}
.banner .item .cover .header-content {
	position: relative;
	padding: 56px;
	overflow: hidden;
}
.banner .item .cover .header-content .line {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	border: 9px solid #fff;
	-webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
	clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
.banner .item .cover .header-content h2 {
	font-weight: 300;
	font-size: 35px;
	color: #fff;
}
.banner .item .cover .header-content h1 {
	font-size: 56px;
	font-weight: 600;
	margin: 5px 0 20px;
	word-spacing: 3px;
	color: #fff;
}
.banner .item .cover .header-content h4 {
	font-size: 24px;
	font-weight: 300;
	line-height: 36px;
	color: #fff;
}
.banner .owl-item.active h1 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInDown;
	animation-delay: 0.3s;
}
.banner .owl-item.active h2 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInDown;
	animation-delay: 0.3s;
}
.banner .owl-item.active h4 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInUp;
	animation-delay: 0.3s;
}
.banner .owl-item.active .line {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInLeft;
	animation-delay: 0.3s;
}
.banner .owl-nav .owl-prev {
	position: absolute;
	left: 15px;
	top: 43%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	background: rgba(0, 0, 0, 0.5) !important;
	width: 40px;
	cursor: pointer;
	height: 40px;
	position: absolute;
	display: block;
	z-index: 1000;
	border-radius: 0;
}
.banner .owl-nav .owl-prev span {
	font-size: 1.6875rem;
	color: #fff;
}
.banner.owl-nav .owl-prev:focus {
	outline: 0;
}
.banner .owl-nav .owl-prev:hover {
	background: #000 !important;
}
.banner .owl-nav .owl-next {
	position: absolute;
	right: 15px;
	top: 43%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	background: rgba(0, 0, 0, 0.5) !important;
	width: 40px;
	cursor: pointer;
	height: 40px;
	position: absolute;
	display: block;
	z-index: 1000;
	border-radius: 0;
}
.banner .owl-nav .owl-next span {
	font-size: 1.6875rem;
	color: #fff;
}
.banner .owl-nav .owl-next:focus {
	outline: 0;
}
.banner .owl-nav .owl-next:hover {
	background: #000 !important;
}
.banner:hover .owl-prev {
	left: 0px;
	opacity: 1;
}
.banner:hover .owl-next {
	right: 0px;
	opacity: 1;
}
.banner .owl-carousel {
	border-radius: 7px;
	overflow: hidden;
}
.pl-service {
	padding: 0;
}
.section_title {
	margin-bottom: 40px;
}
.section_title h2 {
	color: #333333;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 1.8px;
	text-transform: uppercase;
}
.section_title .brand_border .fa.fa-minus {
	color: #fff;
	font-size: 8px;
	height: 2px;
	background: #eb6032 none repeat scroll 0 0;
	width: 100px;
}
.section_title .brand_border .fas.fa-handshake {
	font-size: 14px;
	color: #000000;
}
.section_title p {
	color: #333333;
	font-size: 14px;
	line-height: 25px;
	padding: 14px 0;
}
.pl-service .single_service {
	padding: 50px 30px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	border-radius: 5px;
	margin: 10px 10px 50px 10px;
	transition: all .5s;
	cursor: pointer;
}
.pl-service .single_service:hover {
}
.pl-service .icon {
	border: 1px solid #666;
	border-radius: 5%;
	color: #333333;
	font-size: 35px;
	line-height: 65px;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	width: 70px;
	transition: all .5s;
}
.pl-service .single_service .single_service-left {
	padding-right: 25px;
}
.pl-service .single_service-heading {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	transition: all .5s;
}
.pl-service .single_service-body p {
	font-size: 13px;
	line-height: 25px;
	transition: all .5s;
}
.pl-service .single_service-left {
	display: table-cell;
	vertical-align: top;
}
.pl-service .single_service-body {
	color: #333333;
	display: table-cell;
	vertical-align: top;
}
.pl-service .hvr-curl-top-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
a.read-more {
	background: #eb6032;
	padding: 10px 30px;
	font-size: 14px;
	color: #fff;
	display: inline-block !important;
	margin: 15px 0 0 0;
	border-radius: 5px;
	border: 1px solid #eb6032;
	transition: all .5s;
}
a.read-more:hover {
	background: #fff;
	border: 1px solid #eb6032;
	color: #eb6032;
	letter-spacing: 1px;
}
.pl-service .single_service:hover {
	background: #eb6032 none repeat scroll 0 0;
}
.pl-service .single_service:hover .icon {
	color: #fff;
	border: 1px solid #fff;
}
.pl-service .single_service:hover .single_service-heading {
	color: #fff;
}
.pl-service .single_service:hover .single_service-body p {
	color: #fff;
}
.pl-service .single_service:hover .single_service-body a.read-more {
	background: #fff;
	border: 1px solid #eb6032;
	color: #eb6032;
}
.pl-service .owl-theme .owl-nav, .pl-service .owl-theme .owl-dots {
	display: none;
}
.abt-sect {
	margin: 2rem 0;
	padding: 4rem 0 2rem 0;
	background: #e9eaec;
}
.abt-sect .owl-theme .owl-nav {
	display: none;
}
.abt-sect .owl-theme .owl-dots {
	margin: 1rem 0;
}
.abt-sect .owl-theme .owl-dots .owl-dot span {
	width: 15px;
	height: 15px;
	margin: 5px 7px;
	background: #eb6032;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px;
	border: none;
}
.abt-sect .owl-theme .owl-dots .owl-dot.active span, .abt-sect .owl-theme .owl-dots .owl-dot:hover span {
	background: #eb6032;
	-webkit-box-shadow: 0px 0px 0px 2px rgba(45,26,255,1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(45,26,255,1);
	box-shadow: 0px 0px 0px 2px #eb6032;
	border: 4px solid #fff;
}
.abt-sect .title-head {
	padding: 0 0 0 0;
}
.abt-sect .title-head span.titspan {
	font-weight: 400;
	text-align: center;
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
	display: block;
}
.abt-sect .title-head h1 {
	font-weight: 600;
	text-align: center;
	font-size: 34px;
	color: #434343;
	padding-bottom: 0;
	margin-top: 5px;
	line-height: 30px;
}
.abt-sect h6 {
	font-size: 20px;
	color: #434343;
	font-weight: 600;
}
.abt-sect p {
	font-size: 14px;
	color: #000;
	line-height: 22px;
	padding-top: 20px;
}
.about-sect {
	padding: 2rem 0 3rem 0;
}
.about-sect P {
		font-size: 14px;
	color: #000;
	line-height: 22px;
	padding-bottom: 20px;
}
.dict-cnt {
	padding: 2rem 0;
	background: #fff;
	margin: 3rem 0 3rem 0;
}
.dict-cnt .quick-cnt {
	border: 1px solid #e9eaec;
	border-radius: 5px;
	padding: 4rem 2rem;
	background: #f5f6f8;
}
.dict-cnt .quick-cnt h3 {
	font-size: 32px;
	line-height: 42px;
	color: #3b4550;
	font-weight: 500;
	text-align: center;
}
a.quick-cnt-link {
	padding: 10px 20px;
	font-size: 18px;
	letter-spacing: 0;
	background: #eb6032;
	border: 1px solid #eb6032;
	color: #fff;
	border-radius: 30px;
	transition: all .5s;
}
a.quick-cnt-link:hover {
	background: #292526;
	border: 1px solid #292526;
	letter-spacing: 1px;
}
.testimonials-sect {
	background: #f5f6f8;
	margin: 2rem 0;
	padding: 5rem 0 3rem 0;
}
.customer-feedback .owl-item img {
	width: 85px;
	height: 85px;
}
.feedback-slider-item {
	position: relative;
	padding: 60px;
	margin-top: -40px;
}
.customer-name {
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 20px;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
}
.feedback-slider-item p {
	line-height: 1.875;
	font-size: 15px;
	text-align: center;
}
.customer-rating {
	background-color: #eee;
	border: 3px solid #fff;
	color: rgba(1, 1, 1, 0.702);
	font-weight: 700;
	border-radius: 50%;
	position: absolute;
	width: 47px;
	height: 47px;
	line-height: 44px;
	font-size: 15px;
	right: 0;
	top: 77px;
	text-indent: 10px;
}
.thumb-prev .customer-rating {
	top: -20px;
	left: 0;
	right: auto;
}
.thumb-next .customer-rating {
	top: -20px;
	right: 0;
}
.customer-rating i {
	color: #eb6032;
	;
	position: absolute;
	top: 10px;
	right: 5px;
	font-weight: 600;
	font-size: 12px;
}
.feedback-slider-item:after {
	content: '';
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 0;
	top: 103px;
	background-color: #fff;
	border: 1px solid #eb6032;
	border-radius: 10px;
	z-index: -1;
}
.thumb-prev, .thumb-next {
	position: absolute;
	z-index: 99;
	top: 45%;
	width: 98px;
	height: 98px;
	left: -90px;
	cursor: pointer;
	transition: all .3s;
}
.thumb-next {
	left: auto;
	right: -90px;
}
.feedback-slider-thumb img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}
.feedback-slider-thumb:hover {
	opacity: .8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.customer-feedback .owl-nav [class*="owl-"] {
	position: relative;
	display: inline-block;
	bottom: 45px;
	transition: all .2s ease-in;
}
.customer-feedback .owl-nav i {
	background-color: transparent;
	color: rgb(251, 90, 13);
	font-size: 25px;
}
.customer-feedback .owl-prev {
	left: -15px;
}
.customer-feedback .owl-prev:hover {
	left: -20px;
}
.customer-feedback .owl-next {
	right: -15px;
}
.customer-feedback .owl-next:hover {
	right: -20px;
}
.customer-feedback .owl-dots {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 35px;
}
.customer-feedback .owl-dot {
	display: inline-block;
}
.customer-feedback .owl-dots .owl-dot span {
	width: 11px;
	height: 11px;
	margin: 0 5px;
	background: #fff;
	border: 1px solid rgb(251, 90, 13);
	display: block;
	-webkit-backface-visibility: visible;
	transition: all 200ms ease;
	border-radius: 50%;
}
.customer-feedback .owl-dots .owl-dot.active span {
	background-color: rgb(251, 90, 13);
}
.contact-sect .cnt-form .cnt-inpt {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e9eaec;
    margin: 0 0 25px 0;
    background: #f5f6f8;
    outline: 0;
    width: 100%;
    font-size: 14px;
    padding: 9px 15px;
    color: #333;
    line-height: 24px;
}
.contact-sect .cnt-form .cnt-inpt::placeholder { 
  color: #333;
  opacity: 1; 
}

.contact-sect .cnt-form .cnt-inpt:-ms-input-placeholder { 
  color: #333;
}

.contact-sect .cnt-form .cnt-inpt::-ms-input-placeholder { 
  color: #333;
}
.contact-sect .cnt-form .cnt-area {
	min-height: 120px;
	resize: none;
} 
.contact-sect .cnt-form .cnt-btn {
	    padding: 10px 30px;
    font-size: 18px;
    letter-spacing: 1px;
    background: #eb6032;
    border: 1px solid #eb6032;
    color: #fff;
    border-radius: 30px;
    transition: all .5s;
	width: 180px;
}
.contact-sect .cnt-form .cnt-btn:hover {
	background: #333;
	color: #eb6032;
	border: 1px solid #333;
}
.contact-sect h4 {
	font-size: 16px;
	font-weight: 600;
	color: #333;
	padding-bottom: 20px;
}
.contact-sect h4.padd-chng {
	padding-top: 20px;
}
.contact-sect p {
	font-size: 14px;
	color: #333;
	padding-bottom: 15px;
}
.contact-sect p .fa {
	margin-right: 15px;
}
.contact-sect p a {
	font-size: 14px;
	color: #333;
	transition: all .5s;
}
.contact-sect p a:hover {
	color: #eb6032;
}
.contact-sect h6 {
		font-size: 14px;
	color: #333;
	padding-bottom: 10px;
}
.contact-sect ul.cnt-social {
	margin-top: 20px;
}
.contact-sect ul.cnt-social li {
	float: left;
}
.contact-sect ul.cnt-social li a {
	color: #eb6032;
    background: #333;
    width: 40px;
    height: 40px;
    line-height: 25px;
    margin: 0 20px 0 0;
    text-align: center;
    border-radius: 50%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
	transition: all .5s;
}
.contact-sect ul.cnt-social li a:hover {
	background: #eb6032;
	color: #333;
}
.contact-sect {
	margin-bottom: 5rem;
}
.service-sect {
	background: #f5f6f8;
	padding: 3rem 0;
	margin: 2rem 0 0 0;
}
.service-sect h3 {
	color: #0a0808;
	    line-height: 50px;
    margin: 80px 0 30px 0;
	font-size: 40px;
	font-weight: 600;
}
.service-sect h3 span.chng {
	    color: #f15829;
    font-weight: 600;
}

.service-sect p {
	color: #0a0808;
	font-size: 18px;
	line-height: 28px;
}
.service-sect .marg-btm {
	margin-bottom: 3rem;
}


.our-team-section {
	padding: 4rem 0;
}

.our-team-section:before {
    position: absolute;
    top: -0;
    left: 0;
    content: " ";
    background: url(img/service-section-bottom.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}
.our-team {
    padding: 30px 0 40px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #eb6032;
	cursor: pointer;
	border-radius: 5px;
}
.our-team:hover{
        border-bottom: 5px solid #1c1f23;

}

.our-team .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
.our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #eb6032;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{
 height: 100%;
    background: #1c1f23; 
 }
.our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after{
background: #eb6032;
}
.our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    position: relative;
    z-index: 2;
}
.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.our-team .team-content{ margin-bottom: 30px; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    color: #1c1f23;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #1c1f23;
    text-transform:capitalize;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #1c1f23;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social{ bottom: 0; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
    color: #2f2f2f;
    background: #f7f5ec;
}






.testimonials-sect .owl-carousel .owl-item img {
	width: auto;
}
.testimonials-sect .owl-nav {
	margin: 1rem auto;
	display: table;
}
.testimonials-sect .owl-carousel .owl-nav button.owl-next, .testimonials-sect .owl-carousel .owl-nav button.owl-prev {
	margin: 0 10px;
}
.testimonials-sect .owl-carousel .owl-nav button.owl-next .fa, .testimonials-sect .owl-carousel .owl-nav button.owl-prev .fa {
	color: #eb6032;
	font-size: 22px;
}
.blog-sect {
	padding: 3rem 0;
}
.blog-sect .blog-set {
}
.blog-sect h4 {
	font-weight: 700;
	color: #666;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 35px;
	padding-bottom: 30px;
}
.blog-sect .blog-set .blo-img img {
	transition: all .5s;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
}
.blog-sect .blog-set .blo-img a {
	border-radius: 7px;
	overflow: hidden;
	display: block;
}
.blog-sect .blog-set h5 {
	font-size: 20px;
	line-height: 20px;
	padding: 10px 0px 0 0;
	margin-top: 0;
}
.blog-sect .blog-set h5 a {
	color: #eb6032;
	font-weight: 600;
}
.blog-sect .blog-set h6 {
	color: #000;
	font-size: 14px;
	padding: 7px 0;
}
.blog-sect .blog-set h6 .blgspa {
	display: inline-block;
	margin: 0 5px 0 20px;
}
.blog-sect .blog-set p {
	-webkit-line-clamp: 3;
	color: #666;
	font-size: 15px;
	line-height: 20px;
}
.blog-sect .blog-set {
	padding: 10px;
	background: #fff;
	border: 1px solid #999;
	border-radius: 7px;
	border-color: transparent;
	transition: all .5s;
	cursor: pointer;
	margin-bottom: 30px;
}
.blog-sect .blog-set:hover {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.blog-sect .blog-set:hover .blo-img img {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
}
.blog-sect ul.ul-best {
}
.blog-sect ul.ul-best p {
	color: #666;
	font-size: 15px;
	line-height: 20px;
	padding-bottom: 20px;
}
.blog-sect ul.ul-best li {
	color: #666;
	font-size: 14px;
	line-height: 25px;
	padding: 7px 0;
}
.blog-sect ul.ul-best li .fa {
	margin-right: 10px;
	color: #eb6032;
}
.clients {
	background-color: #f5f6f8;
	padding: 3rem 0 3rem 0;
}

.post_badges {
    float: left;
    display: inline-block;
    text-align: center;
    color: #505558;
}
.post_badges .post_date {
    display: block;
    font-size: 13px;
    color: #939fa6;
}
.post_badges .post_date {
    width: 73px;
    height: 73px;
    border-radius: 5px;
    background: #eb6032;
    text-align: center;
    margin-bottom: 3px;
}
.post_badges .post_info .post_main_date {

    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    color: #fff;
    display: block;
    padding-top: 14px;
    padding-bottom: 1px;
}
.post_badges .post_info .post_main_month {

    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
}
.post_badges .post_type {
    height: 56px;
    width: 73px;
    border-radius: 5px;
    background: #f5f6f8;
    border: 1px solid #e9eaec;
    text-align: center;
    position: relative;
    margin-right: 0;
}
.post_badges .post_type i {
    font-size: 21px;
    color: #848994;
    position: absolute;
    top: 17px;
    left: 26px;
}
.blogs-sect .blog-mid {
	background: #f5f6f8;
	padding: 20px;
    border-radius: 5px;
    padding-bottom: 3rem;
	margin-bottom: 2rem;
}
.blogs-sect .blog-mid .blog-img a {
	overflow: hidden;
	border-radius: 6px;
	display: block;
}
.blogs-sect .blog-mid h3 {
	color: #000;
	font-size: 20px;
	text-transform: uppercase;
    line-height: 26px;
    font-weight: 600;
    padding: 20px;
	
}
.blogs-sect .blog-mid h3 a {
		color: #000;
	font-size: 20px;
	text-transform: uppercase;
    line-height: 26px;
    font-weight: 600;
	transition: all .5s;
}
.blogs-sect .blog-mid h3 a:hover {
	color: #eb6032;
}
.blogs-sect .blog-mid h4 {
	font-size: 14px;
padding-left: 20px;
}
.blogs-sect .blog-mid h4 span.space {
	margin: 0 8px;
}
.blogs-sect .blog-mid p {
	font-size: 14px;
	line-height: 24px;
	padding: 10px 0 10px 20px;
}
a.blog-btn {
float: left;
    margin-left: 20px;
    background: #eb6032;
    padding: 10px 20px;
    border-radius: 30px;
    color: #000;
    letter-spacing: 1px;
    font-size: 16px;
	margin-top: 30px;
	transition: all .5s;
}
a.blog-btn:hover {
	letter-spacing: 3px;
}
.blogs-sect .blog-mid h6 {
	float: right;
	margin-right: 20px;
	margin-top: 40px
}
.blogs-sect .blog-mid h6 .fa {
	margin-right: 5px;
}
.blog-left .widget {
    margin-bottom: 10px;
}
.blog-left .widget_search form {
    position: relative;
}
.blog-left .widget_search input {
padding: 6px 30px 8px 15px;
    font-size: 14px;
    width: 100%;
    background: #f5f6f8;
    border: 1px solid #e9eaec;
    outline: 0;
    line-height: 22px;
}
.blog-left  .widget .submit {
    color: #939fa6;
}
.blog-left .widget_search .fa {
    color: #c5c9d2;
    position: absolute;
    top: 13px;
    right: 15px;
    font-size: 13px;
    -webkit-transition: all 180ms ease-in;
    transition: all 180ms ease-in;
}
.blog-left .sidebar-widget-heading {
    line-height: 24px;
    position: relative;
    display: block;
    text-align: left;
}
.blog-left .sidebar-widget-heading h3 {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3b4550;
}
.blog-left ul.blog-ul {
	margin: 15px 0;
}
.blog-left ul.blog-ul li {
	padding: 6px 0;
}
.blog-left ul.blog-ul li a {
	    color: #939fa6;
	font-size: 13px;
	line-height: 20px;
	transition: all .5s;
}
.blog-left ul.blog-ul li a .fa {
	margin-left: 8px;
	transition: all .5s;
}
.blog-left ul.blog-ul li a:hover {
	color: #eb6032;
}
.blog-left ul.blog-ul li a:hover .fa {
	margin-left: 11px;
	color: #eb6032;
}
.blog-left .poplr-blog {
	margin: 20px 0;
}
.blog-left .poplr-blog .padd-rght {
	padding-right: 0;
}
.blog-left .poplr-blog a.pop-blglink {
	display: block;
	overflow: hidden;
	border-radius: 6px;
}
.blog-left .poplr-blog h4 {
	text-transform: capitalize;
    font-size: 13px;
    color: #848994;
	padding-bottom: 5px;
}
.blog-left .poplr-blog h4 a {
	text-transform: capitalize;
    font-size: 13px;
    color: #848994;
	transition: all .5s;
}
.blog-left .poplr-blog h4 a:hover {
	color: #eb6032;
}
.blog-left .poplr-blog h5 {
	font-size: 12px;
    color: #848994;
}
.blog-left .poplr-blog h5 .fa {
	margin-right: 5px;
}
.blog-left ul.tag-sect {
    margin: 20px 0;
}
.blog-left ul.tag-sect li {
    float: left;
}
.blog-left ul.tag-sect li a {
    background: #1c1f23;
    border: 1px solid #1c1f23;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 8px 9px 8px 9px;
    font-size: 12px;
    line-height: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    transition: all .5s;
    text-transform: capitalize;
}
.blog-left ul.tag-sect li a:hover {
	    background: #eb6032;
	border: 1px solid #eb6032;
}
.blog-left .flickerul {
	margin: 20px 0;
}
.blog-left .flickerul .padd-rght {
	padding-right: 0;
}
.blog-left .flickerul a {
	display: block;
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 6px;
}
.blog-left .flickerul a img {
	 transition: transform 0.3s ease-in-out;
}
.blog-left .flickerul a:hover img {
	transform: scale(1.2);
}
.footer {
	padding: 80px 0 0 0;
	background: #282C30;
}
.footer h3 {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 25px;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.footer p {
	font-size: 13px;
	color: #848994;
	line-height: 26px;
}
a.ft-link {
	font-size: 13px;
	color: #848994;
	transition: all .5s;
	margin: 20px 0;
}
a.ft-link .fa {
	margin-left: 3px;
	transition: all .5s;
}
a.ft-link:hover {
	color: #eb6032;
}
a.ft-link:hover .fa {
	margin-left: 7px;
}
.footer .ft-blg-set {
	margin-bottom: 25px;
	overflow: hidden;
	transition: all .5s;
}
.footer .ft-blg-set .ft-blgimg a {
	display: block;
}
.footer .ft-blg-set .padd-rght {
	padding-right: 0;
}
.footer .ft-blg-set .ft-blgimg img {
	overflow: hidden;
	border-radius: 7px;
}
.footer .ft-blg-set h5 {
	font-size: 14px;
	color: #848994;
	transition: all .5s;
}
.footer .ft-blg-set h5 a {
	color: #848994;
	text-transform: capitalize;
	font-size: 15px;
	line-height: 20px;
	padding-bottom: 5px;
	transition: all .5s;
}
.footer .ft-blg-set h6 {
	text-transform: capitalize;
	font-size: 12px;
	color: #6b7078;
}
.footer .ft-blg-set h6 .fa {
	margin: 0 2px 0 0;
}
.footer .ft-blg-set:hover h5 a {
	color: #eb6032;
}
.footer .ft-blg-set h6 span.blgspa {
	margin-left: 5px;
}
.footer ul.tag-sect {
	margin-bottom: 20px;
}
.footer ul.tag-sect li {
	float: left;
}
.footer ul.tag-sect li a {
	background: #1c1f23;
	border: 1px solid #1c1f23;
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 8px 9px 8px 9px;
	font-size: 12px;
	line-height: 13px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	transition: all .5s;
	text-transform: capitalize;
}
.footer ul.tag-sect li a:hover {
	background: #eb6032;
	border: 1px solid #eb6032;
}
.footer ul.quck-links {
}
.footer ul.quck-links li a {
	color: #9fa4af;
	font-size: 15px;
	line-height: 30px;
	transition: all .5s;
}
.footer ul.quck-links li a:hover {
	color: #eb6032;
}
.footer .adres-ft {
	color: #fff;
	margin-bottom: 30px;
}
.footer .adres-ft p {
	font-size: 14px;
	line-height: 30px;
	color: #848994;
}
.footer .adres-ft p .fa {
	margin-right: 8px;
	font-size: 18px;
}
.footer .adres-ft p a {
	color: #848994;
}
.footer .buis-hres p {
	font-size: 14px;
	line-height: 30px;
	color: #848994;
}
.footer .adres-ft p a:hover {
	color: #eb6032;
}
.footer .botm-fot {
	background: #0f151a;
	color: #9fa4af;
	font-size: 13px;
	line-height: 30px;
	padding: 20px 0;
	margin-top: 80px;
}
.footer .botm-fot p {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 1px;
}
.footer ul.social-fot {
	margin-top: 20px;
}
.footer ul.social-fot li {
	float: left;
	margin-right: 10px;
}
.footer ul.social-fot li a {
	background: #1c1f23;
	font-size: 18px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	color: #9fa4af;
	transition: all .5s;
}
.footer ul.social-fot li a:hover {
	color: #292526;
	background: #eb6032;
}
.cmn-banners {
	margin: 5rem 0 4rem 0;
	padding: 4rem 0 3rem 0;
    background: #e9eaec;
}
.cmn-banners h1 {
	font-size: 38px;
	font-weight: 600;
	    letter-spacing: 1px;
}
.cmn-banners ul {
	    float: right;
}
.cmn-banners ul li {
	float: left;
	margin:0 5px;
}
.cmn-banners ul li a {
    color: #000;
    font-size: 16px;
    padding: 13px 0;
    display: block;
}
.cmn-banners ul li a.active {
	color: #eb6032;
}




/*.main-bg::after {
	background-color: #fef5e4;
	-webkit-border-radius: 0 0 233px 135px;
	-moz-border-radius: 0 0 233px 135px;
	border-radius: 0 0 233px 135px;
	content: "";
	position: absolute;
	right: -119px;
	top: -93px;
	background-color: #fef5e4;
	width: 466px;
	height: 595px;
	-webkit-transform: rotate(45deg);
	transform: rotate(116deg);
	z-index: -2;
}*/
.box-conatiner {
	contain: content;
    margin: 10rem auto 5rem auto;
	background-color: #eb6032;
	border-radius: 0 70px;
	box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
.box-conatiner::before {
	content: "";
	background: url(../images/login-bg.png) no-repeat;
	position: absolute;
	right: 0;
	background-size: 100%;
	top: -100px;
	width: 1220px;
	height: 653px;
}
/***************************/
.box-conatiner #a {
	-webkit-animation: wait 0s alternate infinite;
	animation: wait 0s alternate infinite;
}
.circle-ripple {
	background-color: transparent;
	width: 1px;
	height: 1px;
	border-radius: 50%;
	-webkit-animation: ripple 0.7s linear infinite;
	animation: ripple 0.7s linear infinite;
	left: 60px;
	position: absolute;
	top: 44px;
}
 @-webkit-keyframes wait {
 0% {
 opacity: 0;
}
 20% {
 opacity: 0;
}
 40% {
 opacity: 0;
}
 60% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
 @keyframes wait {
 0% {
 opacity: 0;
}
 20% {
 opacity: 0;
}
 40% {
 opacity: 0;
}
 60% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
@-webkit-keyframes ripple {
 0% {
 box-shadow: 0 0 0 0 rgba(175, 166, 255, 0.3), 0 0 0 1em rgba(175, 166, 255, 0.3), 0 0 0 3em rgba(175, 166, 255, 0.3), 0 0 0 5em rgba(175, 166, 255, 0.3);
}
 100% {
 box-shadow: 0 0 0 1em rgba(175, 166, 255, 0.3), 0 0 0 3em rgba(175, 166, 255, 0.3), 0 0 0 5em rgba(175, 166, 255, 0.3), 0 0 0 8em rgba(175, 166, 255, 0);
}
}
@keyframes ripple {
 0% {
 box-shadow: 0 0 0 0 rgba(175, 166, 255, 0.3), 0 0 0 1em rgba(175, 166, 255, 0.3), 0 0 0 3em rgba(175, 166, 255, 0.3), 0 0 0 5em rgba(175, 166, 255, 0.3);
}
 100% {
 box-shadow: 0 0 0 1em rgba(175, 166, 255, 0.3), 0 0 0 3em rgba(175, 166, 255, 0.3), 0 0 0 5em rgba(175, 166, 255, 0.3), 0 0 0 8em rgba(175, 166, 255, 0);
}
}
.txt1 {

	font-size: 15px;
	color: #999;
	line-height: 1.4
}
.txt2 {
	font-size: 12px;
	    color: #eb6032;
	line-height: 1.4
}
.txt3 {
	font-size: 13px;
	color: #eb6032;
	line-height: 1.4;
	text-transform: uppercase
}
.limiter {
	width: 100%;
	margin: 0 auto
}
.container-login100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	position: relative;
	background-color: #fff
}
.wrap-login100 {
	width: 70%;
	background: #fff;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
	height: 451px;
	border: 1px solid #dedede;
	margin: 30px auto;
}
.login100-form {
	width: 100%;
	position: relative
}
.login100-form-title {
	font-size: 30px;
	color: #fff;
	line-height: 1.2;
	text-align: center;
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #eb6032;
	padding-top: 50px;
	padding-bottom: 39px;
		text-transform: uppercase;
    font-weight: 600;
}
.wrap-input100 {
	width: 100%;
	background-color: #fff;
	border-radius: 27px;
	position: relative;
	z-index: 1
}
.input100 {
	font-size: 15px;
	color: #1b3815;
	line-height: 1.2;
	position: relative;
	display: block;
	width: 100%;
	height: 55px;
	background: #ebebeb;
	border-radius: 27px;
	padding: 0 35px
}
.focus-input100 {
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 31px;
	background-color: #ebebeb;
	pointer-events: none;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s
}
.p-r-55 {
	padding-right: 55px;
}
.p-l-55 {
	padding-left: 55px;
}
.p-t-178 {
	padding-top: 178px;
}
.m-b-16 {
	margin-bottom: 16px;
}
.p-t-20 {
	padding-top: 20px;
}
.txt1 {
	font-family: Ubuntu-Regular;
	font-size: 15px;
	color: #999;
	line-height: 1.4;
}
.p-b-9 {
	padding-bottom: 9px;
}
.flex-col-c {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.p-b-40 {
	padding-bottom: 20px;
}
.p-t-140 {
	padding-top: 10px;
}
.login100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 50px;
	background-color: #eb6032;
	border-radius: 25px;
	font-size: 15px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}
.text-right {
	text-align: right!important;
}
.p-t-13 {
	padding-top: 13px;
}
.p-b-23 {
	padding-bottom: 23px;
}
.heading-left {
    color: #fff;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    line-height: 53px;
    margin: 150px auto;
    letter-spacing: 3px;
    font-size: 44px;
    font-weight: 600;

}




@media (max-width: 999px) {
.our-team{ 
	margin-bottom: 30px;
}
.banner {
	margin: 8rem 2rem 4rem 2rem;
}
}

@media (max-width: 767px) {
.banner {
	margin: 10rem 1rem 4rem 1rem;
}
.banner .item .cover .header-content h1 {
	font-size: 36px;
	margin: 5px 0 15px;
}
.banner .item .cover .header-content h2 {
	font-size: 23px;
}
.banner .item .cover .header-content {
	padding: 55px 30px;
}
.banner .item .cover .header-content h4 {
	font-size: 22px;
	line-height: 30px;
}
a.quick-cnt-link {
	transition: all .5s;
	display: table;
	margin: 20px auto;
}
.blog-sect .blog-set h5 a {
	padding: 20px 0 10px 0;
}
.footer ul.social-fot {
	margin: 10px auto 30px auto;
	display: table;
}
.footer .ft-blg-set h5 a {
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 10px;
}
.footer h3 {
	letter-spacing: 0px;
	margin-bottom: 25px;
	text-align: center;
}
.section_title p {
	font-size: 12px;
	line-height: 22px;
}
.section_title {
	padding: 0 1rem;
}
.blog-sect .blog-set p {
	padding-bottom: 1rem;
}
.blog-sect .blog-set h5 {
	white-space: inherit;
}
.footer {
	padding: 60px 0 0 0;
}
.footer .botm-fot {
	margin-top: 50px;
}
.footer ul.quck-links {
	text-align: center;
	margin-bottom: 20px;
}
.footer .adres-ft {
	text-align: center;
}
.footer .buis-hres p {
	text-align: center;
}
.heading-left {
    width: 75%;
    line-height: 48px;
    margin: 50px auto;
    font-size: 38px;
}
	.wrap-login100 {
    width: 90%;
    height: auto;
    margin: 30px auto;
}
	.box-conatiner::before {
    width: 0;
    height: auto;
}
	.p-l-55 {
    padding-left: 20px;
}

.p-r-55 {
    padding-right: 20px;
}
}

/*media section end*/
