.owl-carousel .owl-item a {
	display:block;
}
.credit {
 
    /* margin: 0 0 30px 0; */
    /* float: right; */
    
    background: #000;
    margin: 0 auto;
    display: table;
	position:absolute;
}
.caret-up {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
}
.drop-up {
	top: auto;
	bottom: 100% !important;
}
.credit .btn-default {
	background: #222 url(../images/droparrow.png) no-repeat 97% 50% !important;
	padding: 5px 20px;
	width: 100%;
	border: none;
	text-align: left;
	border-radius: 0;
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	font-family: Swis721 BT;
	border: 1px solid #2e323e;
}
.credit .btn-group {
	
    position: absolute;
    bottom: -25px;
}
.credit .open > .dropdown-menu {
	width: 100%;
	background: #191c23;
	border: none;
	border-radius: 0;
	border-bottom: 0;
}
.credit .dropdown-menu-ftrbtm {
	min-width: 90px;
}
.credit ul li a {
	color: #fff;
	font-size: 12px;
	font-family: Arial;
}
#button {
	display: inline-block;
	background: #1a1b1f url(../images/toparrow.png) no-repeat 50% 50%;
	width: 50px;
	height: 50px;
	transition: background-color .3s,;
	opacity : .5s;
	visibility: .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}
#button:hover {
	cursor: pointer;
	background-color: #333;
}
#button:active {
	background-color: #555;
}
#button.show {
	opacity: 1;
	visibility: visible;
}

.vio-wrp .vdio-grid .video-play  {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
div.video {
   width: 420px;
   height: 315px;
   padding: 20px;
   display: none;
   position: absolute;
   top:20% !important;
   left:0 !important;
    right: 0 !important;
    margin: 0 auto;
}
div.video-wrapper {
   z-index: 9999;
   background: rgba(0,0,0,.5);
   position: fixed;
   display: none;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
}
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}

.owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:60px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{    width: 15px;
    height: 15px;
    margin: 5px 7px;
    background: #2d1aff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    border: 4px solid #070519;}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background: #2d1aff;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(45,26,255,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(45,26,255,1);
    box-shadow: 0px 0px 0px 2px rgba(45,26,255,1);
    border: 4px solid #070519;
}
.owl-carousel.owl-drag .owl-item {
	display:block;
}
.owl-carousel.owl-drag .owl-item .item {
	display:block;
}
.slidersection .owl-nav{display:none;}
.slidersection  .owl-dots{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
	display:none;
}
.slidersection .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
   border-radius: 0px;
}
.slidersection .owl-theme .owl-dots .owl-dot.active span, .slidersection .owl-theme .owl-dots .owl-dot:hover span {
    background: #2d1aff;
}
.owl-carousel .owl-item img {
	margin: 0 auto;
	    width: 100%;
}
@media  (max-width: 768px) {
.slidersection .owl-dots {
    bottom: 0px;
}
}